.dxCardView_gvCellError_Metropolis,
.dxCardView_gvFilterRowButton_Metropolis,
.dxCardView_gvHeaderFilter_Metropolis,
.dxCardView_gvHeaderFilterActive_Metropolis,
.dxCardView_gvHeaderSortDown_Metropolis,
.dxCardView_gvHeaderSortUp_Metropolis
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxCardView_gvCellError_Metropolis
{
    background-position: 0px -34px;
    width: 14px;
    height: 14px;
}
.dxCardView_gvFilterRowButton_Metropolis
{
    background-position: 0px -49px;
    width: 14px;
    height: 14px;
}
.dxCardView_gvHeaderFilter_Metropolis
{
    background-position: 0px 0px;
    width: 14px;
    height: 16px;
}
.dxCardView_gvHeaderFilterActive_Metropolis
{
    background-position: 0px -17px;
    width: 14px;
    height: 16px;
}
.dxCardView_gvHeaderSortDown_Metropolis
{
    background-position: 0px -70px;
    width: 7px;
    height: 5px;
}
.dxCardView_gvHeaderSortUp_Metropolis
{
    background-position: 0px -64px;
    width: 7px;
    height: 5px;
}
.dxCardView_gvHeaderFilterActive_Metropolis
{
	background-color: #ff8800;
}
