.dxpc-closeBtnHover .dxPivotGrid_pgCustomizationFormCloseButton_XafTheme,
.dxPivotGrid_CTNAttribute,
.dxPivotGrid_CTNCalculatedMeasure,
.dxPivotGrid_CTNDimension,
.dxPivotGrid_CTNFolderClosed,
.dxPivotGrid_CTNFolderOpen,
.dxPivotGrid_CTNHierarchy,
.dxPivotGrid_CTNKpi,
.dxPivotGrid_CTNMeasure,
.dxPivotGrid_FLBottomPanelOnly1by4_XafTheme,
.dxPivotGrid_FLBottomPanelOnly2by2_XafTheme,
.dxPivotGrid_FLButton_XafTheme,
.dxPivotGrid_FLColumnAreaHeaders_XafTheme,
.dxPivotGrid_FLDataAreaHeaders_XafTheme,
.dxPivotGrid_FLFieldList_XafTheme,
.dxPivotGrid_FLFilterAreaHeaders_XafTheme,
.dxPivotGrid_FLRowAreaHeaders_XafTheme,
.dxPivotGrid_FLStackedDefault_XafTheme,
.dxPivotGrid_FLStackedSideBySide_XafTheme,
.dxPivotGrid_FLTopPanelOnly_XafTheme,
.dxPivotGrid_pgCollapsedButton_XafTheme,
.dxPivotGrid_pgCustomizationFormCloseButton_XafTheme,
.dxPivotGrid_pgDataHeaders_XafTheme,
.dxPivotGrid_pgDragArrowDown_XafTheme,
.dxPivotGrid_pgDragArrowLeft_XafTheme,
.dxPivotGrid_pgDragArrowRight_XafTheme,
.dxPivotGrid_pgDragArrowUp_XafTheme,
.dxPivotGrid_pgDragHideField_XafTheme,
.dxPivotGrid_pgExpandedButton_XafTheme,
.dxPivotGrid_pgFilterButton_XafTheme,
.dxPivotGrid_pgFilterButtonActive_XafTheme,
.dxPivotGrid_pgFilterResizer_XafTheme,
.dxPivotGrid_pgGroupSeparator_XafTheme,
.dxPivotGrid_pgPrefilterButton_XafTheme,
.dxPivotGrid_pgSortByColumn_XafTheme,
.dxPivotGrid_pgSortDownButton_XafTheme,
.dxPivotGrid_pgSortUpButton_XafTheme
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxpc-closeBtnHover .dxPivotGrid_pgCustomizationFormCloseButton_XafTheme
{
    background-position: -60px -33px;
    width: 18px;
    height: 18px;
}
.dxPivotGrid_CTNAttribute
{
    background-position: -117px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNCalculatedMeasure
{
    background-position: -119px -53px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNDimension
{
    background-position: 0px -53px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNFolderClosed
{
    background-position: -51px -53px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNFolderOpen
{
    background-position: -168px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNHierarchy
{
    background-position: -68px -53px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNKpi
{
    background-position: -151px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNMeasure
{
    background-position: -136px -53px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLBottomPanelOnly1by4_XafTheme
{
    background-position: -132px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLBottomPanelOnly2by2_XafTheme
{
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLButton_XafTheme
{
    background-position: -85px -53px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLColumnAreaHeaders_XafTheme
{
    background-position: -185px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLDataAreaHeaders_XafTheme
{
    background-position: -102px -53px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLFieldList_XafTheme
{
    background-position: -134px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLFilterAreaHeaders_XafTheme
{
    background-position: -153px -53px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLRowAreaHeaders_XafTheme
{
    background-position: -17px -53px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLStackedDefault_XafTheme
{
    background-position: -66px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLStackedSideBySide_XafTheme
{
    background-position: -99px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLTopPanelOnly_XafTheme
{
    background-position: -33px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_pgCollapsedButton_XafTheme
{
    background-position: -202px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_pgCustomizationFormCloseButton_XafTheme
{
    background-position: -79px -33px;
    width: 18px;
    height: 18px;
}
.dxPivotGrid_pgDataHeaders_XafTheme
{
    background-position: -206px -20px;
    width: 12px;
    height: 12px;
}
.dxPivotGrid_pgDragArrowDown_XafTheme
{
    background-position: -184px -23px;
    width: 11px;
    height: 9px;
}
.dxPivotGrid_pgDragArrowLeft_XafTheme
{
    background-position: -208px 0px;
    width: 9px;
    height: 11px;
}
.dxPivotGrid_pgDragArrowRight_XafTheme
{
    background-position: -196px -21px;
    width: 9px;
    height: 11px;
}
.dxPivotGrid_pgDragArrowUp_XafTheme
{
    background-position: -172px -23px;
    width: 11px;
    height: 9px;
}
.dxPivotGrid_pgDragHideField_XafTheme
{
    background-position: -165px 0px;
    width: 22px;
    height: 22px;
}
.dxPivotGrid_pgExpandedButton_XafTheme
{
    background-position: -34px -53px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_pgFilterButton_XafTheme
{
    background-position: -188px 0px;
    width: 19px;
    height: 19px;
}
.dxPivotGrid_pgFilterButtonActive_XafTheme
{
    background-position: 0px -33px;
    width: 19px;
    height: 19px;
}
.dxPivotGrid_pgFilterResizer_XafTheme
{
    background-position: -98px -33px;
    width: 18px;
    height: 18px;
}
.dxPivotGrid_pgGroupSeparator_XafTheme
{
    background-position: -166px -31px;
    width: 5px;
    height: 1px;
}
.dxPivotGrid_pgPrefilterButton_XafTheme
{
    background-position: -186px -53px;
    width: 13px;
    height: 13px;
}
.dxPivotGrid_pgSortByColumn_XafTheme
{
    background-position: -170px -53px;
    width: 15px;
    height: 14px;
}
.dxPivotGrid_pgSortDownButton_XafTheme
{
    background-position: -40px -33px;
    width: 19px;
    height: 19px;
}
.dxPivotGrid_pgSortUpButton_XafTheme
{
    background-position: -20px -33px;
    width: 19px;
    height: 19px;
}
.dxPivotGrid_pgFilterButtonActive_XafTheme
{
	background-color: #1279C0;
}
.dxPivotGrid_pgCustomizationFormCloseButton_XafTheme,
.dxPivotGrid_FLButton_XafTheme
{
    display:block;
}

