.dxm-hovered .dxXtraReports_BtnFirstPage_XafTheme,
.dxm-hovered .dxXtraReports_BtnLastPage_XafTheme,
.dxm-hovered .dxXtraReports_BtnNextPage_XafTheme,
.dxm-hovered .dxXtraReports_BtnPrevPage_XafTheme,
.dxm-hovered .dxXtraReports_BtnPrint_XafTheme,
.dxm-hovered .dxXtraReports_BtnPrintPage_XafTheme,
.dxm-hovered .dxXtraReports_BtnSave_XafTheme,
.dxm-hovered .dxXtraReports_BtnSaveWindow_XafTheme,
.dxm-hovered .dxXtraReports_BtnSearch_XafTheme,
.dxXtraReports_BtnFirstPage_XafTheme,
.dxXtraReports_BtnFirstPageDisabled_XafTheme,
.dxXtraReports_BtnLastPage_XafTheme,
.dxXtraReports_BtnLastPageDisabled_XafTheme,
.dxXtraReports_BtnNextPage_XafTheme,
.dxXtraReports_BtnNextPageDisabled_XafTheme,
.dxXtraReports_BtnPrevPage_XafTheme,
.dxXtraReports_BtnPrevPageDisabled_XafTheme,
.dxXtraReports_BtnPrint_XafTheme,
.dxXtraReports_BtnPrintDisabled_XafTheme,
.dxXtraReports_BtnPrintPage_XafTheme,
.dxXtraReports_BtnPrintPageDisabled_XafTheme,
.dxXtraReports_BtnSave_XafTheme,
.dxXtraReports_BtnSaveDisabled_XafTheme,
.dxXtraReports_BtnSaveWindow_XafTheme,
.dxXtraReports_BtnSaveWindowDisabled_XafTheme,
.dxXtraReports_BtnSearch_XafTheme,
.dxXtraReports_BtnSearchDisabled_XafTheme,
.dxXtraReports_PageBorder_blc_XafTheme,
.dxXtraReports_PageBorder_brc_XafTheme,
.dxXtraReports_PageBorder_tlc_XafTheme,
.dxXtraReports_PageBorder_trc_XafTheme
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxm-hovered .dxXtraReports_BtnFirstPage_XafTheme
{
    background-position: 0px -272px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnLastPage_XafTheme
{
    background-position: 0px -68px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnNextPage_XafTheme
{
    background-position: 0px -357px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnPrevPage_XafTheme
{
    background-position: 0px -51px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnPrint_XafTheme
{
    background-position: 0px -187px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnPrintPage_XafTheme
{
    background-position: 0px -102px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnSave_XafTheme
{
    background-position: 0px -221px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnSaveWindow_XafTheme
{
    background-position: 0px -391px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnSearch_XafTheme
{
    background-position: 0px -374px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnFirstPage_XafTheme
{
    background-position: 0px -289px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnFirstPageDisabled_XafTheme
{
    background-position: 0px -119px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnLastPage_XafTheme
{
    background-position: 0px -323px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnLastPageDisabled_XafTheme
{
    background-position: 0px -306px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnNextPage_XafTheme
{
    background-position: 0px -17px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnNextPageDisabled_XafTheme
{
    background-position: 0px -136px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrevPage_XafTheme
{
    background-position: 0px -255px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrevPageDisabled_XafTheme
{
    background-position: 0px -34px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrint_XafTheme
{
    background-position: 0px -85px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrintDisabled_XafTheme
{
    background-position: 0px -204px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrintPage_XafTheme
{
    background-position: 0px -425px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrintPageDisabled_XafTheme
{
    background-position: 0px -442px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSave_XafTheme
{
    background-position: 0px -238px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSaveDisabled_XafTheme
{
    background-position: 0px -170px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSaveWindow_XafTheme
{
    background-position: 0px 0px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSaveWindowDisabled_XafTheme
{
    background-position: 0px -340px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSearch_XafTheme
{
    background-position: 0px -153px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSearchDisabled_XafTheme
{
    background-position: 0px -408px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_PageBorder_blc_XafTheme
{
    background-position: 0px -481px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_brc_XafTheme
{
    background-position: 0px -470px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_tlc_XafTheme
{
    background-position: 0px -492px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_trc_XafTheme
{
    background-position: 0px -459px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_t_XafTheme,
.dxXtraReports_PageBorder_l_XafTheme,
.dxXtraReports_PageBorder_r_XafTheme,
.dxXtraReports_PageBorder_b_XafTheme {
    padding: 0px;
    background-color: transparent;
}

.dxXtraReports_PageBorder_t_XafTheme {
    background-image: url('pageTopBorder.png');
    background-repeat: repeat-x;
    width: 1px;
    height: 10px;
}

.dxXtraReports_PageBorder_l_XafTheme {
    background-image: url('pageLeftBorder.png');
    background-repeat: repeat-y;
    width: 10px;
    height: 1px;
}

.dxXtraReports_PageBorder_r_XafTheme {
    background-image: url('pageRightBorder.png');
    background-repeat: repeat-y;
    width: 10px;
    height: 1px;
}

.dxXtraReports_PageBorder_b_XafTheme {
    background-image: url('pageBottomBorder.png');
    background-repeat: repeat-x;
    width: 1px;
    height: 10px;
}

