/*满意度-START*/ 
p.head {
            margin-bottom: .0001pt;
            text-align: center;
            font-size: 20pt;
            font-family: 宋体;
            margin-left: 0cm;
            margin-right: 0cm;
            margin-top: 60px;
            margin-bottom: 20px;
        }
table{
    width:955px;
       }

 table td {
            border: 1px solid gray;
            height: 35px;
            padding:0px 8px 0px 6px;
        }

 .hd_text {
            width:900px;
            margin-left: auto;
            margin-right:auto;
            margin-bottom:10px;
            font-size: 18px;
            line-height: 30px;
        }

 .main_text {
            text-indent: 2em;
            width: 900px;
            margin-left: auto;
            margin-right:auto;
            margin-bottom:10px;
            font-size: 18px;
            line-height: 30px;
        }
  .text {
             width: 900px;
            margin-left: auto;
            margin-right:auto;
            font-size: 18px;
            line-height: 30px;
        }
  .submit {
            width: 70px;
            margin-left: auto;
            margin-right:auto;
            margin-top:20px;
             
        }
/*满意度-END*/ 