.dxPivotGrid_CTNAttribute,
.dxPivotGrid_CTNCalculatedMeasure,
.dxPivotGrid_CTNDimension,
.dxPivotGrid_CTNFolderClosed,
.dxPivotGrid_CTNFolderOpen,
.dxPivotGrid_CTNHierarchy,
.dxPivotGrid_CTNKpi,
.dxPivotGrid_CTNMeasure,
.dxPivotGrid_FLBottomPanelOnly1by4_Office2003Blue,
.dxPivotGrid_FLBottomPanelOnly2by2_Office2003Blue,
.dxPivotGrid_FLButton_Office2003Blue,
.dxPivotGrid_FLColumnAreaHeaders_Office2003Blue,
.dxPivotGrid_FLDataAreaHeaders_Office2003Blue,
.dxPivotGrid_FLFieldList_Office2003Blue,
.dxPivotGrid_FLFilterAreaHeaders_Office2003Blue,
.dxPivotGrid_FLRowAreaHeaders_Office2003Blue,
.dxPivotGrid_FLStackedDefault_Office2003Blue,
.dxPivotGrid_FLStackedSideBySide_Office2003Blue,
.dxPivotGrid_FLTopPanelOnly_Office2003Blue,
.dxPivotGrid_pgCollapsedButton_Office2003Blue,
.dxPivotGrid_pgCustomizationFormCloseButton_Office2003Blue,
.dxPivotGrid_pgDataHeaders_Office2003Blue,
.dxPivotGrid_pgDragArrowDown_Office2003Blue,
.dxPivotGrid_pgDragArrowLeft_Office2003Blue,
.dxPivotGrid_pgDragArrowRight_Office2003Blue,
.dxPivotGrid_pgDragArrowUp_Office2003Blue,
.dxPivotGrid_pgDragHideField_Office2003Blue,
.dxPivotGrid_pgExpandedButton_Office2003Blue,
.dxPivotGrid_pgFilterButton_Office2003Blue,
.dxPivotGrid_pgFilterButtonActive_Office2003Blue,
.dxPivotGrid_pgFilterResizer_Office2003Blue,
.dxPivotGrid_pgGroupSeparator_Office2003Blue,
.dxPivotGrid_pgPrefilterButton_Office2003Blue,
.dxPivotGrid_pgSortByColumn_Office2003Blue,
.dxPivotGrid_pgSortDownButton_Office2003Blue,
.dxPivotGrid_pgSortUpButton_Office2003Blue
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxPivotGrid_CTNAttribute
{
    background-position: -188px 0px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNCalculatedMeasure
{
    background-position: -136px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNDimension
{
    background-position: -34px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNFolderClosed
{
    background-position: -222px 0px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNFolderOpen
{
    background-position: -51px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNHierarchy
{
    background-position: -170px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNKpi
{
    background-position: -239px 0px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNMeasure
{
    background-position: -17px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLBottomPanelOnly1by4_Office2003Blue
{
    background-position: -66px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLBottomPanelOnly2by2_Office2003Blue
{
    background-position: -33px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLButton_Office2003Blue
{
    background-position: -85px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLColumnAreaHeaders_Office2003Blue
{
    background-position: -102px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLDataAreaHeaders_Office2003Blue
{
    background-position: -153px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLFieldList_Office2003Blue
{
    background-position: -68px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLFilterAreaHeaders_Office2003Blue
{
    background-position: -119px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLRowAreaHeaders_Office2003Blue
{
    background-position: -205px 0px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLStackedDefault_Office2003Blue
{
    background-position: -132px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLStackedSideBySide_Office2003Blue
{
    background-position: -99px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLTopPanelOnly_Office2003Blue
{
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_pgCollapsedButton_Office2003Blue
{
    background-position: -208px -20px;
    width: 11px;
    height: 12px;
}
.dxPivotGrid_pgCustomizationFormCloseButton_Office2003Blue
{
    background-position: -233px -20px;
    width: 13px;
    height: 12px;
}
.dxPivotGrid_pgDataHeaders_Office2003Blue
{
    background-position: -220px -20px;
    width: 12px;
    height: 12px;
}
.dxPivotGrid_pgDragArrowDown_Office2003Blue
{
    background-position: -184px -23px;
    width: 11px;
    height: 9px;
}
.dxPivotGrid_pgDragArrowLeft_Office2003Blue
{
    background-position: -219px -33px;
    width: 9px;
    height: 11px;
}
.dxPivotGrid_pgDragArrowRight_Office2003Blue
{
    background-position: -229px -33px;
    width: 9px;
    height: 11px;
}
.dxPivotGrid_pgDragArrowUp_Office2003Blue
{
    background-position: -172px -23px;
    width: 11px;
    height: 9px;
}
.dxPivotGrid_pgDragHideField_Office2003Blue
{
    background-position: -165px 0px;
    width: 22px;
    height: 22px;
}
.dxPivotGrid_pgExpandedButton_Office2003Blue
{
    background-position: -196px -20px;
    width: 11px;
    height: 12px;
}
.dxPivotGrid_pgFilterButton_Office2003Blue
{
    background-position: -203px -33px;
    width: 15px;
    height: 16px;
}
.dxPivotGrid_pgFilterButtonActive_Office2003Blue
{
    background-position: -187px -33px;
    width: 15px;
    height: 16px;
}
.dxPivotGrid_pgFilterResizer_Office2003Blue
{
    background-position: 0px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_pgGroupSeparator_Office2003Blue
{
    background-position: -166px -31px;
    width: 5px;
    height: 1px;
}
.dxPivotGrid_pgPrefilterButton_Office2003Blue
{
    background-position: -247px -19px;
    width: 13px;
    height: 13px;
}
.dxPivotGrid_pgSortByColumn_Office2003Blue
{
    background-position: -239px -33px;
    width: 11px;
    height: 7px;
}
.dxPivotGrid_pgSortDownButton_Office2003Blue
{
    background-position: -251px -33px;
    width: 7px;
    height: 8px;
}
.dxPivotGrid_pgSortUpButton_Office2003Blue
{
    background-position: -239px -41px;
    width: 7px;
    height: 8px;
}
.dxPivotGrid_pgCustomizationFormCloseButton_Office2003Blue,
.dxPivotGrid_FLButton_Office2003Blue
{
    display:block;
}
.dxPivotGrid_FLStackedDefault_Office2003Blue,
.dxPivotGrid_FLStackedSideBySide_Office2003Blue,
.dxPivotGrid_FLTopPanelOnly_Office2003Blue,
.dxPivotGrid_FLBottomPanelOnly2by2_Office2003Blue,
.dxPivotGrid_FLBottomPanelOnly1by4_Office2003Blue
{
    margin-left:-7px;
}
