.dxRichEdit_CenterTabDragHandle_iOS,
.dxRichEdit_DecimalTabDragHandle_iOS,
.dxRichEdit_FirstLineIdentDragHandle_iOS,
.dxRichEdit_LeftIdentDragHandle_iOS,
.dxRichEdit_LeftTabDragHandle_iOS,
.dxRichEdit_RightIdentDragHandle_iOS,
.dxRichEdit_RightTabDragHandle_iOS
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxRichEdit_CenterTabDragHandle_iOS
{
    background-position: 0px -34px;
    width: 8px;
    height: 6px;
}
.dxRichEdit_DecimalTabDragHandle_iOS
{
    background-position: 0px -27px;
    width: 8px;
    height: 6px;
}
.dxRichEdit_FirstLineIdentDragHandle_iOS
{
    background-position: 0px -9px;
    width: 9px;
    height: 8px;
}
.dxRichEdit_LeftIdentDragHandle_iOS
{
    background-position: 0px -18px;
    width: 9px;
    height: 8px;
}
.dxRichEdit_LeftTabDragHandle_iOS
{
    background-position: 0px -48px;
    width: 6px;
    height: 6px;
}
.dxRichEdit_RightIdentDragHandle_iOS
{
    background-position: 0px 0px;
    width: 9px;
    height: 8px;
}
.dxRichEdit_RightTabDragHandle_iOS
{
    background-position: 0px -41px;
    width: 6px;
    height: 6px;
}

