.dxRichEdit_CenterTabDragHandle_Glass,
.dxRichEdit_DecimalTabDragHandle_Glass,
.dxRichEdit_FirstLineIdentDragHandle_Glass,
.dxRichEdit_LeftIdentDragHandle_Glass,
.dxRichEdit_LeftTabDragHandle_Glass,
.dxRichEdit_RightIdentDragHandle_Glass,
.dxRichEdit_RightTabDragHandle_Glass
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxRichEdit_CenterTabDragHandle_Glass
{
    background-position: 0px -34px;
    width: 8px;
    height: 6px;
}
.dxRichEdit_DecimalTabDragHandle_Glass
{
    background-position: 0px -27px;
    width: 8px;
    height: 6px;
}
.dxRichEdit_FirstLineIdentDragHandle_Glass
{
    background-position: 0px -9px;
    width: 9px;
    height: 8px;
}
.dxRichEdit_LeftIdentDragHandle_Glass
{
    background-position: 0px -18px;
    width: 9px;
    height: 8px;
}
.dxRichEdit_LeftTabDragHandle_Glass
{
    background-position: 0px -48px;
    width: 6px;
    height: 6px;
}
.dxRichEdit_RightIdentDragHandle_Glass
{
    background-position: 0px 0px;
    width: 9px;
    height: 8px;
}
.dxRichEdit_RightTabDragHandle_Glass
{
    background-position: 0px -41px;
    width: 6px;
    height: 6px;
}

