.dxGridView_gvCellError_RedWine,
.dxGridView_gvCMClearFilter_RedWine,
.dxGridView_gvCMClearFilterDisabled_RedWine,
.dxGridView_gvCMClearGrouping_RedWine,
.dxGridView_gvCMClearGroupingDisabled_RedWine,
.dxGridView_gvCMCollapseDetailRow_RedWine,
.dxGridView_gvCMCollapseDetailRowDisabled_RedWine,
.dxGridView_gvCMCollapseRow_RedWine,
.dxGridView_gvCMCollapseRowDisabled_RedWine,
.dxGridView_gvCMDeleteRow_RedWine,
.dxGridView_gvCMDeleteRowDisabled_RedWine,
.dxGridView_gvCMEditRow_RedWine,
.dxGridView_gvCMEditRowDisabled_RedWine,
.dxGridView_gvCMExpandDetailRow_RedWine,
.dxGridView_gvCMExpandDetailRowDisabled_RedWine,
.dxGridView_gvCMExpandRow_RedWine,
.dxGridView_gvCMExpandRowDisabled_RedWine,
.dxGridView_gvCMFullCollapse_RedWine,
.dxGridView_gvCMFullCollapseDisabled_RedWine,
.dxGridView_gvCMFullExpand_RedWine,
.dxGridView_gvCMFullExpandDisabled_RedWine,
.dxGridView_gvCMGroupByColumn_RedWine,
.dxGridView_gvCMGroupByColumnDisabled_RedWine,
.dxGridView_gvCMNewRow_RedWine,
.dxGridView_gvCMNewRowDisabled_RedWine,
.dxGridView_gvCMRefresh_RedWine,
.dxGridView_gvCMRefreshDisabled_RedWine,
.dxGridView_gvCMSearchPanel_RedWine,
.dxGridView_gvCMSearchPanelDisabled_RedWine,
.dxGridView_gvCMShowCustomizationWindow_RedWine,
.dxGridView_gvCMShowCustomizationWindowDisabled_RedWine,
.dxGridView_gvCMShowFilterEditor_RedWine,
.dxGridView_gvCMShowFilterEditorDisabled_RedWine,
.dxGridView_gvCMShowGroupPanel_RedWine,
.dxGridView_gvCMShowGroupPanelDisabled_RedWine,
.dxGridView_gvCMShowSearchPanel_RedWine,
.dxGridView_gvCMShowSearchPanelDisabled_RedWine,
.dxGridView_gvCMSortAscending_RedWine,
.dxGridView_gvCMSortAscendingDisabled_RedWine,
.dxGridView_gvCMSortDescending_RedWine,
.dxGridView_gvCMSortDescendingDisabled_RedWine,
.dxGridView_gvCMSummaryAverage_RedWine,
.dxGridView_gvCMSummaryAverageDisabled_RedWine,
.dxGridView_gvCMSummaryCount_RedWine,
.dxGridView_gvCMSummaryCountDisabled_RedWine,
.dxGridView_gvCMSummaryMax_RedWine,
.dxGridView_gvCMSummaryMaxDisabled_RedWine,
.dxGridView_gvCMSummaryMin_RedWine,
.dxGridView_gvCMSummaryMinDisabled_RedWine,
.dxGridView_gvCMSummarySum_RedWine,
.dxGridView_gvCMSummarySumDisabled_RedWine,
.dxGridView_gvCMUngroupColumn_RedWine,
.dxGridView_gvCollapsedButton_RedWine,
.dxGridView_gvCollapsedButtonRtl_RedWine,
.dxGridView_gvDetailCollapsedButton_RedWine,
.dxGridView_gvDetailCollapsedButtonRtl_RedWine,
.dxGridView_gvDetailExpandedButton_RedWine,
.dxGridView_gvDetailExpandedButtonRtl_RedWine,
.dxGridView_gvDragAndDropArrowDown_RedWine,
.dxGridView_gvDragAndDropArrowUp_RedWine,
.dxGridView_gvDragAndDropHideColumn_RedWine,
.dxGridView_gvExpandedButton_RedWine,
.dxGridView_gvExpandedButtonRtl_RedWine,
.dxGridView_gvFilterRowButton_RedWine,
.dxGridView_gvFixedGroupRow_RedWine,
.dxGridView_gvHeaderFilter_RedWine,
.dxGridView_gvHeaderFilterActive_RedWine,
.dxGridView_gvHeaderSortDown_RedWine,
.dxGridView_gvHeaderSortUp_RedWine,
.dxGridView_gvHideAdaptiveDetailButton_RedWine,
.dxGridView_gvParentGroupRows_RedWine,
.dxGridView_gvShowAdaptiveDetailButton_RedWine,
.dxGridView_WindowResizer_RedWine,
.dxGridView_WindowResizerRtl_RedWine
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxGridView_gvCellError_RedWine
{
    background-position: -122px -108px;
    width: 14px;
    height: 14px;
}
.dxGridView_gvCMClearFilter_RedWine
{
    background-position: -51px -57px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMClearFilterDisabled_RedWine
{
    background-position: -17px -91px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMClearGrouping_RedWine
{
    background-position: -51px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMClearGroupingDisabled_RedWine
{
    background-position: -68px -91px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseDetailRow_RedWine
{
    background-position: -85px -74px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseDetailRowDisabled_RedWine
{
    background-position: -136px -40px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseRow_RedWine
{
    background-position: 0px -91px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseRowDisabled_RedWine
{
    background-position: -119px -74px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMDeleteRow_RedWine
{
    background-position: -85px -91px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMDeleteRowDisabled_RedWine
{
    background-position: -119px -91px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMEditRow_RedWine
{
    background-position: -102px -57px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMEditRowDisabled_RedWine
{
    background-position: -119px -57px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandDetailRow_RedWine
{
    background-position: -102px -91px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandDetailRowDisabled_RedWine
{
    background-position: 0px -57px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandRow_RedWine
{
    background-position: -17px -74px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandRowDisabled_RedWine
{
    background-position: -102px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullCollapse_RedWine
{
    background-position: -136px -57px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullCollapseDisabled_RedWine
{
    background-position: -51px -40px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullExpand_RedWine
{
    background-position: -133px 0px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullExpandDisabled_RedWine
{
    background-position: -17px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMGroupByColumn_RedWine
{
    background-position: -34px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMGroupByColumnDisabled_RedWine
{
    background-position: 0px -74px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMNewRow_RedWine
{
    background-position: -17px -40px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMNewRowDisabled_RedWine
{
    background-position: -136px -74px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMRefresh_RedWine
{
    background-position: -116px 0px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMRefreshDisabled_RedWine
{
    background-position: -17px -57px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSearchPanel_RedWine
{
    background-position: -68px -74px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSearchPanelDisabled_RedWine
{
    background-position: -85px -57px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowCustomizationWindow_RedWine
{
    background-position: -68px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowCustomizationWindowDisabled_RedWine
{
    background-position: -51px -91px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowFilterEditor_RedWine
{
    background-position: -136px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowFilterEditorDisabled_RedWine
{
    background-position: -68px -57px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowGroupPanel_RedWine
{
    background-position: -17px -108px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowGroupPanelDisabled_RedWine
{
    background-position: -99px 0px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowSearchPanel_RedWine
{
    background-position: -85px -40px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowSearchPanelDisabled_RedWine
{
    background-position: -136px -91px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortAscending_RedWine
{
    background-position: 0px -40px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortAscendingDisabled_RedWine
{
    background-position: -102px -74px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortDescending_RedWine
{
    background-position: -119px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortDescendingDisabled_RedWine
{
    background-position: -34px -40px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryAverage_RedWine
{
    background-position: -82px 0px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryAverageDisabled_RedWine
{
    background-position: -34px -57px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryCount_RedWine
{
    background-position: 0px -108px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryCountDisabled_RedWine
{
    background-position: -85px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMax_RedWine
{
    background-position: -51px -74px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMaxDisabled_RedWine
{
    background-position: 0px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMin_RedWine
{
    background-position: -102px -40px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMinDisabled_RedWine
{
    background-position: -34px -91px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummarySum_RedWine
{
    background-position: -119px -40px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummarySumDisabled_RedWine
{
    background-position: -34px -74px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMUngroupColumn_RedWine
{
    background-position: -68px -40px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCollapsedButton_RedWine
{
    background-position: -82px -108px;
    width: 15px;
    height: 15px;
}
.dxGridView_gvCollapsedButtonRtl_RedWine
{
    background-position: -66px -108px;
    width: 15px;
    height: 15px;
}
.dxGridView_gvDetailCollapsedButton_RedWine
{
    background-position: -59px -125px;
    width: 11px;
    height: 12px;
}
.dxGridView_gvDetailCollapsedButtonRtl_RedWine
{
    background-position: -83px -125px;
    width: 11px;
    height: 12px;
}
.dxGridView_gvDetailExpandedButton_RedWine
{
    background-position: -71px -125px;
    width: 11px;
    height: 12px;
}
.dxGridView_gvDetailExpandedButtonRtl_RedWine
{
    background-position: -47px -125px;
    width: 11px;
    height: 12px;
}
.dxGridView_gvDragAndDropArrowDown_RedWine
{
    background-position: -135px -125px;
    width: 11px;
    height: 9px;
}
.dxGridView_gvDragAndDropArrowUp_RedWine
{
    background-position: -123px -125px;
    width: 11px;
    height: 9px;
}
.dxGridView_gvDragAndDropHideColumn_RedWine
{
    background-position: 0px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvExpandedButton_RedWine
{
    background-position: -50px -108px;
    width: 15px;
    height: 15px;
}
.dxGridView_gvExpandedButtonRtl_RedWine
{
    background-position: -34px -108px;
    width: 15px;
    height: 15px;
}
.dxGridView_gvFilterRowButton_RedWine
{
    background-position: -33px -125px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvFixedGroupRow_RedWine
{
    background-position: -63px 0px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvHeaderFilter_RedWine
{
    background-position: -23px 0px;
    width: 19px;
    height: 19px;
}
.dxGridView_gvHeaderFilterActive_RedWine
{
    background-position: -43px 0px;
    width: 19px;
    height: 19px;
}
.dxGridView_gvHeaderSortDown_RedWine
{
    background-position: -98px -108px;
    width: 11px;
    height: 15px;
}
.dxGridView_gvHeaderSortUp_RedWine
{
    background-position: -110px -108px;
    width: 11px;
    height: 15px;
}
.dxGridView_gvHideAdaptiveDetailButton_RedWine
{
    background-position: -109px -125px;
    width: 13px;
    height: 11px;
}
.dxGridView_gvParentGroupRows_RedWine
{
    background-position: 0px -125px;
    width: 18px;
    height: 13px;
}
.dxGridView_gvShowAdaptiveDetailButton_RedWine
{
    background-position: -95px -125px;
    width: 13px;
    height: 11px;
}
.dxGridView_WindowResizer_RedWine
{
    background-position: -19px -125px;
    width: 13px;
    height: 13px;
}
.dxGridView_WindowResizerRtl_RedWine
{
    background-position: -137px -108px;
    width: 13px;
    height: 13px;
}

