.dxeButtonEditButtonHover_Office2003Silver .dxEditors_edtClear_Office2003Silver,
.dxEditors_caRefresh_Office2003Silver,
.dxEditors_edtBinaryImageDelete_Office2003Silver,
.dxEditors_edtBinaryImageOpenDialog_Office2003Silver,
.dxEditors_edtCalendarFNNextYear_Office2003Silver,
.dxEditors_edtCalendarFNPrevYear_Office2003Silver,
.dxEditors_edtCalendarNextMonth_Office2003Silver,
.dxEditors_edtCalendarNextMonthDisabled_Office2003Silver,
.dxEditors_edtCalendarNextYear_Office2003Silver,
.dxEditors_edtCalendarNextYearDisabled_Office2003Silver,
.dxEditors_edtCalendarPrevMonth_Office2003Silver,
.dxEditors_edtCalendarPrevMonthDisabled_Office2003Silver,
.dxEditors_edtCalendarPrevYear_Office2003Silver,
.dxEditors_edtCalendarPrevYearDisabled_Office2003Silver,
.dxEditors_edtClear_Office2003Silver,
.dxEditors_edtDETSClockFace_Office2003Silver,
.dxEditors_edtDETSHourHand_Office2003Silver,
.dxEditors_edtDETSMinuteHand_Office2003Silver,
.dxEditors_edtDETSSecondHand_Office2003Silver,
.dxEditors_edtDropDown_Office2003Silver,
.dxEditors_edtDropDownDisabled_Office2003Silver,
.dxEditors_edtEllipsis_Office2003Silver,
.dxEditors_edtEllipsisDisabled_Office2003Silver,
.dxEditors_edtError_Office2003Silver,
.dxEditors_edtRadioButtonChecked_Office2003Silver,
.dxEditors_edtRadioButtonCheckedDisabled_Office2003Silver,
.dxEditors_edtRadioButtonUnchecked_Office2003Silver,
.dxEditors_edtRadioButtonUncheckedDisabled_Office2003Silver,
.dxEditors_edtSpinEditDecrementImage_Office2003Silver,
.dxEditors_edtSpinEditDecrementImageDisabled_Office2003Silver,
.dxEditors_edtSpinEditIncrementImage_Office2003Silver,
.dxEditors_edtSpinEditIncrementImageDisabled_Office2003Silver,
.dxEditors_edtSpinEditLargeDecImage_Office2003Silver,
.dxEditors_edtSpinEditLargeDecImageDisabled_Office2003Silver,
.dxEditors_edtSpinEditLargeIncImage_Office2003Silver,
.dxEditors_edtSpinEditLargeIncImageDisabled_Office2003Silver,
.dxEditors_edtTBDecBtn_Office2003Silver,
.dxEditors_edtTBDecBtnDisabled_Office2003Silver,
.dxEditors_edtTBDecBtnHover_Office2003Silver,
.dxEditors_edtTBDecBtnPressed_Office2003Silver,
.dxEditors_edtTBIncBtn_Office2003Silver,
.dxEditors_edtTBIncBtnDisabled_Office2003Silver,
.dxEditors_edtTBIncBtnHover_Office2003Silver,
.dxEditors_edtTBIncBtnPressed_Office2003Silver,
.dxEditors_edtTokenBoxTokenRemoveButton_Office2003Silver,
.dxEditors_edtTokenBoxTokenRemoveButtonDisabled_Office2003Silver,
.dxEditors_fcadd_Office2003Silver,
.dxEditors_fcaddhot_Office2003Silver,
.dxEditors_fcgroupaddcondition_Office2003Silver,
.dxEditors_fcgroupaddgroup_Office2003Silver,
.dxEditors_fcgroupand_Office2003Silver,
.dxEditors_fcgroupnotand_Office2003Silver,
.dxEditors_fcgroupnotor_Office2003Silver,
.dxEditors_fcgroupor_Office2003Silver,
.dxEditors_fcgroupremove_Office2003Silver,
.dxEditors_fcopany_Office2003Silver,
.dxEditors_fcopavg_Office2003Silver,
.dxEditors_fcopbegin_Office2003Silver,
.dxEditors_fcopbetween_Office2003Silver,
.dxEditors_fcopblank_Office2003Silver,
.dxEditors_fcopcontain_Office2003Silver,
.dxEditors_fcopcount_Office2003Silver,
.dxEditors_fcopend_Office2003Silver,
.dxEditors_fcopequal_Office2003Silver,
.dxEditors_fcopexists_Office2003Silver,
.dxEditors_fcopgreater_Office2003Silver,
.dxEditors_fcopgreaterorequal_Office2003Silver,
.dxEditors_fcopless_Office2003Silver,
.dxEditors_fcoplessorequal_Office2003Silver,
.dxEditors_fcoplike_Office2003Silver,
.dxEditors_fcopmax_Office2003Silver,
.dxEditors_fcopmin_Office2003Silver,
.dxEditors_fcopnotany_Office2003Silver,
.dxEditors_fcopnotbetween_Office2003Silver,
.dxEditors_fcopnotblank_Office2003Silver,
.dxEditors_fcopnotcontain_Office2003Silver,
.dxEditors_fcopnotequal_Office2003Silver,
.dxEditors_fcopnotlike_Office2003Silver,
.dxEditors_fcopsingle_Office2003Silver,
.dxEditors_fcopsum_Office2003Silver,
.dxEditors_fcoptypefield_Office2003Silver,
.dxEditors_fcoptypefieldhot_Office2003Silver,
.dxEditors_fcoptypevalue_Office2003Silver,
.dxEditors_fcoptypevaluehot_Office2003Silver,
.dxEditors_fcremove_Office2003Silver,
.dxEditors_fcremovehot_Office2003Silver,
.dxeFocused_Office2003Silver .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_Office2003Silver,
.dxeFocused_Office2003Silver .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_Office2003Silver,
.dxeFocused_Office2003Silver .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_Office2003Silver,
.dxeFocused_Office2003Silver .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_Office2003Silver,
.dxeFocused_Office2003Silver .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_Office2003Silver,
.dxeFocused_Office2003Silver .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_Office2003Silver,
.dxeFocused_Office2003Silver .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_Office2003Silver,
.dxeFocused_Office2003Silver .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_Office2003Silver,
.dxeFocused_Office2003Silver .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_Office2003Silver,
.dxeFocused_Office2003Silver .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_Office2003Silver,
.dxeFocused_Office2003Silver .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_Office2003Silver,
.dxeFocused_Office2003Silver .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_Office2003Silver,
.dxeTBHSys .dxEditors_edtTBMainDH_Office2003Silver,
.dxeTBHSys .dxEditors_edtTBMainDHDisabled_Office2003Silver,
.dxeTBHSys .dxEditors_edtTBMainDHHover_Office2003Silver,
.dxeTBHSys .dxEditors_edtTBMainDHPressed_Office2003Silver,
.dxeTBHSys .dxEditors_edtTBSecondaryDH_Office2003Silver,
.dxeTBHSys .dxEditors_edtTBSecondaryDHDisabled_Office2003Silver,
.dxeTBHSys .dxEditors_edtTBSecondaryDHHover_Office2003Silver,
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_Office2003Silver,
.dxeTBVSys .dxEditors_edtTBMainDH_Office2003Silver,
.dxeTBVSys .dxEditors_edtTBMainDHDisabled_Office2003Silver,
.dxeTBVSys .dxEditors_edtTBMainDHHover_Office2003Silver,
.dxeTBVSys .dxEditors_edtTBMainDHPressed_Office2003Silver,
.dxeTBVSys .dxEditors_edtTBSecondaryDH_Office2003Silver,
.dxeTBVSys .dxEditors_edtTBSecondaryDHDisabled_Office2003Silver,
.dxeTBVSys .dxEditors_edtTBSecondaryDHHover_Office2003Silver,
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_Office2003Silver
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxeButtonEditButtonHover_Office2003Silver .dxEditors_edtClear_Office2003Silver
{
    background-position: -140px -166px;
    width: 13px;
    height: 13px;
}
.dxEditors_caRefresh_Office2003Silver
{
    background-position: -145px -150px;
    width: 13px;
    height: 13px;
}
.dxEditors_edtBinaryImageDelete_Office2003Silver
{
    background-position: -118px 0px;
    width: 32px;
    height: 32px;
}
.dxEditors_edtBinaryImageOpenDialog_Office2003Silver
{
    background-position: -151px 0px;
    width: 32px;
    height: 32px;
}
.dxEditors_edtCalendarFNNextYear_Office2003Silver
{
    background-position: -173px -150px;
    width: 11px;
    height: 12px;
}
.dxEditors_edtCalendarFNPrevYear_Office2003Silver
{
    background-position: -122px -194px;
    width: 11px;
    height: 12px;
}
.dxEditors_edtCalendarNextMonth_Office2003Silver
{
    background-position: -146px -194px;
    width: 11px;
    height: 12px;
}
.dxEditors_edtCalendarNextMonthDisabled_Office2003Silver
{
    background-position: -110px -194px;
    width: 11px;
    height: 12px;
}
.dxEditors_edtCalendarNextYear_Office2003Silver
{
    background-position: -164px -33px;
    width: 11px;
    height: 12px;
}
.dxEditors_edtCalendarNextYearDisabled_Office2003Silver
{
    background-position: -158px -194px;
    width: 11px;
    height: 12px;
}
.dxEditors_edtCalendarPrevMonth_Office2003Silver
{
    background-position: -170px -194px;
    width: 11px;
    height: 12px;
}
.dxEditors_edtCalendarPrevMonthDisabled_Office2003Silver
{
    background-position: -135px -33px;
    width: 11px;
    height: 12px;
}
.dxEditors_edtCalendarPrevYear_Office2003Silver
{
    background-position: -134px -194px;
    width: 11px;
    height: 12px;
}
.dxEditors_edtCalendarPrevYearDisabled_Office2003Silver
{
    background-position: -98px -194px;
    width: 11px;
    height: 12px;
}
.dxEditors_edtClear_Office2003Silver
{
    background-position: -70px -194px;
    width: 13px;
    height: 13px;
}
.dxEditors_edtDETSClockFace_Office2003Silver
{
    background-position: 0px 0px;
    width: 95px;
    height: 95px;
}
.dxEditors_edtDETSHourHand_Office2003Silver
{
    background-position: -104px 0px;
    width: 7px;
    height: 45px;
}
.dxEditors_edtDETSMinuteHand_Office2003Silver
{
    background-position: -96px 0px;
    width: 7px;
    height: 45px;
}
.dxEditors_edtDETSSecondHand_Office2003Silver
{
    background-position: -112px 0px;
    width: 5px;
    height: 45px;
}
.dxEditors_edtDropDown_Office2003Silver
{
    background-position: -176px -36px;
    width: 9px;
    height: 3px;
}
.dxEditors_edtDropDownDisabled_Office2003Silver
{
    background-position: -170px -132px;
    width: 9px;
    height: 3px;
}
.dxEditors_edtEllipsis_Office2003Silver
{
    background-position: -96px -48px;
    width: 10px;
    height: 3px;
}
.dxEditors_edtEllipsisDisabled_Office2003Silver
{
    background-position: -107px -48px;
    width: 10px;
    height: 3px;
}
.dxEditors_edtError_Office2003Silver
{
    background-position: -16px -150px;
    width: 14px;
    height: 14px;
}
.dxEditors_edtRadioButtonChecked_Office2003Silver
{
    background-position: -163px -116px;
    width: 15px;
    height: 15px;
}
.dxEditors_edtRadioButtonCheckedDisabled_Office2003Silver
{
    background-position: -147px -116px;
    width: 15px;
    height: 15px;
}
.dxEditors_edtRadioButtonUnchecked_Office2003Silver
{
    background-position: -99px -116px;
    width: 15px;
    height: 15px;
}
.dxEditors_edtRadioButtonUncheckedDisabled_Office2003Silver
{
    background-position: 0px -150px;
    width: 15px;
    height: 15px;
}
.dxEditors_edtSpinEditDecrementImage_Office2003Silver
{
    background-position: -158px -132px;
    width: 5px;
    height: 3px;
}
.dxEditors_edtSpinEditDecrementImageDisabled_Office2003Silver
{
    background-position: -164px -132px;
    width: 5px;
    height: 3px;
}
.dxEditors_edtSpinEditIncrementImage_Office2003Silver
{
    background-position: -179px -116px;
    width: 5px;
    height: 5px;
}
.dxEditors_edtSpinEditIncrementImageDisabled_Office2003Silver
{
    background-position: -180px -130px;
    width: 5px;
    height: 5px;
}
.dxEditors_edtSpinEditLargeDecImage_Office2003Silver
{
    background-position: -176px -40px;
    width: 6px;
    height: 5px;
}
.dxEditors_edtSpinEditLargeDecImageDisabled_Office2003Silver
{
    background-position: -176px -46px;
    width: 6px;
    height: 5px;
}
.dxEditors_edtSpinEditLargeIncImage_Office2003Silver
{
    background-position: -164px -46px;
    width: 6px;
    height: 5px;
}
.dxEditors_edtSpinEditLargeIncImageDisabled_Office2003Silver
{
    background-position: -135px -46px;
    width: 6px;
    height: 5px;
}
.dxEditors_edtTBDecBtn_Office2003Silver
{
    background-position: -96px -52px;
    width: 21px;
    height: 21px;
}
.dxEditors_edtTBDecBtnDisabled_Office2003Silver
{
    background-position: -164px -74px;
    width: 21px;
    height: 21px;
}
.dxEditors_edtTBDecBtnHover_Office2003Silver
{
    background-position: -162px -52px;
    width: 21px;
    height: 21px;
}
.dxEditors_edtTBDecBtnPressed_Office2003Silver
{
    background-position: -120px -74px;
    width: 21px;
    height: 21px;
}
.dxEditors_edtTBIncBtn_Office2003Silver
{
    background-position: -140px -52px;
    width: 21px;
    height: 21px;
}
.dxEditors_edtTBIncBtnDisabled_Office2003Silver
{
    background-position: -118px -52px;
    width: 21px;
    height: 21px;
}
.dxEditors_edtTBIncBtnHover_Office2003Silver
{
    background-position: -98px -74px;
    width: 21px;
    height: 21px;
}
.dxEditors_edtTBIncBtnPressed_Office2003Silver
{
    background-position: -142px -74px;
    width: 21px;
    height: 21px;
}
.dxEditors_edtTokenBoxTokenRemoveButton_Office2003Silver
{
    background-position: -131px -116px;
    width: 15px;
    height: 15px;
}
.dxEditors_edtTokenBoxTokenRemoveButtonDisabled_Office2003Silver
{
    background-position: -115px -116px;
    width: 15px;
    height: 15px;
}
.dxEditors_fcadd_Office2003Silver
{
    background-position: -154px -180px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcaddhot_Office2003Silver
{
    background-position: -42px -180px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupaddcondition_Office2003Silver
{
    background-position: -14px -180px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupaddgroup_Office2003Silver
{
    background-position: -168px -166px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupand_Office2003Silver
{
    background-position: -42px -166px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupnotand_Office2003Silver
{
    background-position: -154px -166px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupnotor_Office2003Silver
{
    background-position: 0px -180px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupor_Office2003Silver
{
    background-position: -28px -166px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupremove_Office2003Silver
{
    background-position: -42px -194px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopany_Office2003Silver
{
    background-position: -84px -194px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopavg_Office2003Silver
{
    background-position: -65px -116px;
    width: 16px;
    height: 16px;
}
.dxEditors_fcopbegin_Office2003Silver
{
    background-position: -56px -166px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopbetween_Office2003Silver
{
    background-position: -14px -194px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopblank_Office2003Silver
{
    background-position: -112px -166px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopcontain_Office2003Silver
{
    background-position: -70px -166px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopcount_Office2003Silver
{
    background-position: -48px -116px;
    width: 16px;
    height: 16px;
}
.dxEditors_fcopend_Office2003Silver
{
    background-position: -56px -180px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopequal_Office2003Silver
{
    background-position: -70px -180px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopexists_Office2003Silver
{
    background-position: -118px -35px;
    width: 16px;
    height: 16px;
}
.dxEditors_fcopgreater_Office2003Silver
{
    background-position: -112px -180px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopgreaterorequal_Office2003Silver
{
    background-position: -98px -180px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopless_Office2003Silver
{
    background-position: -126px -166px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcoplessorequal_Office2003Silver
{
    background-position: -168px -180px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcoplike_Office2003Silver
{
    background-position: -84px -166px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopmax_Office2003Silver
{
    background-position: -14px -116px;
    width: 16px;
    height: 16px;
}
.dxEditors_fcopmin_Office2003Silver
{
    background-position: -31px -116px;
    width: 16px;
    height: 16px;
}
.dxEditors_fcopnotany_Office2003Silver
{
    background-position: -98px -166px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotbetween_Office2003Silver
{
    background-position: 0px -194px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotblank_Office2003Silver
{
    background-position: -56px -194px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotcontain_Office2003Silver
{
    background-position: -14px -166px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotequal_Office2003Silver
{
    background-position: -28px -194px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotlike_Office2003Silver
{
    background-position: -159px -150px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopsingle_Office2003Silver
{
    background-position: -147px -35px;
    width: 16px;
    height: 16px;
}
.dxEditors_fcopsum_Office2003Silver
{
    background-position: -82px -116px;
    width: 16px;
    height: 16px;
}
.dxEditors_fcoptypefield_Office2003Silver
{
    background-position: 0px -166px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcoptypefieldhot_Office2003Silver
{
    background-position: -140px -180px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcoptypevalue_Office2003Silver
{
    background-position: -126px -180px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcoptypevaluehot_Office2003Silver
{
    background-position: -28px -180px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcremove_Office2003Silver
{
    background-position: -84px -180px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcremovehot_Office2003Silver
{
    background-position: -131px -150px;
    width: 13px;
    height: 13px;
}
.dxeFocused_Office2003Silver .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_Office2003Silver
{
    background-position: -112px -96px;
    width: 13px;
    height: 19px;
}
.dxeFocused_Office2003Silver .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_Office2003Silver
{
    background-position: 0px -96px;
    width: 13px;
    height: 19px;
}
.dxeFocused_Office2003Silver .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_Office2003Silver
{
    background-position: -70px -96px;
    width: 13px;
    height: 19px;
}
.dxeFocused_Office2003Silver .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_Office2003Silver
{
    background-position: -140px -96px;
    width: 13px;
    height: 19px;
}
.dxeFocused_Office2003Silver .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_Office2003Silver
{
    background-position: 0px -116px;
    width: 13px;
    height: 19px;
}
.dxeFocused_Office2003Silver .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_Office2003Silver
{
    background-position: -98px -96px;
    width: 13px;
    height: 19px;
}
.dxeFocused_Office2003Silver .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_Office2003Silver
{
    background-position: -51px -150px;
    width: 19px;
    height: 13px;
}
.dxeFocused_Office2003Silver .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_Office2003Silver
{
    background-position: -60px -136px;
    width: 19px;
    height: 13px;
}
.dxeFocused_Office2003Silver .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_Office2003Silver
{
    background-position: -160px -136px;
    width: 19px;
    height: 13px;
}
.dxeFocused_Office2003Silver .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_Office2003Silver
{
    background-position: -80px -136px;
    width: 19px;
    height: 13px;
}
.dxeFocused_Office2003Silver .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_Office2003Silver
{
    background-position: -31px -150px;
    width: 19px;
    height: 13px;
}
.dxeFocused_Office2003Silver .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_Office2003Silver
{
    background-position: -91px -150px;
    width: 19px;
    height: 13px;
}
.dxeTBHSys .dxEditors_edtTBMainDH_Office2003Silver
{
    background-position: -14px -96px;
    width: 13px;
    height: 19px;
}
.dxeTBHSys .dxEditors_edtTBMainDHDisabled_Office2003Silver
{
    background-position: -28px -96px;
    width: 13px;
    height: 19px;
}
.dxeTBHSys .dxEditors_edtTBMainDHHover_Office2003Silver
{
    background-position: -56px -96px;
    width: 13px;
    height: 19px;
}
.dxeTBHSys .dxEditors_edtTBMainDHPressed_Office2003Silver
{
    background-position: -126px -96px;
    width: 13px;
    height: 19px;
}
.dxeTBHSys .dxEditors_edtTBSecondaryDH_Office2003Silver
{
    background-position: -84px -96px;
    width: 13px;
    height: 19px;
}
.dxeTBHSys .dxEditors_edtTBSecondaryDHDisabled_Office2003Silver
{
    background-position: -154px -96px;
    width: 13px;
    height: 19px;
}
.dxeTBHSys .dxEditors_edtTBSecondaryDHHover_Office2003Silver
{
    background-position: -42px -96px;
    width: 13px;
    height: 19px;
}
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_Office2003Silver
{
    background-position: -168px -96px;
    width: 13px;
    height: 19px;
}
.dxeTBVSys .dxEditors_edtTBMainDH_Office2003Silver
{
    background-position: -71px -150px;
    width: 19px;
    height: 13px;
}
.dxeTBVSys .dxEditors_edtTBMainDHDisabled_Office2003Silver
{
    background-position: -40px -136px;
    width: 19px;
    height: 13px;
}
.dxeTBVSys .dxEditors_edtTBMainDHHover_Office2003Silver
{
    background-position: -20px -136px;
    width: 19px;
    height: 13px;
}
.dxeTBVSys .dxEditors_edtTBMainDHPressed_Office2003Silver
{
    background-position: -120px -136px;
    width: 19px;
    height: 13px;
}
.dxeTBVSys .dxEditors_edtTBSecondaryDH_Office2003Silver
{
    background-position: -140px -136px;
    width: 19px;
    height: 13px;
}
.dxeTBVSys .dxEditors_edtTBSecondaryDHDisabled_Office2003Silver
{
    background-position: -100px -136px;
    width: 19px;
    height: 13px;
}
.dxeTBVSys .dxEditors_edtTBSecondaryDHHover_Office2003Silver
{
    background-position: -111px -150px;
    width: 19px;
    height: 13px;
}
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_Office2003Silver
{
    background-position: 0px -136px;
    width: 19px;
    height: 13px;
}
.dxeTBHSys .dxEditors_edtTBMainDHPressed_Office2003Silver,
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_Office2003Silver
{
	z-index: 7;
}
.dxeTBVSys .dxEditors_edtTBMainDHPressed_Office2003Silver,
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_Office2003Silver
{
	z-index: 7;
}
.dxEditors_edtError_Office2003Silver,
.dxEditors_edtCalendarPrevYear_Office2003Silver,
.dxEditors_edtCalendarPrevYearDisabled_Office2003Silver,
.dxEditors_edtCalendarPrevMonth_Office2003Silver,
.dxEditors_edtCalendarPrevMonthDisabled_Office2003Silver,
.dxEditors_edtCalendarNextMonth_Office2003Silver,
.dxEditors_edtCalendarNextMonthDisabled_Office2003Silver,
.dxEditors_edtCalendarNextYear_Office2003Silver,
.dxEditors_edtCalendarNextYearDisabled_Office2003Silver,
.dxEditors_edtCalendarFNPrevYear_Office2003Silver,
.dxEditors_edtCalendarFNNextYear_Office2003Silver,
.dxEditors_edtEllipsis_Office2003Silver,
.dxEditors_edtEllipsisDisabled_Office2003Silver,
.dxEditors_edtDropDown_Office2003Silver,
.dxEditors_edtDropDownDisabled_Office2003Silver,
.dxEditors_edtSpinEditIncrementImage_Office2003Silver,
.dxEditors_edtSpinEditIncrementImageDisabled_Office2003Silver,
.dxEditors_edtSpinEditDecrementImage_Office2003Silver,
.dxEditors_edtSpinEditDecrementImageDisabled_Office2003Silver,
.dxEditors_edtSpinEditLargeIncImage_Office2003Silver,
.dxEditors_edtSpinEditLargeIncImageDisabled_Office2003Silver,
.dxEditors_edtSpinEditLargeDecImage_Office2003Silver,
.dxEditors_edtSpinEditLargeDecImageDisabled_Office2003Silver
{
	display:block;
	margin:auto;
}
.dxEditors_edtCalendarFNPrevYear_Office2003Silver
{
    margin-right: 8px;
}
.dxEditors_edtCalendarFNNextYear_Office2003Silver
{
    margin-left: 8px;
}

