.dxGridView_gvCellError_DevEx,
.dxGridView_gvCMClearFilter_DevEx,
.dxGridView_gvCMClearFilterDisabled_DevEx,
.dxGridView_gvCMClearGrouping_DevEx,
.dxGridView_gvCMClearGroupingDisabled_DevEx,
.dxGridView_gvCMCollapseDetailRow_DevEx,
.dxGridView_gvCMCollapseDetailRowDisabled_DevEx,
.dxGridView_gvCMCollapseRow_DevEx,
.dxGridView_gvCMCollapseRowDisabled_DevEx,
.dxGridView_gvCMDeleteRow_DevEx,
.dxGridView_gvCMDeleteRowDisabled_DevEx,
.dxGridView_gvCMEditRow_DevEx,
.dxGridView_gvCMEditRowDisabled_DevEx,
.dxGridView_gvCMExpandDetailRow_DevEx,
.dxGridView_gvCMExpandDetailRowDisabled_DevEx,
.dxGridView_gvCMExpandRow_DevEx,
.dxGridView_gvCMExpandRowDisabled_DevEx,
.dxGridView_gvCMFullCollapse_DevEx,
.dxGridView_gvCMFullCollapseDisabled_DevEx,
.dxGridView_gvCMFullExpand_DevEx,
.dxGridView_gvCMFullExpandDisabled_DevEx,
.dxGridView_gvCMGroupByColumn_DevEx,
.dxGridView_gvCMGroupByColumnDisabled_DevEx,
.dxGridView_gvCMNewRow_DevEx,
.dxGridView_gvCMNewRowDisabled_DevEx,
.dxGridView_gvCMRefresh_DevEx,
.dxGridView_gvCMRefreshDisabled_DevEx,
.dxGridView_gvCMSearchPanel_DevEx,
.dxGridView_gvCMSearchPanelDisabled_DevEx,
.dxGridView_gvCMShowCustomizationWindow_DevEx,
.dxGridView_gvCMShowCustomizationWindowDisabled_DevEx,
.dxGridView_gvCMShowFilterEditor_DevEx,
.dxGridView_gvCMShowFilterEditorDisabled_DevEx,
.dxGridView_gvCMShowGroupPanel_DevEx,
.dxGridView_gvCMShowGroupPanelDisabled_DevEx,
.dxGridView_gvCMShowSearchPanel_DevEx,
.dxGridView_gvCMShowSearchPanelDisabled_DevEx,
.dxGridView_gvCMSortAscending_DevEx,
.dxGridView_gvCMSortAscendingDisabled_DevEx,
.dxGridView_gvCMSortDescending_DevEx,
.dxGridView_gvCMSortDescendingDisabled_DevEx,
.dxGridView_gvCMSummaryAverage_DevEx,
.dxGridView_gvCMSummaryAverageDisabled_DevEx,
.dxGridView_gvCMSummaryCount_DevEx,
.dxGridView_gvCMSummaryCountDisabled_DevEx,
.dxGridView_gvCMSummaryMax_DevEx,
.dxGridView_gvCMSummaryMaxDisabled_DevEx,
.dxGridView_gvCMSummaryMin_DevEx,
.dxGridView_gvCMSummaryMinDisabled_DevEx,
.dxGridView_gvCMSummarySum_DevEx,
.dxGridView_gvCMSummarySumDisabled_DevEx,
.dxGridView_gvCMUngroupColumn_DevEx,
.dxGridView_gvCollapsedButton_DevEx,
.dxGridView_gvCollapsedButtonRtl_DevEx,
.dxGridView_gvDetailCollapsedButton_DevEx,
.dxGridView_gvDetailCollapsedButtonRtl_DevEx,
.dxGridView_gvDetailExpandedButton_DevEx,
.dxGridView_gvDetailExpandedButtonRtl_DevEx,
.dxGridView_gvDragAndDropArrowDown_DevEx,
.dxGridView_gvDragAndDropArrowUp_DevEx,
.dxGridView_gvDragAndDropHideColumn_DevEx,
.dxGridView_gvExpandedButton_DevEx,
.dxGridView_gvExpandedButtonRtl_DevEx,
.dxGridView_gvFilterRowButton_DevEx,
.dxGridView_gvFixedGroupRow_DevEx,
.dxGridView_gvHeaderFilter_DevEx,
.dxGridView_gvHeaderFilterActive_DevEx,
.dxGridView_gvHeaderSortDown_DevEx,
.dxGridView_gvHeaderSortUp_DevEx,
.dxGridView_gvHideAdaptiveDetailButton_DevEx,
.dxGridView_gvParentGroupRows_DevEx,
.dxGridView_gvShowAdaptiveDetailButton_DevEx,
.dxGridView_WindowResizer_DevEx,
.dxGridView_WindowResizerRtl_DevEx
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxGridView_gvCellError_DevEx
{
    background-position: -136px -23px;
    width: 14px;
    height: 14px;
}
.dxGridView_gvCMClearFilter_DevEx
{
    background-position: -85px -40px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMClearFilterDisabled_DevEx
{
    background-position: -68px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMClearGrouping_DevEx
{
    background-position: 0px -91px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMClearGroupingDisabled_DevEx
{
    background-position: 0px -40px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseDetailRow_DevEx
{
    background-position: -34px -74px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseDetailRowDisabled_DevEx
{
    background-position: -127px 0px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseRow_DevEx
{
    background-position: -85px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseRowDisabled_DevEx
{
    background-position: -102px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMDeleteRow_DevEx
{
    background-position: -102px -40px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMDeleteRowDisabled_DevEx
{
    background-position: -51px -57px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMEditRow_DevEx
{
    background-position: -68px -40px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMEditRowDisabled_DevEx
{
    background-position: -51px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandDetailRow_DevEx
{
    background-position: -17px -91px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandDetailRowDisabled_DevEx
{
    background-position: -34px -40px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandRow_DevEx
{
    background-position: -42px 0px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandRowDisabled_DevEx
{
    background-position: -119px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullCollapse_DevEx
{
    background-position: -34px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullCollapseDisabled_DevEx
{
    background-position: -85px -91px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullExpand_DevEx
{
    background-position: -17px -74px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullExpandDisabled_DevEx
{
    background-position: -119px -74px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMGroupByColumn_DevEx
{
    background-position: -34px -91px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMGroupByColumnDisabled_DevEx
{
    background-position: 0px -74px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMNewRow_DevEx
{
    background-position: 0px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMNewRowDisabled_DevEx
{
    background-position: -119px -40px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMRefresh_DevEx
{
    background-position: 0px -57px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMRefreshDisabled_DevEx
{
    background-position: -34px -57px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSearchPanel_DevEx
{
    background-position: -68px -57px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSearchPanelDisabled_DevEx
{
    background-position: -17px -108px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowCustomizationWindow_DevEx
{
    background-position: -51px -40px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowCustomizationWindowDisabled_DevEx
{
    background-position: -102px -74px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowFilterEditor_DevEx
{
    background-position: -102px -57px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowFilterEditorDisabled_DevEx
{
    background-position: -93px 0px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowGroupPanel_DevEx
{
    background-position: -51px -91px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowGroupPanelDisabled_DevEx
{
    background-position: -17px -57px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowSearchPanel_DevEx
{
    background-position: -51px -108px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowSearchPanelDisabled_DevEx
{
    background-position: -85px -74px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortAscending_DevEx
{
    background-position: -110px 0px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortAscendingDisabled_DevEx
{
    background-position: -76px 0px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortDescending_DevEx
{
    background-position: -17px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortDescendingDisabled_DevEx
{
    background-position: 0px -108px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryAverage_DevEx
{
    background-position: -68px -91px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryAverageDisabled_DevEx
{
    background-position: -17px -40px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryCount_DevEx
{
    background-position: -68px -108px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryCountDisabled_DevEx
{
    background-position: -59px 0px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMax_DevEx
{
    background-position: -34px -108px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMaxDisabled_DevEx
{
    background-position: -102px -91px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMin_DevEx
{
    background-position: -119px -57px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMinDisabled_DevEx
{
    background-position: -68px -74px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummarySum_DevEx
{
    background-position: -51px -74px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummarySumDisabled_DevEx
{
    background-position: -119px -91px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMUngroupColumn_DevEx
{
    background-position: -85px -57px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCollapsedButton_DevEx
{
    background-position: -136px -74px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvCollapsedButtonRtl_DevEx
{
    background-position: 0px -125px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailCollapsedButton_DevEx
{
    background-position: -56px -125px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailCollapsedButtonRtl_DevEx
{
    background-position: -42px -125px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailExpandedButton_DevEx
{
    background-position: -70px -125px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailExpandedButtonRtl_DevEx
{
    background-position: -136px -91px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDragAndDropArrowDown_DevEx
{
    background-position: -112px -125px;
    width: 11px;
    height: 9px;
}
.dxGridView_gvDragAndDropArrowUp_DevEx
{
    background-position: -124px -125px;
    width: 11px;
    height: 9px;
}
.dxGridView_gvDragAndDropHideColumn_DevEx
{
    background-position: 0px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvExpandedButton_DevEx
{
    background-position: -14px -125px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvExpandedButtonRtl_DevEx
{
    background-position: -28px -125px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvFilterRowButton_DevEx
{
    background-position: -136px -57px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvFixedGroupRow_DevEx
{
    background-position: -23px 0px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvHeaderFilter_DevEx
{
    background-position: -101px -108px;
    width: 15px;
    height: 15px;
}
.dxGridView_gvHeaderFilterActive_DevEx
{
    background-position: -85px -108px;
    width: 15px;
    height: 15px;
}
.dxGridView_gvHeaderSortDown_DevEx
{
    background-position: -135px -17px;
    width: 7px;
    height: 5px;
}
.dxGridView_gvHeaderSortUp_DevEx
{
    background-position: -143px -17px;
    width: 7px;
    height: 5px;
}
.dxGridView_gvHideAdaptiveDetailButton_DevEx
{
    background-position: -84px -125px;
    width: 13px;
    height: 11px;
}
.dxGridView_gvParentGroupRows_DevEx
{
    background-position: -117px -108px;
    width: 18px;
    height: 13px;
}
.dxGridView_gvShowAdaptiveDetailButton_DevEx
{
    background-position: -98px -125px;
    width: 13px;
    height: 11px;
}
.dxGridView_WindowResizer_DevEx
{
    background-position: -136px -108px;
    width: 13px;
    height: 13px;
}
.dxGridView_WindowResizerRtl_DevEx
{
    background-position: -136px -40px;
    width: 13px;
    height: 13px;
}

