.dxRichEdit_CenterTabDragHandle_MetropolisBlue,
.dxRichEdit_DecimalTabDragHandle_MetropolisBlue,
.dxRichEdit_FirstLineIdentDragHandle_MetropolisBlue,
.dxRichEdit_LeftIdentDragHandle_MetropolisBlue,
.dxRichEdit_LeftTabDragHandle_MetropolisBlue,
.dxRichEdit_RightIdentDragHandle_MetropolisBlue,
.dxRichEdit_RightTabDragHandle_MetropolisBlue
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxRichEdit_CenterTabDragHandle_MetropolisBlue
{
    background-position: 0px -34px;
    width: 8px;
    height: 6px;
}
.dxRichEdit_DecimalTabDragHandle_MetropolisBlue
{
    background-position: 0px -27px;
    width: 8px;
    height: 6px;
}
.dxRichEdit_FirstLineIdentDragHandle_MetropolisBlue
{
    background-position: 0px -9px;
    width: 9px;
    height: 8px;
}
.dxRichEdit_LeftIdentDragHandle_MetropolisBlue
{
    background-position: 0px -18px;
    width: 9px;
    height: 8px;
}
.dxRichEdit_LeftTabDragHandle_MetropolisBlue
{
    background-position: 0px -48px;
    width: 6px;
    height: 6px;
}
.dxRichEdit_RightIdentDragHandle_MetropolisBlue
{
    background-position: 0px 0px;
    width: 9px;
    height: 8px;
}
.dxRichEdit_RightTabDragHandle_MetropolisBlue
{
    background-position: 0px -41px;
    width: 6px;
    height: 6px;
}

