.dxigControl_Glass.dxTouchUI .dxWeb_igCloseButton_Glass,
.dxigControl_Glass.dxTouchUI .dxWeb_igPauseButton_Glass,
.dxigControl_Glass.dxTouchUI .dxWeb_igPlayButton_Glass,
.dxpc-collapseBtnChecked .dxWeb_pcCollapseButton_Glass,
.dxpc-maximizeBtnChecked .dxWeb_pcMaximizeButton_Glass,
.dxpc-pinBtnChecked .dxWeb_pcPinButton_Glass,
.dxpnl-btnSelected .dxWeb_pnlExpand_Glass,
.dxpnl-btnSelected .dxWeb_pnlExpandArrowBottom_Glass,
.dxpnl-btnSelected .dxWeb_pnlExpandArrowLeft_Glass,
.dxpnl-btnSelected .dxWeb_pnlExpandArrowRight_Glass,
.dxpnl-btnSelected .dxWeb_pnlExpandArrowTop_Glass,
.dxrpCollapsed .dxWeb_rpCollapseButton_Glass,
.dxWeb_edtCheckBoxChecked_Glass,
.dxWeb_edtCheckBoxCheckedDisabled_Glass,
.dxWeb_edtCheckBoxGrayed_Glass,
.dxWeb_edtCheckBoxGrayedDisabled_Glass,
.dxWeb_edtCheckBoxUnchecked_Glass,
.dxWeb_edtCheckBoxUncheckedDisabled_Glass,
.dxWeb_fmBreadCrumbsSeparatorArrow_Glass,
.dxWeb_fmBreadCrumbsUpButton_Glass,
.dxWeb_fmBreadCrumbsUpButtonDisabled_Glass,
.dxWeb_fmCopyButton_Glass,
.dxWeb_fmCopyButtonDisabled_Glass,
.dxWeb_fmCreateButton_Glass,
.dxWeb_fmCreateButtonDisabled_Glass,
.dxWeb_fmDeleteButton_Glass,
.dxWeb_fmDeleteButtonDisabled_Glass,
.dxWeb_fmDwnlButton_Glass,
.dxWeb_fmDwnlButtonDisabled_Glass,
.dxWeb_fmFolder_Glass,
.dxWeb_fmFolderLocked_Glass,
.dxWeb_fmGvHeaderFilter_Glass,
.dxWeb_fmGvHeaderFilterActive_Glass,
.dxWeb_fmMoveButton_Glass,
.dxWeb_fmMoveButtonDisabled_Glass,
.dxWeb_fmRefreshButton_Glass,
.dxWeb_fmRefreshButtonDisabled_Glass,
.dxWeb_fmRenameButton_Glass,
.dxWeb_fmRenameButtonDisabled_Glass,
.dxWeb_fmThumbnailCheck_Glass,
.dxWeb_fmUplButton_Glass,
.dxWeb_fmUplButtonDisabled_Glass,
.dxWeb_hlTail_Glass,
.dxWeb_igCloseButton_Glass,
.dxWeb_igNavigationBarMarker_Glass,
.dxWeb_igNextButton_Glass,
.dxWeb_igNextButtonDisabled_Glass,
.dxWeb_igNextButtonHover_Glass,
.dxWeb_igNextButtonPressed_Glass,
.dxWeb_igPauseButton_Glass,
.dxWeb_igPlayButton_Glass,
.dxWeb_igPrevButton_Glass,
.dxWeb_igPrevButtonDisabled_Glass,
.dxWeb_igPrevButtonHover_Glass,
.dxWeb_igPrevButtonPressed_Glass,
.dxWeb_isDot_Glass,
.dxWeb_isDotDisabled_Glass,
.dxWeb_isDotPressed_Glass,
.dxWeb_isDotSelected_Glass,
.dxWeb_isNextBtnHor_Glass,
.dxWeb_isNextBtnHorDisabled_Glass,
.dxWeb_isNextBtnVert_Glass,
.dxWeb_isNextBtnVertDisabled_Glass,
.dxWeb_isNextPageBtnHor_Glass,
.dxWeb_isNextPageBtnHorDisabled_Glass,
.dxWeb_isNextPageBtnHorOutside_Glass,
.dxWeb_isNextPageBtnHorOutsideDisabled_Glass,
.dxWeb_isNextPageBtnVert_Glass,
.dxWeb_isNextPageBtnVertDisabled_Glass,
.dxWeb_isNextPageBtnVertOutside_Glass,
.dxWeb_isNextPageBtnVertOutsideDisabled_Glass,
.dxWeb_isPauseBtn_Glass,
.dxWeb_isPlayBtn_Glass,
.dxWeb_isPrevBtnHor_Glass,
.dxWeb_isPrevBtnHorDisabled_Glass,
.dxWeb_isPrevBtnVert_Glass,
.dxWeb_isPrevBtnVertDisabled_Glass,
.dxWeb_isPrevPageBtnHor_Glass,
.dxWeb_isPrevPageBtnHorDisabled_Glass,
.dxWeb_isPrevPageBtnHorOutside_Glass,
.dxWeb_isPrevPageBtnHorOutsideDisabled_Glass,
.dxWeb_isPrevPageBtnVert_Glass,
.dxWeb_isPrevPageBtnVertDisabled_Glass,
.dxWeb_isPrevPageBtnVertOutside_Glass,
.dxWeb_isPrevPageBtnVertOutsideDisabled_Glass,
.dxWeb_izEWCloseButton_Glass,
.dxWeb_izHint_Glass,
.dxWeb_mAdaptiveMenu_Glass,
.dxWeb_mHorizontalPopOut_Glass,
.dxWeb_mScrollDown_Glass,
.dxWeb_mScrollUp_Glass,
.dxWeb_mSubMenuItem_Glass,
.dxWeb_mSubMenuItemChecked_Glass,
.dxWeb_mVerticalPopOut_Glass,
.dxWeb_mVerticalPopOutRtl_Glass,
.dxWeb_nbCollapse_Glass,
.dxWeb_nbExpand_Glass,
.dxWeb_ncBackToTop_Glass,
.dxWeb_ncTail_Glass,
.dxWeb_pAll_Glass,
.dxWeb_pAllDisabled_Glass,
.dxWeb_pcCloseButton_Glass,
.dxWeb_pcCollapseButton_Glass,
.dxWeb_pcMaximizeButton_Glass,
.dxWeb_pcPinButton_Glass,
.dxWeb_pcRefreshButton_Glass,
.dxWeb_pcSizeGrip_Glass,
.dxWeb_pcSizeGripRtl_Glass,
.dxWeb_pFirst_Glass,
.dxWeb_pFirstDisabled_Glass,
.dxWeb_pLast_Glass,
.dxWeb_pLastDisabled_Glass,
.dxWeb_pNext_Glass,
.dxWeb_pNextDisabled_Glass,
.dxWeb_pnlExpand_Glass,
.dxWeb_pnlExpandArrowBottom_Glass,
.dxWeb_pnlExpandArrowLeft_Glass,
.dxWeb_pnlExpandArrowRight_Glass,
.dxWeb_pnlExpandArrowTop_Glass,
.dxWeb_pPopOut_Glass,
.dxWeb_pPopOutDisabled_Glass,
.dxWeb_pPrev_Glass,
.dxWeb_pPrevDisabled_Glass,
.dxWeb_rDialogBoxLauncher_Glass,
.dxWeb_rDialogBoxLauncherDisabled_Glass,
.dxWeb_rDialogBoxLauncherHover_Glass,
.dxWeb_rDialogBoxLauncherPressed_Glass,
.dxWeb_rGlrDown_Glass,
.dxWeb_rGlrDownDisabled_Glass,
.dxWeb_rGlrPopOut_Glass,
.dxWeb_rGlrPopOutDisabled_Glass,
.dxWeb_rGlrUp_Glass,
.dxWeb_rGlrUpDisabled_Glass,
.dxWeb_rMinBtn_Glass,
.dxWeb_rMinBtn_Glass.dxWeb_rMinBtnHover_Glass,
.dxWeb_rMinBtn_Glass.dxWeb_rMinBtnPressed_Glass,
.dxWeb_rMinBtnChecked_Glass.dxWeb_rMinBtn_Glass,
.dxWeb_rMinBtnChecked_Glass.dxWeb_rMinBtnDisabled_Glass,
.dxWeb_rMinBtnChecked_Glass.dxWeb_rMinBtnHover_Glass,
.dxWeb_rMinBtnChecked_Glass.dxWeb_rMinBtnPressed_Glass,
.dxWeb_rMinBtnDisabled_Glass,
.dxWeb_rpCollapseButton_Glass,
.dxWeb_rPopOut_Glass,
.dxWeb_splHCollapseBackwardButton_Glass,
.dxWeb_splHCollapseBackwardButtonHover_Glass,
.dxWeb_splHCollapseForwardButton_Glass,
.dxWeb_splHCollapseForwardButtonHover_Glass,
.dxWeb_splHSeparator_Glass,
.dxWeb_splHSeparatorHover_Glass,
.dxWeb_splVCollapseBackwardButton_Glass,
.dxWeb_splVCollapseBackwardButtonHover_Glass,
.dxWeb_splVCollapseForwardButton_Glass,
.dxWeb_splVCollapseForwardButtonHover_Glass,
.dxWeb_splVSeparator_Glass,
.dxWeb_splVSeparatorHover_Glass,
.dxWeb_tcScrollLeft_Glass,
.dxWeb_tcScrollLeftDisabled_Glass,
.dxWeb_tcScrollLeftHover_Glass,
.dxWeb_tcScrollLeftPressed_Glass,
.dxWeb_tcScrollRight_Glass,
.dxWeb_tcScrollRightDisabled_Glass,
.dxWeb_tcScrollRightHover_Glass,
.dxWeb_tcScrollRightPressed_Glass,
.dxWeb_tiBackToTop_Glass,
.dxWeb_tvColBtn_Glass,
.dxWeb_tvColBtnRtl_Glass,
.dxWeb_tvExpBtn_Glass,
.dxWeb_tvExpBtnRtl_Glass,
.dxWeb_ucClearButton_Glass,
.dxWeb_ucClearButtonDisabled_Glass
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxigControl_Glass.dxTouchUI .dxWeb_igCloseButton_Glass
{
    background-position: -225px -108px;
    width: 23px;
    height: 23px;
}
.dxigControl_Glass.dxTouchUI .dxWeb_igPauseButton_Glass
{
    background-position: -170px -66px;
    width: 21px;
    height: 25px;
}
.dxigControl_Glass.dxTouchUI .dxWeb_igPlayButton_Glass
{
    background-position: -192px -66px;
    width: 21px;
    height: 25px;
}
.dxpc-collapseBtnChecked .dxWeb_pcCollapseButton_Glass
{
    background-position: -224px -152px;
    width: 17px;
    height: 17px;
}
.dxpc-maximizeBtnChecked .dxWeb_pcMaximizeButton_Glass
{
    background-position: -80px -152px;
    width: 17px;
    height: 17px;
}
.dxpc-pinBtnChecked .dxWeb_pcPinButton_Glass
{
    background-position: -98px -152px;
    width: 17px;
    height: 17px;
}
.dxpnl-btnSelected .dxWeb_pnlExpand_Glass
{
    background-position: -286px -66px;
    width: 23px;
    height: 23px;
}
.dxpnl-btnSelected .dxWeb_pnlExpandArrowBottom_Glass
{
    background-position: -249px -108px;
    width: 23px;
    height: 23px;
}
.dxpnl-btnSelected .dxWeb_pnlExpandArrowLeft_Glass
{
    background-position: -273px -108px;
    width: 23px;
    height: 23px;
}
.dxpnl-btnSelected .dxWeb_pnlExpandArrowRight_Glass
{
    background-position: -214px -66px;
    width: 23px;
    height: 23px;
}
.dxpnl-btnSelected .dxWeb_pnlExpandArrowTop_Glass
{
    background-position: -297px -108px;
    width: 23px;
    height: 23px;
}
.dxrpCollapsed .dxWeb_rpCollapseButton_Glass
{
    background-position: 0px -204px;
    width: 16px;
    height: 16px;
}
.dxWeb_edtCheckBoxChecked_Glass
{
    background-position: -187px -204px;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxCheckedDisabled_Glass
{
    background-position: -267px -204px;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxGrayed_Glass
{
    background-position: -203px -204px;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxGrayedDisabled_Glass
{
    background-position: -219px -204px;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxUnchecked_Glass
{
    background-position: -251px -204px;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxUncheckedDisabled_Glass
{
    background-position: -235px -204px;
    width: 15px;
    height: 15px;
}
.dxWeb_fmBreadCrumbsSeparatorArrow_Glass
{
    background-position: -316px -213px;
    width: 4px;
    height: 7px;
}
.dxWeb_fmBreadCrumbsUpButton_Glass
{
    background-position: -39px -186px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmBreadCrumbsUpButtonDisabled_Glass
{
    background-position: -102px -204px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCopyButton_Glass
{
    background-position: -141px -186px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCopyButtonDisabled_Glass
{
    background-position: -158px -186px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCreateButton_Glass
{
    background-position: -136px -204px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCreateButtonDisabled_Glass
{
    background-position: -226px -186px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDeleteButton_Glass
{
    background-position: -153px -204px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDeleteButtonDisabled_Glass
{
    background-position: -73px -186px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDwnlButton_Glass
{
    background-position: -56px -186px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDwnlButtonDisabled_Glass
{
    background-position: -107px -186px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmFolder_Glass
{
    background-position: -51px -204px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmFolderLocked_Glass
{
    background-position: -85px -204px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmGvHeaderFilter_Glass
{
    background-position: -42px -152px;
    width: 18px;
    height: 18px;
}
.dxWeb_fmGvHeaderFilterActive_Glass
{
    background-position: -61px -152px;
    width: 18px;
    height: 18px;
}
.dxWeb_fmMoveButton_Glass
{
    background-position: -277px -186px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmMoveButtonDisabled_Glass
{
    background-position: -34px -204px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRefreshButton_Glass
{
    background-position: -192px -186px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRefreshButtonDisabled_Glass
{
    background-position: -209px -186px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRenameButton_Glass
{
    background-position: -119px -204px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRenameButtonDisabled_Glass
{
    background-position: -124px -186px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmThumbnailCheck_Glass
{
    background-position: -202px -97px;
    width: 11px;
    height: 10px;
}
.dxWeb_fmUplButton_Glass
{
    background-position: -68px -204px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmUplButtonDisabled_Glass
{
    background-position: -170px -204px;
    width: 16px;
    height: 16px;
}
.dxWeb_hlTail_Glass
{
    background-position: -275px -171px;
    width: 12px;
    height: 7px;
}
.dxWeb_igCloseButton_Glass
{
    background-position: -89px -171px;
    width: 13px;
    height: 13px;
}
.dxWeb_igNavigationBarMarker_Glass
{
    background-position: -243px -91px;
    width: 20px;
    height: 16px;
}
.dxWeb_igNextButton_Glass
{
    background-position: -138px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_igNextButtonDisabled_Glass
{
    background-position: -230px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_igNextButtonHover_Glass
{
    background-position: -46px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_igNextButtonPressed_Glass
{
    background-position: -184px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPauseButton_Glass
{
    background-position: 0px -186px;
    width: 12px;
    height: 17px;
}
.dxWeb_igPlayButton_Glass
{
    background-position: -13px -186px;
    width: 12px;
    height: 17px;
}
.dxWeb_igPrevButton_Glass
{
    background-position: 0px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPrevButtonDisabled_Glass
{
    background-position: 0px -66px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPrevButtonHover_Glass
{
    background-position: -92px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPrevButtonPressed_Glass
{
    background-position: -46px -66px;
    width: 45px;
    height: 65px;
}
.dxWeb_isDot_Glass
{
    background-position: -117px -171px;
    width: 13px;
    height: 13px;
}
.dxWeb_isDotDisabled_Glass
{
    background-position: -131px -171px;
    width: 13px;
    height: 13px;
}
.dxWeb_isDotPressed_Glass
{
    background-position: -103px -171px;
    width: 13px;
    height: 13px;
}
.dxWeb_isDotSelected_Glass
{
    background-position: -145px -171px;
    width: 13px;
    height: 13px;
}
.dxWeb_isNextBtnHor_Glass
{
    background-position: -283px -34px;
    width: 18px;
    height: 31px;
}
.dxWeb_isNextBtnHorDisabled_Glass
{
    background-position: -302px -34px;
    width: 18px;
    height: 31px;
}
.dxWeb_isNextBtnVert_Glass
{
    background-position: -30px -132px;
    width: 29px;
    height: 19px;
}
.dxWeb_isNextBtnVertDisabled_Glass
{
    background-position: -90px -132px;
    width: 29px;
    height: 19px;
}
.dxWeb_isNextPageBtnHor_Glass
{
    background-position: -138px -110px;
    width: 14px;
    height: 21px;
}
.dxWeb_isNextPageBtnHorDisabled_Glass
{
    background-position: -93px -110px;
    width: 14px;
    height: 21px;
}
.dxWeb_isNextPageBtnHorOutside_Glass
{
    background-position: -131px -66px;
    width: 12px;
    height: 28px;
}
.dxWeb_isNextPageBtnHorOutsideDisabled_Glass
{
    background-position: -105px -66px;
    width: 12px;
    height: 28px;
}
.dxWeb_isNextPageBtnVert_Glass
{
    background-position: 0px -171px;
    width: 21px;
    height: 14px;
}
.dxWeb_isNextPageBtnVertDisabled_Glass
{
    background-position: -264px -93px;
    width: 21px;
    height: 14px;
}
.dxWeb_isNextPageBtnVertOutside_Glass
{
    background-position: -92px -95px;
    width: 28px;
    height: 12px;
}
.dxWeb_isNextPageBtnVertOutsideDisabled_Glass
{
    background-position: -144px -95px;
    width: 28px;
    height: 12px;
}
.dxWeb_isPauseBtn_Glass
{
    background-position: -304px -132px;
    width: 12px;
    height: 17px;
}
.dxWeb_isPlayBtn_Glass
{
    background-position: -26px -186px;
    width: 12px;
    height: 17px;
}
.dxWeb_isPrevBtnHor_Glass
{
    background-position: -295px 0px;
    width: 18px;
    height: 31px;
}
.dxWeb_isPrevBtnHorDisabled_Glass
{
    background-position: -276px 0px;
    width: 18px;
    height: 31px;
}
.dxWeb_isPrevBtnVert_Glass
{
    background-position: -60px -132px;
    width: 29px;
    height: 19px;
}
.dxWeb_isPrevBtnVertDisabled_Glass
{
    background-position: 0px -132px;
    width: 29px;
    height: 19px;
}
.dxWeb_isPrevPageBtnHor_Glass
{
    background-position: -123px -110px;
    width: 14px;
    height: 21px;
}
.dxWeb_isPrevPageBtnHorDisabled_Glass
{
    background-position: -108px -110px;
    width: 14px;
    height: 21px;
}
.dxWeb_isPrevPageBtnHorOutside_Glass
{
    background-position: -118px -66px;
    width: 12px;
    height: 28px;
}
.dxWeb_isPrevPageBtnHorOutsideDisabled_Glass
{
    background-position: -92px -66px;
    width: 12px;
    height: 28px;
}
.dxWeb_isPrevPageBtnVert_Glass
{
    background-position: -286px -93px;
    width: 21px;
    height: 14px;
}
.dxWeb_isPrevPageBtnVertDisabled_Glass
{
    background-position: -22px -171px;
    width: 21px;
    height: 14px;
}
.dxWeb_isPrevPageBtnVertOutside_Glass
{
    background-position: -173px -95px;
    width: 28px;
    height: 12px;
}
.dxWeb_isPrevPageBtnVertOutsideDisabled_Glass
{
    background-position: -214px -95px;
    width: 28px;
    height: 12px;
}
.dxWeb_izEWCloseButton_Glass
{
    background-position: -144px -66px;
    width: 25px;
    height: 25px;
}
.dxWeb_izHint_Glass
{
    background-position: -134px -152px;
    width: 17px;
    height: 17px;
}
.dxWeb_mAdaptiveMenu_Glass
{
    background-position: -214px -90px;
    width: 10px;
    height: 4px;
}
.dxWeb_mHorizontalPopOut_Glass
{
    background-position: -232px -178px;
    width: 7px;
    height: 7px;
}
.dxWeb_mScrollDown_Glass
{
    background-position: -313px -181px;
    width: 7px;
    height: 4px;
}
.dxWeb_mScrollUp_Glass
{
    background-position: -310px -76px;
    width: 7px;
    height: 4px;
}
.dxWeb_mSubMenuItem_Glass
{
    background-position: -44px -171px;
    width: 14px;
    height: 14px;
}
.dxWeb_mSubMenuItemChecked_Glass
{
    background-position: -74px -171px;
    width: 14px;
    height: 14px;
}
.dxWeb_mVerticalPopOut_Glass
{
    background-position: -316px -162px;
    width: 4px;
    height: 8px;
}
.dxWeb_mVerticalPopOutRtl_Glass
{
    background-position: -314px -152px;
    width: 4px;
    height: 8px;
}
.dxWeb_nbCollapse_Glass
{
    background-position: -175px -186px;
    width: 16px;
    height: 16px;
}
.dxWeb_nbExpand_Glass
{
    background-position: -260px -186px;
    width: 16px;
    height: 16px;
}
.dxWeb_ncBackToTop_Glass
{
    background-position: -17px -204px;
    width: 16px;
    height: 16px;
}
.dxWeb_ncTail_Glass
{
    background-position: -262px -171px;
    width: 12px;
    height: 7px;
}
.dxWeb_pAll_Glass
{
    background-position: -120px -132px;
    width: 24px;
    height: 18px;
}
.dxWeb_pAllDisabled_Glass
{
    background-position: -145px -132px;
    width: 24px;
    height: 18px;
}
.dxWeb_pcCloseButton_Glass
{
    background-position: -242px -152px;
    width: 17px;
    height: 17px;
}
.dxWeb_pcCollapseButton_Glass
{
    background-position: -206px -152px;
    width: 17px;
    height: 17px;
}
.dxWeb_pcMaximizeButton_Glass
{
    background-position: -260px -152px;
    width: 17px;
    height: 17px;
}
.dxWeb_pcPinButton_Glass
{
    background-position: -278px -152px;
    width: 17px;
    height: 17px;
}
.dxWeb_pcRefreshButton_Glass
{
    background-position: -188px -152px;
    width: 17px;
    height: 17px;
}
.dxWeb_pcSizeGrip_Glass
{
    background-position: -172px -171px;
    width: 12px;
    height: 12px;
}
.dxWeb_pcSizeGripRtl_Glass
{
    background-position: -121px -95px;
    width: 12px;
    height: 12px;
}
.dxWeb_pFirst_Glass
{
    background-position: -170px -132px;
    width: 22px;
    height: 18px;
}
.dxWeb_pFirstDisabled_Glass
{
    background-position: -216px -132px;
    width: 22px;
    height: 18px;
}
.dxWeb_pLast_Glass
{
    background-position: -193px -132px;
    width: 22px;
    height: 18px;
}
.dxWeb_pLastDisabled_Glass
{
    background-position: -239px -132px;
    width: 22px;
    height: 18px;
}
.dxWeb_pNext_Glass
{
    background-position: -262px -132px;
    width: 20px;
    height: 18px;
}
.dxWeb_pNextDisabled_Glass
{
    background-position: -283px -132px;
    width: 20px;
    height: 18px;
}
.dxWeb_pnlExpand_Glass
{
    background-position: -262px -66px;
    width: 23px;
    height: 23px;
}
.dxWeb_pnlExpandArrowBottom_Glass
{
    background-position: -238px -66px;
    width: 23px;
    height: 23px;
}
.dxWeb_pnlExpandArrowLeft_Glass
{
    background-position: -201px -108px;
    width: 23px;
    height: 23px;
}
.dxWeb_pnlExpandArrowRight_Glass
{
    background-position: -177px -108px;
    width: 23px;
    height: 23px;
}
.dxWeb_pnlExpandArrowTop_Glass
{
    background-position: -153px -108px;
    width: 23px;
    height: 23px;
}
.dxWeb_pPopOut_Glass
{
    background-position: -233px -90px;
    width: 7px;
    height: 4px;
}
.dxWeb_pPopOutDisabled_Glass
{
    background-position: -225px -90px;
    width: 7px;
    height: 4px;
}
.dxWeb_pPrev_Glass
{
    background-position: 0px -152px;
    width: 20px;
    height: 18px;
}
.dxWeb_pPrevDisabled_Glass
{
    background-position: -21px -152px;
    width: 20px;
    height: 18px;
}
.dxWeb_rDialogBoxLauncher_Glass
{
    background-position: -185px -171px;
    width: 12px;
    height: 12px;
}
.dxWeb_rDialogBoxLauncherDisabled_Glass
{
    background-position: -159px -171px;
    width: 12px;
    height: 12px;
}
.dxWeb_rDialogBoxLauncherHover_Glass
{
    background-position: -211px -171px;
    width: 12px;
    height: 12px;
}
.dxWeb_rDialogBoxLauncherPressed_Glass
{
    background-position: -198px -171px;
    width: 12px;
    height: 12px;
}
.dxWeb_rGlrDown_Glass
{
    background-position: -134px -95px;
    width: 5px;
    height: 3px;
}
.dxWeb_rGlrDownDisabled_Glass
{
    background-position: -301px -182px;
    width: 5px;
    height: 3px;
}
.dxWeb_rGlrPopOut_Glass
{
    background-position: -314px -20px;
    width: 5px;
    height: 5px;
}
.dxWeb_rGlrPopOutDisabled_Glass
{
    background-position: -276px -33px;
    width: 5px;
    height: 5px;
}
.dxWeb_rGlrUp_Glass
{
    background-position: -295px -182px;
    width: 5px;
    height: 3px;
}
.dxWeb_rGlrUpDisabled_Glass
{
    background-position: -307px -182px;
    width: 5px;
    height: 3px;
}
.dxWeb_rMinBtn_Glass
{
    background-position: -310px -66px;
    width: 9px;
    height: 8px;
}
.dxWeb_rMinBtn_Glass.dxWeb_rMinBtnHover_Glass
{
    background-position: -134px -99px;
    width: 9px;
    height: 8px;
}
.dxWeb_rMinBtn_Glass.dxWeb_rMinBtnPressed_Glass
{
    background-position: -310px -90px;
    width: 9px;
    height: 8px;
}
.dxWeb_rMinBtnChecked_Glass.dxWeb_rMinBtn_Glass
{
    background-position: -288px -171px;
    width: 9px;
    height: 8px;
}
.dxWeb_rMinBtnChecked_Glass.dxWeb_rMinBtnDisabled_Glass
{
    background-position: -310px -99px;
    width: 9px;
    height: 8px;
}
.dxWeb_rMinBtnChecked_Glass.dxWeb_rMinBtnHover_Glass
{
    background-position: -308px -171px;
    width: 9px;
    height: 8px;
}
.dxWeb_rMinBtnChecked_Glass.dxWeb_rMinBtnPressed_Glass
{
    background-position: -310px -81px;
    width: 9px;
    height: 8px;
}
.dxWeb_rMinBtnDisabled_Glass
{
    background-position: -298px -171px;
    width: 9px;
    height: 8px;
}
.dxWeb_rpCollapseButton_Glass
{
    background-position: -243px -186px;
    width: 16px;
    height: 16px;
}
.dxWeb_rPopOut_Glass
{
    background-position: -224px -178px;
    width: 7px;
    height: 7px;
}
.dxWeb_splHCollapseBackwardButton_Glass
{
    background-position: -278px -179px;
    width: 7px;
    height: 6px;
}
.dxWeb_splHCollapseBackwardButtonHover_Glass
{
    background-position: -262px -179px;
    width: 7px;
    height: 6px;
}
.dxWeb_splHCollapseForwardButton_Glass
{
    background-position: -270px -179px;
    width: 7px;
    height: 6px;
}
.dxWeb_splHCollapseForwardButtonHover_Glass
{
    background-position: -254px -179px;
    width: 7px;
    height: 6px;
}
.dxWeb_splHSeparator_Glass
{
    background-position: -243px -171px;
    width: 18px;
    height: 6px;
}
.dxWeb_splHSeparatorHover_Glass
{
    background-position: -224px -171px;
    width: 18px;
    height: 6px;
}
.dxWeb_splVCollapseBackwardButton_Glass
{
    background-position: -247px -178px;
    width: 6px;
    height: 7px;
}
.dxWeb_splVCollapseBackwardButtonHover_Glass
{
    background-position: -240px -178px;
    width: 6px;
    height: 7px;
}
.dxWeb_splVCollapseForwardButton_Glass
{
    background-position: -276px -39px;
    width: 6px;
    height: 7px;
}
.dxWeb_splVCollapseForwardButtonHover_Glass
{
    background-position: -314px -26px;
    width: 6px;
    height: 7px;
}
.dxWeb_splVSeparator_Glass
{
    background-position: -276px -47px;
    width: 6px;
    height: 18px;
}
.dxWeb_splVSeparatorHover_Glass
{
    background-position: -314px 0px;
    width: 6px;
    height: 18px;
}
.dxWeb_tcScrollLeft_Glass
{
    background-position: -289px -204px;
    width: 5px;
    height: 7px;
}
.dxWeb_tcScrollLeftDisabled_Glass
{
    background-position: -315px -196px;
    width: 5px;
    height: 7px;
}
.dxWeb_tcScrollLeftHover_Glass
{
    background-position: -311px -186px;
    width: 5px;
    height: 7px;
}
.dxWeb_tcScrollLeftPressed_Glass
{
    background-position: -307px -204px;
    width: 5px;
    height: 7px;
}
.dxWeb_tcScrollRight_Glass
{
    background-position: -283px -204px;
    width: 5px;
    height: 7px;
}
.dxWeb_tcScrollRightDisabled_Glass
{
    background-position: -301px -204px;
    width: 5px;
    height: 7px;
}
.dxWeb_tcScrollRightHover_Glass
{
    background-position: -295px -204px;
    width: 5px;
    height: 7px;
}
.dxWeb_tcScrollRightPressed_Glass
{
    background-position: -313px -204px;
    width: 5px;
    height: 7px;
}
.dxWeb_tiBackToTop_Glass
{
    background-position: -59px -171px;
    width: 14px;
    height: 14px;
}
.dxWeb_tvColBtn_Glass
{
    background-position: -170px -152px;
    width: 17px;
    height: 17px;
}
.dxWeb_tvColBtnRtl_Glass
{
    background-position: -116px -152px;
    width: 17px;
    height: 17px;
}
.dxWeb_tvExpBtn_Glass
{
    background-position: -296px -152px;
    width: 17px;
    height: 17px;
}
.dxWeb_tvExpBtnRtl_Glass
{
    background-position: -152px -152px;
    width: 17px;
    height: 17px;
}
.dxWeb_ucClearButton_Glass
{
    background-position: -90px -186px;
    width: 16px;
    height: 16px;
}
.dxWeb_ucClearButtonDisabled_Glass
{
    background-position: -294px -186px;
    width: 16px;
    height: 16px;
}
.dxWeb_rpHeaderTopLeftCorner_Glass,
.dxWeb_rpHeaderTopRightCorner_Glass,
.dxWeb_rpHeaderBottomLeftCorner_Glass,
.dxWeb_rpHeaderBottomRightCorner_Glass,
.dxWeb_rpBottomLeftCorner_Glass,
.dxWeb_rpBottomRightCorner_Glass,
.dxWeb_rpTopLeftCorner_Glass,
.dxWeb_rpTopRightCorner_Glass,
.dxWeb_rpGroupBoxBottomLeftCorner_Glass,
.dxWeb_rpGroupBoxBottomRightCorner_Glass,
.dxWeb_rpGroupBoxTopLeftCorner_Glass,
.dxWeb_rpGroupBoxTopRightCorner_Glass,
.dxWeb_mHorizontalPopOut_Glass,
.dxWeb_mVerticalPopOut_Glass,
.dxWeb_mVerticalPopOutRtl_Glass,
.dxWeb_mSubMenuItem_Glass,
.dxWeb_mSubMenuItemChecked_Glass,
.dxWeb_mScrollUp_Glass,
.dxWeb_mScrollDown_Glass,
.dxWeb_tcScrollLeft_Glass,
.dxWeb_tcScrollRight_Glass,
.dxWeb_tcScrollLeftHover_Glass,
.dxWeb_tcScrollRightHover_Glass,
.dxWeb_tcScrollLeftPressed_Glass,
.dxWeb_tcScrollRightPressed_Glass,
.dxWeb_tcScrollLeftDisabled_Glass,
.dxWeb_tcScrollRightDisabled_Glass,
.dxWeb_nbCollapse_Glass,
.dxWeb_nbExpand_Glass,
.dxWeb_splVSeparator_Glass,
.dxWeb_splVSeparatorHover_Glass,
.dxWeb_splHSeparator_Glass,
.dxWeb_splHSeparatorHover_Glass,
.dxWeb_splVCollapseBackwardButton_Glass,
.dxWeb_splVCollapseBackwardButtonHover_Glass,
.dxWeb_splHCollapseBackwardButton_Glass,
.dxWeb_splHCollapseBackwardButtonHover_Glass,
.dxWeb_splVCollapseForwardButton_Glass,
.dxWeb_splVCollapseForwardButtonHover_Glass,
.dxWeb_splHCollapseForwardButton_Glass,
.dxWeb_splHCollapseForwardButtonHover_Glass,
.dxWeb_pcCloseButton_Glass,
.dxWeb_pcPinButton_Glass,
.dxWeb_pcRefreshButton_Glass,
.dxWeb_pcCollapseButton_Glass,
.dxWeb_pcMaximizeButton_Glass,
.dxWeb_pcSizeGrip_Glass,
.dxWeb_pcSizeGripRtl_Glass,
.dxWeb_pPopOut_Glass,
.dxWeb_pPopOutDisabled_Glass,
.dxWeb_pAll_Glass,
.dxWeb_pAllDisabled_Glass,
.dxWeb_pPrev_Glass,
.dxWeb_pPrevDisabled_Glass,
.dxWeb_pNext_Glass,
.dxWeb_pNextDisabled_Glass,
.dxWeb_pLast_Glass,
.dxWeb_pLastDisabled_Glass,
.dxWeb_pFirst_Glass,
.dxWeb_pFirstDisabled_Glass,
.dxWeb_tiBackToTop_Glass,
.dxWeb_ncTail_Glass,
.dxWeb_hlTail_Glass,
.dxWeb_ncBackToTop_Glass,
.dxWeb_tvColBtn_Glass,
.dxWeb_tvColBtnRtl_Glass,
.dxWeb_tvExpBtn_Glass,
.dxWeb_tvExpBtnRtl_Glass,
.dxWeb_fmFolder_Glass,
.dxWeb_fmFolderLocked_Glass,
.dxWeb_fmCreateButton_Glass,
.dxWeb_fmMoveButton_Glass,
.dxWeb_fmRenameButton_Glass,
.dxWeb_fmDeleteButton_Glass,
.dxWeb_fmRefreshButton_Glass,
.dxWeb_fmDwnlButton_Glass,
.dxWeb_fmCreateButtonDisabled_Glass,
.dxWeb_fmMoveButtonDisabled_Glass,
.dxWeb_fmRenameButtonDisabled_Glass,
.dxWeb_fmDeleteButtonDisabled_Glass,
.dxWeb_fmRefreshButtonDisabled_Glass,
.dxWeb_fmDwnlButtonDisabled_Glass,
.dxWeb_ucClearButton_Glass,
.dxWeb_ucClearButtonDisabled_Glass,
.dxWeb_isPrevBtnHor_Glass,
.dxWeb_isNextBtnHor_Glass,
.dxWeb_isPrevBtnVert_Glass,
.dxWeb_isNextBtnVert_Glass,
.dxWeb_isPrevPageBtnHor_Glass,
.dxWeb_isPrevPageBtnHorOutside_Glass,
.dxWeb_isNextPageBtnHor_Glass,
.dxWeb_isNextPageBtnHorOutside_Glass,
.dxWeb_isPrevPageBtnVert_Glass,
.dxWeb_isPrevPageBtnVertOutside_Glass,
.dxWeb_isNextPageBtnVert_Glass,
.dxWeb_isNextPageBtnVertOutside_Glass,
.dxWeb_isPrevBtnHorDisabled_Glass,
.dxWeb_isNextBtnHorDisabled_Glass,
.dxWeb_isPrevBtnVertDisabled_Glass,
.dxWeb_isNextBtnVertDisabled_Glass,
.dxWeb_isPrevPageBtnHorDisabled_Glass,
.dxWeb_isPrevPageBtnHorOutsideDisabled_Glass,
.dxWeb_isNextPageBtnHorDisabled_Glass,
.dxWeb_isNextPageBtnHorOutsideDisabled_Glass,
.dxWeb_isPrevPageBtnVertDisabled_Glass,
.dxWeb_isPrevPageBtnVertOutsideDisabled_Glass,
.dxWeb_isNextPageBtnVertDisabled_Glass,
.dxWeb_isNextPageBtnVertOutsideDisabled_Glass,
.dxWeb_isDot_Glass,
.dxWeb_isDotDisabled_Glass,
.dxWeb_isDotSelected_Glass,
.dxWeb_fmGvHeaderFilter_Glass,
.dxWeb_fmGvHeaderFilterActive_Glass,
.dxWeb_fmThumbnailCheck_Glass,
.dxWeb_isPlayBtn_Glass,
.dxWeb_isPauseBtn_Glass,
.dxWeb_igCloseButton_Glass,
.dxWeb_igNextButton_Glass,
.dxWeb_igPrevButton_Glass,
.dxWeb_igPlayButton_Glass,
.dxWeb_igPauseButton_Glass,
.dxWeb_igNavigationBarMarker_Glass
 {
    display:block;
}
.dxWeb_mScrollUp_Glass, .dxWeb_mScrollDown_Glass
{
	margin: auto;
}
.dxWeb_hlTail_Glass,
.dxWeb_ncBackToTop_Glass,
.dxWeb_ncTail_Glass,
.dxWeb_smBullet_Glass,
.dxWeb_tiBackToTop_Glass,
.dxWeb_fmGvHeaderFilter_Glass,
.dxWeb_fmGvHeaderFilterActive_Glass
{
	display:inline;
}

