.dxeButtonEditButtonHover_BlackGlass .dxEditors_edtClear_BlackGlass,
.dxEditors_caRefresh_BlackGlass,
.dxEditors_edtBinaryImageDelete_BlackGlass,
.dxEditors_edtBinaryImageOpenDialog_BlackGlass,
.dxEditors_edtCalendarFNNextYear_BlackGlass,
.dxEditors_edtCalendarFNPrevYear_BlackGlass,
.dxEditors_edtCalendarNextMonth_BlackGlass,
.dxEditors_edtCalendarNextMonthDisabled_BlackGlass,
.dxEditors_edtCalendarNextYear_BlackGlass,
.dxEditors_edtCalendarNextYearDisabled_BlackGlass,
.dxEditors_edtCalendarPrevMonth_BlackGlass,
.dxEditors_edtCalendarPrevMonthDisabled_BlackGlass,
.dxEditors_edtCalendarPrevYear_BlackGlass,
.dxEditors_edtCalendarPrevYearDisabled_BlackGlass,
.dxEditors_edtClear_BlackGlass,
.dxEditors_edtDETSClockFace_BlackGlass,
.dxEditors_edtDETSHourHand_BlackGlass,
.dxEditors_edtDETSMinuteHand_BlackGlass,
.dxEditors_edtDETSSecondHand_BlackGlass,
.dxEditors_edtDropDown_BlackGlass,
.dxEditors_edtDropDownDisabled_BlackGlass,
.dxEditors_edtEllipsis_BlackGlass,
.dxEditors_edtEllipsisDisabled_BlackGlass,
.dxEditors_edtError_BlackGlass,
.dxEditors_edtRadioButtonChecked_BlackGlass,
.dxEditors_edtRadioButtonCheckedDisabled_BlackGlass,
.dxEditors_edtRadioButtonUnchecked_BlackGlass,
.dxEditors_edtRadioButtonUncheckedDisabled_BlackGlass,
.dxEditors_edtSpinEditDecrementImage_BlackGlass,
.dxEditors_edtSpinEditDecrementImageDisabled_BlackGlass,
.dxEditors_edtSpinEditIncrementImage_BlackGlass,
.dxEditors_edtSpinEditIncrementImageDisabled_BlackGlass,
.dxEditors_edtSpinEditLargeDecImage_BlackGlass,
.dxEditors_edtSpinEditLargeDecImageDisabled_BlackGlass,
.dxEditors_edtSpinEditLargeIncImage_BlackGlass,
.dxEditors_edtSpinEditLargeIncImageDisabled_BlackGlass,
.dxEditors_edtTBDecBtn_BlackGlass,
.dxEditors_edtTBDecBtnDisabled_BlackGlass,
.dxEditors_edtTBDecBtnHover_BlackGlass,
.dxEditors_edtTBDecBtnPressed_BlackGlass,
.dxEditors_edtTBIncBtn_BlackGlass,
.dxEditors_edtTBIncBtnDisabled_BlackGlass,
.dxEditors_edtTBIncBtnHover_BlackGlass,
.dxEditors_edtTBIncBtnPressed_BlackGlass,
.dxEditors_edtTokenBoxTokenRemoveButton_BlackGlass,
.dxEditors_edtTokenBoxTokenRemoveButtonDisabled_BlackGlass,
.dxEditors_fcadd_BlackGlass,
.dxEditors_fcaddhot_BlackGlass,
.dxEditors_fcgroupaddcondition_BlackGlass,
.dxEditors_fcgroupaddgroup_BlackGlass,
.dxEditors_fcgroupand_BlackGlass,
.dxEditors_fcgroupnotand_BlackGlass,
.dxEditors_fcgroupnotor_BlackGlass,
.dxEditors_fcgroupor_BlackGlass,
.dxEditors_fcgroupremove_BlackGlass,
.dxEditors_fcopany_BlackGlass,
.dxEditors_fcopavg_BlackGlass,
.dxEditors_fcopbegin_BlackGlass,
.dxEditors_fcopbetween_BlackGlass,
.dxEditors_fcopblank_BlackGlass,
.dxEditors_fcopcontain_BlackGlass,
.dxEditors_fcopcount_BlackGlass,
.dxEditors_fcopend_BlackGlass,
.dxEditors_fcopequal_BlackGlass,
.dxEditors_fcopexists_BlackGlass,
.dxEditors_fcopgreater_BlackGlass,
.dxEditors_fcopgreaterorequal_BlackGlass,
.dxEditors_fcopless_BlackGlass,
.dxEditors_fcoplessorequal_BlackGlass,
.dxEditors_fcoplike_BlackGlass,
.dxEditors_fcopmax_BlackGlass,
.dxEditors_fcopmin_BlackGlass,
.dxEditors_fcopnotany_BlackGlass,
.dxEditors_fcopnotbetween_BlackGlass,
.dxEditors_fcopnotblank_BlackGlass,
.dxEditors_fcopnotcontain_BlackGlass,
.dxEditors_fcopnotequal_BlackGlass,
.dxEditors_fcopnotlike_BlackGlass,
.dxEditors_fcopsingle_BlackGlass,
.dxEditors_fcopsum_BlackGlass,
.dxEditors_fcoptypefield_BlackGlass,
.dxEditors_fcoptypefieldhot_BlackGlass,
.dxEditors_fcoptypevalue_BlackGlass,
.dxEditors_fcoptypevaluehot_BlackGlass,
.dxEditors_fcremove_BlackGlass,
.dxEditors_fcremovehot_BlackGlass,
.dxeFocused_BlackGlass .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_BlackGlass,
.dxeFocused_BlackGlass .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_BlackGlass,
.dxeFocused_BlackGlass .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_BlackGlass,
.dxeFocused_BlackGlass .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_BlackGlass,
.dxeFocused_BlackGlass .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_BlackGlass,
.dxeFocused_BlackGlass .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_BlackGlass,
.dxeFocused_BlackGlass .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_BlackGlass,
.dxeFocused_BlackGlass .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_BlackGlass,
.dxeFocused_BlackGlass .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_BlackGlass,
.dxeFocused_BlackGlass .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_BlackGlass,
.dxeFocused_BlackGlass .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_BlackGlass,
.dxeFocused_BlackGlass .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_BlackGlass,
.dxeTBHSys .dxEditors_edtTBMainDH_BlackGlass,
.dxeTBHSys .dxEditors_edtTBMainDHDisabled_BlackGlass,
.dxeTBHSys .dxEditors_edtTBMainDHHover_BlackGlass,
.dxeTBHSys .dxEditors_edtTBMainDHPressed_BlackGlass,
.dxeTBHSys .dxEditors_edtTBSecondaryDH_BlackGlass,
.dxeTBHSys .dxEditors_edtTBSecondaryDHDisabled_BlackGlass,
.dxeTBHSys .dxEditors_edtTBSecondaryDHHover_BlackGlass,
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_BlackGlass,
.dxeTBVSys .dxEditors_edtTBMainDH_BlackGlass,
.dxeTBVSys .dxEditors_edtTBMainDHDisabled_BlackGlass,
.dxeTBVSys .dxEditors_edtTBMainDHHover_BlackGlass,
.dxeTBVSys .dxEditors_edtTBMainDHPressed_BlackGlass,
.dxeTBVSys .dxEditors_edtTBSecondaryDH_BlackGlass,
.dxeTBVSys .dxEditors_edtTBSecondaryDHDisabled_BlackGlass,
.dxeTBVSys .dxEditors_edtTBSecondaryDHHover_BlackGlass,
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_BlackGlass
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxeButtonEditButtonHover_BlackGlass .dxEditors_edtClear_BlackGlass
{
    background-position: -98px -266px;
    width: 13px;
    height: 13px;
}
.dxEditors_caRefresh_BlackGlass
{
    background-position: -28px -252px;
    width: 13px;
    height: 13px;
}
.dxEditors_edtBinaryImageDelete_BlackGlass
{
    background-position: -146px 0px;
    width: 32px;
    height: 32px;
}
.dxEditors_edtBinaryImageOpenDialog_BlackGlass
{
    background-position: -151px -91px;
    width: 32px;
    height: 32px;
}
.dxEditors_edtCalendarFNNextYear_BlackGlass
{
    background-position: -88px -172px;
    width: 20px;
    height: 18px;
}
.dxEditors_edtCalendarFNPrevYear_BlackGlass
{
    background-position: -46px -172px;
    width: 20px;
    height: 18px;
}
.dxEditors_edtCalendarNextMonth_BlackGlass
{
    background-position: -151px -172px;
    width: 20px;
    height: 18px;
}
.dxEditors_edtCalendarNextMonthDisabled_BlackGlass
{
    background-position: -130px -172px;
    width: 20px;
    height: 18px;
}
.dxEditors_edtCalendarNextYear_BlackGlass
{
    background-position: -23px -172px;
    width: 22px;
    height: 18px;
}
.dxEditors_edtCalendarNextYearDisabled_BlackGlass
{
    background-position: 0px -172px;
    width: 22px;
    height: 18px;
}
.dxEditors_edtCalendarPrevMonth_BlackGlass
{
    background-position: -109px -172px;
    width: 20px;
    height: 18px;
}
.dxEditors_edtCalendarPrevMonthDisabled_BlackGlass
{
    background-position: -67px -172px;
    width: 20px;
    height: 18px;
}
.dxEditors_edtCalendarPrevYear_BlackGlass
{
    background-position: -149px -151px;
    width: 22px;
    height: 18px;
}
.dxEditors_edtCalendarPrevYearDisabled_BlackGlass
{
    background-position: -126px -151px;
    width: 22px;
    height: 18px;
}
.dxEditors_edtClear_BlackGlass
{
    background-position: -140px -252px;
    width: 13px;
    height: 13px;
}
.dxEditors_edtDETSClockFace_BlackGlass
{
    background-position: 0px 0px;
    width: 123px;
    height: 123px;
}
.dxEditors_edtDETSHourHand_BlackGlass
{
    background-position: -130px 0px;
    width: 7px;
    height: 60px;
}
.dxEditors_edtDETSMinuteHand_BlackGlass
{
    background-position: -138px 0px;
    width: 7px;
    height: 60px;
}
.dxEditors_edtDETSSecondHand_BlackGlass
{
    background-position: -124px 0px;
    width: 5px;
    height: 78px;
}
.dxEditors_edtDropDown_BlackGlass
{
    background-position: -168px -141px;
    width: 11px;
    height: 4px;
}
.dxEditors_edtDropDownDisabled_BlackGlass
{
    background-position: -172px -146px;
    width: 11px;
    height: 4px;
}
.dxEditors_edtEllipsis_BlackGlass
{
    background-position: -124px -99px;
    width: 12px;
    height: 4px;
}
.dxEditors_edtEllipsisDisabled_BlackGlass
{
    background-position: -130px -92px;
    width: 12px;
    height: 4px;
}
.dxEditors_edtError_BlackGlass
{
    background-position: -16px -208px;
    width: 14px;
    height: 14px;
}
.dxEditors_edtRadioButtonChecked_BlackGlass
{
    background-position: -167px -191px;
    width: 15px;
    height: 15px;
}
.dxEditors_edtRadioButtonCheckedDisabled_BlackGlass
{
    background-position: -135px -191px;
    width: 15px;
    height: 15px;
}
.dxEditors_edtRadioButtonUnchecked_BlackGlass
{
    background-position: -151px -191px;
    width: 15px;
    height: 15px;
}
.dxEditors_edtRadioButtonUncheckedDisabled_BlackGlass
{
    background-position: -168px -124px;
    width: 15px;
    height: 15px;
}
.dxEditors_edtSpinEditDecrementImage_BlackGlass
{
    background-position: -173px -44px;
    width: 7px;
    height: 4px;
}
.dxEditors_edtSpinEditDecrementImageDisabled_BlackGlass
{
    background-position: -173px -39px;
    width: 7px;
    height: 4px;
}
.dxEditors_edtSpinEditIncrementImage_BlackGlass
{
    background-position: -173px -34px;
    width: 7px;
    height: 4px;
}
.dxEditors_edtSpinEditIncrementImageDisabled_BlackGlass
{
    background-position: -172px -151px;
    width: 7px;
    height: 4px;
}
.dxEditors_edtSpinEditLargeDecImage_BlackGlass
{
    background-position: -124px -104px;
    width: 6px;
    height: 9px;
}
.dxEditors_edtSpinEditLargeDecImageDisabled_BlackGlass
{
    background-position: -130px -114px;
    width: 6px;
    height: 9px;
}
.dxEditors_edtSpinEditLargeIncImage_BlackGlass
{
    background-position: -167px -51px;
    width: 6px;
    height: 9px;
}
.dxEditors_edtSpinEditLargeIncImageDisabled_BlackGlass
{
    background-position: -174px -51px;
    width: 6px;
    height: 9px;
}
.dxEditors_edtTBDecBtn_BlackGlass
{
    background-position: -146px -49px;
    width: 20px;
    height: 20px;
}
.dxEditors_edtTBDecBtnDisabled_BlackGlass
{
    background-position: -21px -151px;
    width: 20px;
    height: 20px;
}
.dxEditors_edtTBDecBtnHover_BlackGlass
{
    background-position: -84px -151px;
    width: 20px;
    height: 20px;
}
.dxEditors_edtTBDecBtnPressed_BlackGlass
{
    background-position: 0px -151px;
    width: 20px;
    height: 20px;
}
.dxEditors_edtTBIncBtn_BlackGlass
{
    background-position: -63px -151px;
    width: 20px;
    height: 20px;
}
.dxEditors_edtTBIncBtnDisabled_BlackGlass
{
    background-position: -105px -151px;
    width: 20px;
    height: 20px;
}
.dxEditors_edtTBIncBtnHover_BlackGlass
{
    background-position: -146px -70px;
    width: 20px;
    height: 20px;
}
.dxEditors_edtTBIncBtnPressed_BlackGlass
{
    background-position: -42px -151px;
    width: 20px;
    height: 20px;
}
.dxEditors_edtTokenBoxTokenRemoveButton_BlackGlass
{
    background-position: -119px -191px;
    width: 15px;
    height: 15px;
}
.dxEditors_edtTokenBoxTokenRemoveButtonDisabled_BlackGlass
{
    background-position: 0px -208px;
    width: 15px;
    height: 15px;
}
.dxEditors_fcadd_BlackGlass
{
    background-position: -42px -252px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcaddhot_BlackGlass
{
    background-position: -96px -238px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupaddcondition_BlackGlass
{
    background-position: -154px -252px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupaddgroup_BlackGlass
{
    background-position: -166px -238px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupand_BlackGlass
{
    background-position: -162px -224px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupnotand_BlackGlass
{
    background-position: -54px -238px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupnotor_BlackGlass
{
    background-position: -124px -238px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupor_BlackGlass
{
    background-position: -14px -252px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupremove_BlackGlass
{
    background-position: -138px -238px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopany_BlackGlass
{
    background-position: -126px -266px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopavg_BlackGlass
{
    background-position: -17px -191px;
    width: 16px;
    height: 16px;
}
.dxEditors_fcopbegin_BlackGlass
{
    background-position: -14px -266px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopbetween_BlackGlass
{
    background-position: -166px -208px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopblank_BlackGlass
{
    background-position: -140px -266px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopcontain_BlackGlass
{
    background-position: -126px -252px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopcount_BlackGlass
{
    background-position: -34px -191px;
    width: 16px;
    height: 16px;
}
.dxEditors_fcopend_BlackGlass
{
    background-position: -110px -238px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopequal_BlackGlass
{
    background-position: -68px -238px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopexists_BlackGlass
{
    background-position: -68px -191px;
    width: 16px;
    height: 16px;
}
.dxEditors_fcopgreater_BlackGlass
{
    background-position: 0px -252px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopgreaterorequal_BlackGlass
{
    background-position: -84px -252px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopless_BlackGlass
{
    background-position: -28px -266px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcoplessorequal_BlackGlass
{
    background-position: -70px -266px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcoplike_BlackGlass
{
    background-position: -112px -252px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopmax_BlackGlass
{
    background-position: 0px -191px;
    width: 16px;
    height: 16px;
}
.dxEditors_fcopmin_BlackGlass
{
    background-position: -51px -191px;
    width: 16px;
    height: 16px;
}
.dxEditors_fcopnotany_BlackGlass
{
    background-position: -42px -266px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotbetween_BlackGlass
{
    background-position: -98px -252px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotblank_BlackGlass
{
    background-position: -152px -238px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotcontain_BlackGlass
{
    background-position: -154px -266px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotequal_BlackGlass
{
    background-position: -112px -266px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotlike_BlackGlass
{
    background-position: -168px -252px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopsingle_BlackGlass
{
    background-position: -85px -191px;
    width: 16px;
    height: 16px;
}
.dxEditors_fcopsum_BlackGlass
{
    background-position: -102px -191px;
    width: 16px;
    height: 16px;
}
.dxEditors_fcoptypefield_BlackGlass
{
    background-position: -56px -252px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcoptypefieldhot_BlackGlass
{
    background-position: -56px -266px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcoptypevalue_BlackGlass
{
    background-position: -84px -266px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcoptypevaluehot_BlackGlass
{
    background-position: -70px -252px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcremove_BlackGlass
{
    background-position: 0px -266px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcremovehot_BlackGlass
{
    background-position: -82px -238px;
    width: 13px;
    height: 13px;
}
.dxeFocused_BlackGlass .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_BlackGlass
{
    background-position: -14px -124px;
    width: 13px;
    height: 26px;
}
.dxeFocused_BlackGlass .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_BlackGlass
{
    background-position: -28px -124px;
    width: 13px;
    height: 26px;
}
.dxeFocused_BlackGlass .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_BlackGlass
{
    background-position: -56px -124px;
    width: 13px;
    height: 26px;
}
.dxeFocused_BlackGlass .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_BlackGlass
{
    background-position: -112px -124px;
    width: 13px;
    height: 26px;
}
.dxeFocused_BlackGlass .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_BlackGlass
{
    background-position: 0px -124px;
    width: 13px;
    height: 26px;
}
.dxeFocused_BlackGlass .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_BlackGlass
{
    background-position: -154px -124px;
    width: 13px;
    height: 26px;
}
.dxeFocused_BlackGlass .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_BlackGlass
{
    background-position: -139px -208px;
    width: 26px;
    height: 13px;
}
.dxeFocused_BlackGlass .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_BlackGlass
{
    background-position: 0px -238px;
    width: 26px;
    height: 13px;
}
.dxeFocused_BlackGlass .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_BlackGlass
{
    background-position: -27px -224px;
    width: 26px;
    height: 13px;
}
.dxeFocused_BlackGlass .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_BlackGlass
{
    background-position: -108px -224px;
    width: 26px;
    height: 13px;
}
.dxeFocused_BlackGlass .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_BlackGlass
{
    background-position: -54px -224px;
    width: 26px;
    height: 13px;
}
.dxeFocused_BlackGlass .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_BlackGlass
{
    background-position: -85px -208px;
    width: 26px;
    height: 13px;
}
.dxeTBHSys .dxEditors_edtTBMainDH_BlackGlass
{
    background-position: -130px -64px;
    width: 13px;
    height: 26px;
}
.dxeTBHSys .dxEditors_edtTBMainDHDisabled_BlackGlass
{
    background-position: -42px -124px;
    width: 13px;
    height: 26px;
}
.dxeTBHSys .dxEditors_edtTBMainDHHover_BlackGlass
{
    background-position: -140px -124px;
    width: 13px;
    height: 26px;
}
.dxeTBHSys .dxEditors_edtTBMainDHPressed_BlackGlass
{
    background-position: -137px -97px;
    width: 13px;
    height: 26px;
}
.dxeTBHSys .dxEditors_edtTBSecondaryDH_BlackGlass
{
    background-position: -84px -124px;
    width: 13px;
    height: 26px;
}
.dxeTBHSys .dxEditors_edtTBSecondaryDHDisabled_BlackGlass
{
    background-position: -126px -124px;
    width: 13px;
    height: 26px;
}
.dxeTBHSys .dxEditors_edtTBSecondaryDHHover_BlackGlass
{
    background-position: -98px -124px;
    width: 13px;
    height: 26px;
}
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_BlackGlass
{
    background-position: -70px -124px;
    width: 13px;
    height: 26px;
}
.dxeTBVSys .dxEditors_edtTBMainDH_BlackGlass
{
    background-position: -112px -208px;
    width: 26px;
    height: 13px;
}
.dxeTBVSys .dxEditors_edtTBMainDHDisabled_BlackGlass
{
    background-position: -27px -238px;
    width: 26px;
    height: 13px;
}
.dxeTBVSys .dxEditors_edtTBMainDHHover_BlackGlass
{
    background-position: -146px -35px;
    width: 26px;
    height: 13px;
}
.dxeTBVSys .dxEditors_edtTBMainDHPressed_BlackGlass
{
    background-position: -135px -224px;
    width: 26px;
    height: 13px;
}
.dxeTBVSys .dxEditors_edtTBSecondaryDH_BlackGlass
{
    background-position: -81px -224px;
    width: 26px;
    height: 13px;
}
.dxeTBVSys .dxEditors_edtTBSecondaryDHDisabled_BlackGlass
{
    background-position: 0px -224px;
    width: 26px;
    height: 13px;
}
.dxeTBVSys .dxEditors_edtTBSecondaryDHHover_BlackGlass
{
    background-position: -31px -208px;
    width: 26px;
    height: 13px;
}
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_BlackGlass
{
    background-position: -58px -208px;
    width: 26px;
    height: 13px;
}
.dxeTBHSys .dxEditors_edtTBMainDHPressed_BlackGlass,
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_BlackGlass
{
	z-index: 7;
}
.dxeTBVSys .dxEditors_edtTBMainDHPressed_BlackGlass,
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_BlackGlass
{
	z-index: 7;
}
.dxEditors_edtError_BlackGlass,
.dxEditors_edtCalendarPrevYear_BlackGlass,
.dxEditors_edtCalendarPrevYearDisabled_BlackGlass,
.dxEditors_edtCalendarPrevMonth_BlackGlass,
.dxEditors_edtCalendarPrevMonthDisabled_BlackGlass,
.dxEditors_edtCalendarNextMonth_BlackGlass,
.dxEditors_edtCalendarNextMonthDisabled_BlackGlass,
.dxEditors_edtCalendarNextYear_BlackGlass,
.dxEditors_edtCalendarNextYearDisabled_BlackGlass,
.dxEditors_edtCalendarFNPrevYear_BlackGlass,
.dxEditors_edtCalendarFNNextYear_BlackGlass,
.dxEditors_edtEllipsis_BlackGlass,
.dxEditors_edtEllipsisDisabled_BlackGlass,
.dxEditors_edtDropDown_BlackGlass,
.dxEditors_edtDropDownDisabled_BlackGlass,
.dxEditors_edtSpinEditIncrementImage_BlackGlass,
.dxEditors_edtSpinEditIncrementImageDisabled_BlackGlass,
.dxEditors_edtSpinEditDecrementImage_BlackGlass,
.dxEditors_edtSpinEditDecrementImageDisabled_BlackGlass,
.dxEditors_edtSpinEditLargeIncImage_BlackGlass,
.dxEditors_edtSpinEditLargeIncImageDisabled_BlackGlass,
.dxEditors_edtSpinEditLargeDecImage_BlackGlass,
.dxEditors_edtSpinEditLargeDecImageDisabled_BlackGlass
{
	display:block;
	margin:auto;
}
.dxEditors_edtCalendarFNPrevYear_BlackGlass
{
    margin-right: 8px;
}
.dxEditors_edtCalendarFNNextYear_BlackGlass
{
    margin-left: 8px;
}

