.dxigControl_Office2003Blue.dxTouchUI .dxWeb_igCloseButton_Office2003Blue,
.dxigControl_Office2003Blue.dxTouchUI .dxWeb_igPauseButton_Office2003Blue,
.dxigControl_Office2003Blue.dxTouchUI .dxWeb_igPlayButton_Office2003Blue,
.dxpc-collapseBtnChecked .dxWeb_pcCollapseButton_Office2003Blue,
.dxpc-maximizeBtnChecked .dxWeb_pcMaximizeButton_Office2003Blue,
.dxpc-pinBtnChecked .dxWeb_pcPinButton_Office2003Blue,
.dxpnl-btnSelected .dxWeb_pnlExpand_Office2003Blue,
.dxpnl-btnSelected .dxWeb_pnlExpandArrowBottom_Office2003Blue,
.dxpnl-btnSelected .dxWeb_pnlExpandArrowLeft_Office2003Blue,
.dxpnl-btnSelected .dxWeb_pnlExpandArrowRight_Office2003Blue,
.dxpnl-btnSelected .dxWeb_pnlExpandArrowTop_Office2003Blue,
.dxrpCollapsed .dxWeb_rpCollapseButton_Office2003Blue,
.dxWeb_edtCheckBoxChecked_Office2003Blue,
.dxWeb_edtCheckBoxCheckedDisabled_Office2003Blue,
.dxWeb_edtCheckBoxGrayed_Office2003Blue,
.dxWeb_edtCheckBoxGrayedDisabled_Office2003Blue,
.dxWeb_edtCheckBoxUnchecked_Office2003Blue,
.dxWeb_edtCheckBoxUncheckedDisabled_Office2003Blue,
.dxWeb_fmBreadCrumbsSeparatorArrow_Office2003Blue,
.dxWeb_fmBreadCrumbsUpButton_Office2003Blue,
.dxWeb_fmBreadCrumbsUpButtonDisabled_Office2003Blue,
.dxWeb_fmCopyButton_Office2003Blue,
.dxWeb_fmCopyButtonDisabled_Office2003Blue,
.dxWeb_fmCreateButton_Office2003Blue,
.dxWeb_fmCreateButtonDisabled_Office2003Blue,
.dxWeb_fmDeleteButton_Office2003Blue,
.dxWeb_fmDeleteButtonDisabled_Office2003Blue,
.dxWeb_fmDwnlButton_Office2003Blue,
.dxWeb_fmDwnlButtonDisabled_Office2003Blue,
.dxWeb_fmFolder_Office2003Blue,
.dxWeb_fmFolderLocked_Office2003Blue,
.dxWeb_fmMoveButton_Office2003Blue,
.dxWeb_fmMoveButtonDisabled_Office2003Blue,
.dxWeb_fmRefreshButton_Office2003Blue,
.dxWeb_fmRefreshButtonDisabled_Office2003Blue,
.dxWeb_fmRenameButton_Office2003Blue,
.dxWeb_fmRenameButtonDisabled_Office2003Blue,
.dxWeb_fmThumbnailCheck_Office2003Blue,
.dxWeb_fmUplButton_Office2003Blue,
.dxWeb_fmUplButtonDisabled_Office2003Blue,
.dxWeb_hlTail_Office2003Blue,
.dxWeb_igCloseButton_Office2003Blue,
.dxWeb_igNavigationBarMarker_Office2003Blue,
.dxWeb_igNextButton_Office2003Blue,
.dxWeb_igNextButtonDisabled_Office2003Blue,
.dxWeb_igNextButtonHover_Office2003Blue,
.dxWeb_igNextButtonPressed_Office2003Blue,
.dxWeb_igPauseButton_Office2003Blue,
.dxWeb_igPlayButton_Office2003Blue,
.dxWeb_igPrevButton_Office2003Blue,
.dxWeb_igPrevButtonDisabled_Office2003Blue,
.dxWeb_igPrevButtonHover_Office2003Blue,
.dxWeb_igPrevButtonPressed_Office2003Blue,
.dxWeb_isDot_Office2003Blue,
.dxWeb_isDotDisabled_Office2003Blue,
.dxWeb_isDotPressed_Office2003Blue,
.dxWeb_isDotSelected_Office2003Blue,
.dxWeb_isNextBtnHor_Office2003Blue,
.dxWeb_isNextBtnHorDisabled_Office2003Blue,
.dxWeb_isNextBtnVert_Office2003Blue,
.dxWeb_isNextBtnVertDisabled_Office2003Blue,
.dxWeb_isNextPageBtnHor_Office2003Blue,
.dxWeb_isNextPageBtnHorDisabled_Office2003Blue,
.dxWeb_isNextPageBtnHorOutside_Office2003Blue,
.dxWeb_isNextPageBtnHorOutsideDisabled_Office2003Blue,
.dxWeb_isNextPageBtnVert_Office2003Blue,
.dxWeb_isNextPageBtnVertDisabled_Office2003Blue,
.dxWeb_isNextPageBtnVertOutside_Office2003Blue,
.dxWeb_isNextPageBtnVertOutsideDisabled_Office2003Blue,
.dxWeb_isPauseBtn_Office2003Blue,
.dxWeb_isPlayBtn_Office2003Blue,
.dxWeb_isPrevBtnHor_Office2003Blue,
.dxWeb_isPrevBtnHorDisabled_Office2003Blue,
.dxWeb_isPrevBtnVert_Office2003Blue,
.dxWeb_isPrevBtnVertDisabled_Office2003Blue,
.dxWeb_isPrevPageBtnHor_Office2003Blue,
.dxWeb_isPrevPageBtnHorDisabled_Office2003Blue,
.dxWeb_isPrevPageBtnHorOutside_Office2003Blue,
.dxWeb_isPrevPageBtnHorOutsideDisabled_Office2003Blue,
.dxWeb_isPrevPageBtnVert_Office2003Blue,
.dxWeb_isPrevPageBtnVertDisabled_Office2003Blue,
.dxWeb_isPrevPageBtnVertOutside_Office2003Blue,
.dxWeb_isPrevPageBtnVertOutsideDisabled_Office2003Blue,
.dxWeb_izEWCloseButton_Office2003Blue,
.dxWeb_izHint_Office2003Blue,
.dxWeb_mAdaptiveMenu_Office2003Blue,
.dxWeb_mHorizontalPopOut_Office2003Blue,
.dxWeb_mScrollDown_Office2003Blue,
.dxWeb_mScrollUp_Office2003Blue,
.dxWeb_mSubMenuItem_Office2003Blue,
.dxWeb_mSubMenuItemChecked_Office2003Blue,
.dxWeb_mVerticalPopOut_Office2003Blue,
.dxWeb_mVerticalPopOutRtl_Office2003Blue,
.dxWeb_nbCollapse_Office2003Blue,
.dxWeb_nbExpand_Office2003Blue,
.dxWeb_pAll_Office2003Blue,
.dxWeb_pAllDisabled_Office2003Blue,
.dxWeb_pcCloseButton_Office2003Blue,
.dxWeb_pcCollapseButton_Office2003Blue,
.dxWeb_pcMaximizeButton_Office2003Blue,
.dxWeb_pcPinButton_Office2003Blue,
.dxWeb_pcRefreshButton_Office2003Blue,
.dxWeb_pcSizeGrip_Office2003Blue,
.dxWeb_pcSizeGripRtl_Office2003Blue,
.dxWeb_pFirst_Office2003Blue,
.dxWeb_pFirstDisabled_Office2003Blue,
.dxWeb_pLast_Office2003Blue,
.dxWeb_pLastDisabled_Office2003Blue,
.dxWeb_pNext_Office2003Blue,
.dxWeb_pNextDisabled_Office2003Blue,
.dxWeb_pnlExpand_Office2003Blue,
.dxWeb_pnlExpandArrowBottom_Office2003Blue,
.dxWeb_pnlExpandArrowLeft_Office2003Blue,
.dxWeb_pnlExpandArrowRight_Office2003Blue,
.dxWeb_pnlExpandArrowTop_Office2003Blue,
.dxWeb_pPopOut_Office2003Blue,
.dxWeb_pPopOutDisabled_Office2003Blue,
.dxWeb_pPrev_Office2003Blue,
.dxWeb_pPrevDisabled_Office2003Blue,
.dxWeb_rDialogBoxLauncher_Office2003Blue,
.dxWeb_rDialogBoxLauncherDisabled_Office2003Blue,
.dxWeb_rDialogBoxLauncherHover_Office2003Blue,
.dxWeb_rDialogBoxLauncherPressed_Office2003Blue,
.dxWeb_rGlrDown_Office2003Blue,
.dxWeb_rGlrDownDisabled_Office2003Blue,
.dxWeb_rGlrPopOut_Office2003Blue,
.dxWeb_rGlrPopOutDisabled_Office2003Blue,
.dxWeb_rGlrUp_Office2003Blue,
.dxWeb_rGlrUpDisabled_Office2003Blue,
.dxWeb_rMinBtn_Office2003Blue,
.dxWeb_rMinBtn_Office2003Blue.dxWeb_rMinBtnHover_Office2003Blue,
.dxWeb_rMinBtn_Office2003Blue.dxWeb_rMinBtnPressed_Office2003Blue,
.dxWeb_rMinBtnChecked_Office2003Blue.dxWeb_rMinBtn_Office2003Blue,
.dxWeb_rMinBtnChecked_Office2003Blue.dxWeb_rMinBtnDisabled_Office2003Blue,
.dxWeb_rMinBtnChecked_Office2003Blue.dxWeb_rMinBtnHover_Office2003Blue,
.dxWeb_rMinBtnChecked_Office2003Blue.dxWeb_rMinBtnPressed_Office2003Blue,
.dxWeb_rMinBtnDisabled_Office2003Blue,
.dxWeb_rpCollapseButton_Office2003Blue,
.dxWeb_rPopOut_Office2003Blue,
.dxWeb_smBullet_Office2003Blue,
.dxWeb_splHCollapseBackwardButton_Office2003Blue,
.dxWeb_splHCollapseBackwardButtonHover_Office2003Blue,
.dxWeb_splHCollapseForwardButton_Office2003Blue,
.dxWeb_splHCollapseForwardButtonHover_Office2003Blue,
.dxWeb_splHSeparator_Office2003Blue,
.dxWeb_splHSeparatorHover_Office2003Blue,
.dxWeb_splVCollapseBackwardButton_Office2003Blue,
.dxWeb_splVCollapseBackwardButtonHover_Office2003Blue,
.dxWeb_splVCollapseForwardButton_Office2003Blue,
.dxWeb_splVCollapseForwardButtonHover_Office2003Blue,
.dxWeb_splVSeparator_Office2003Blue,
.dxWeb_splVSeparatorHover_Office2003Blue,
.dxWeb_tcScrollLeft_Office2003Blue,
.dxWeb_tcScrollLeftDisabled_Office2003Blue,
.dxWeb_tcScrollLeftHover_Office2003Blue,
.dxWeb_tcScrollLeftPressed_Office2003Blue,
.dxWeb_tcScrollRight_Office2003Blue,
.dxWeb_tcScrollRightDisabled_Office2003Blue,
.dxWeb_tcScrollRightHover_Office2003Blue,
.dxWeb_tcScrollRightPressed_Office2003Blue,
.dxWeb_tiBackToTop_Office2003Blue,
.dxWeb_tvColBtn_Office2003Blue,
.dxWeb_tvColBtnRtl_Office2003Blue,
.dxWeb_tvExpBtn_Office2003Blue,
.dxWeb_tvExpBtnRtl_Office2003Blue,
.dxWeb_ucClearButton_Office2003Blue,
.dxWeb_ucClearButtonDisabled_Office2003Blue
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxigControl_Office2003Blue.dxTouchUI .dxWeb_igCloseButton_Office2003Blue
{
    background-position: -96px -198px;
    width: 23px;
    height: 23px;
}
.dxigControl_Office2003Blue.dxTouchUI .dxWeb_igPauseButton_Office2003Blue
{
    background-position: -74px -198px;
    width: 21px;
    height: 25px;
}
.dxigControl_Office2003Blue.dxTouchUI .dxWeb_igPlayButton_Office2003Blue
{
    background-position: -52px -198px;
    width: 21px;
    height: 25px;
}
.dxpc-collapseBtnChecked .dxWeb_pcCollapseButton_Office2003Blue
{
    background-position: -116px -333px;
    width: 13px;
    height: 12px;
}
.dxpc-maximizeBtnChecked .dxWeb_pcMaximizeButton_Office2003Blue
{
    background-position: -84px -446px;
    width: 13px;
    height: 12px;
}
.dxpc-pinBtnChecked .dxWeb_pcPinButton_Office2003Blue
{
    background-position: -70px -446px;
    width: 13px;
    height: 12px;
}
.dxpnl-btnSelected .dxWeb_pnlExpand_Office2003Blue
{
    background-position: -120px -198px;
    width: 23px;
    height: 23px;
}
.dxpnl-btnSelected .dxWeb_pnlExpandArrowBottom_Office2003Blue
{
    background-position: 0px -247px;
    width: 22px;
    height: 22px;
}
.dxpnl-btnSelected .dxWeb_pnlExpandArrowLeft_Office2003Blue
{
    background-position: -69px -247px;
    width: 22px;
    height: 22px;
}
.dxpnl-btnSelected .dxWeb_pnlExpandArrowRight_Office2003Blue
{
    background-position: -46px -290px;
    width: 22px;
    height: 22px;
}
.dxpnl-btnSelected .dxWeb_pnlExpandArrowTop_Office2003Blue
{
    background-position: -46px -247px;
    width: 22px;
    height: 22px;
}
.dxrpCollapsed .dxWeb_rpCollapseButton_Office2003Blue
{
    background-position: -130px -381px;
    width: 13px;
    height: 14px;
}
.dxWeb_edtCheckBoxChecked_Office2003Blue
{
    background-position: -119px -413px;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxCheckedDisabled_Office2003Blue
{
    background-position: -48px -430px;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxGrayed_Office2003Blue
{
    background-position: -16px -430px;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxGrayedDisabled_Office2003Blue
{
    background-position: 0px -430px;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxUnchecked_Office2003Blue
{
    background-position: -32px -430px;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxUncheckedDisabled_Office2003Blue
{
    background-position: -130px -346px;
    width: 15px;
    height: 15px;
}
.dxWeb_fmBreadCrumbsSeparatorArrow_Office2003Blue
{
    background-position: -140px -446px;
    width: 4px;
    height: 7px;
}
.dxWeb_fmBreadCrumbsUpButton_Office2003Blue
{
    background-position: -113px -346px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmBreadCrumbsUpButtonDisabled_Office2003Blue
{
    background-position: -34px -413px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCopyButton_Office2003Blue
{
    background-position: -85px -396px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCopyButtonDisabled_Office2003Blue
{
    background-position: -68px -364px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCreateButton_Office2003Blue
{
    background-position: -102px -364px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCreateButtonDisabled_Office2003Blue
{
    background-position: -102px -396px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDeleteButton_Office2003Blue
{
    background-position: -34px -364px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDeleteButtonDisabled_Office2003Blue
{
    background-position: -85px -364px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDwnlButton_Office2003Blue
{
    background-position: -68px -413px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDwnlButtonDisabled_Office2003Blue
{
    background-position: -51px -364px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmFolder_Office2003Blue
{
    background-position: -17px -413px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmFolderLocked_Office2003Blue
{
    background-position: -34px -396px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmMoveButton_Office2003Blue
{
    background-position: -119px -396px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmMoveButtonDisabled_Office2003Blue
{
    background-position: 0px -413px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRefreshButton_Office2003Blue
{
    background-position: -51px -413px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRefreshButtonDisabled_Office2003Blue
{
    background-position: 0px -396px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRenameButton_Office2003Blue
{
    background-position: -129px -270px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRenameButtonDisabled_Office2003Blue
{
    background-position: -17px -364px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmThumbnailCheck_Office2003Blue
{
    background-position: -135px -413px;
    width: 10px;
    height: 11px;
}
.dxWeb_fmUplButton_Office2003Blue
{
    background-position: -51px -396px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmUplButtonDisabled_Office2003Blue
{
    background-position: 0px -364px;
    width: 16px;
    height: 16px;
}
.dxWeb_hlTail_Office2003Blue
{
    background-position: 0px -460px;
    width: 13px;
    height: 9px;
}
.dxWeb_igCloseButton_Office2003Blue
{
    background-position: 0px -446px;
    width: 13px;
    height: 13px;
}
.dxWeb_igNavigationBarMarker_Office2003Blue
{
    background-position: -75px -346px;
    width: 20px;
    height: 16px;
}
.dxWeb_igNextButton_Office2003Blue
{
    background-position: 0px -66px;
    width: 45px;
    height: 65px;
}
.dxWeb_igNextButtonDisabled_Office2003Blue
{
    background-position: -46px -132px;
    width: 45px;
    height: 65px;
}
.dxWeb_igNextButtonHover_Office2003Blue
{
    background-position: -92px -66px;
    width: 45px;
    height: 65px;
}
.dxWeb_igNextButtonPressed_Office2003Blue
{
    background-position: -46px -66px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPauseButton_Office2003Blue
{
    background-position: -36px -346px;
    width: 12px;
    height: 17px;
}
.dxWeb_igPlayButton_Office2003Blue
{
    background-position: -62px -346px;
    width: 12px;
    height: 17px;
}
.dxWeb_igPrevButton_Office2003Blue
{
    background-position: 0px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPrevButtonDisabled_Office2003Blue
{
    background-position: 0px -132px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPrevButtonHover_Office2003Blue
{
    background-position: -92px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPrevButtonPressed_Office2003Blue
{
    background-position: -46px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_isDot_Office2003Blue
{
    background-position: -92px -430px;
    width: 13px;
    height: 13px;
}
.dxWeb_isDotDisabled_Office2003Blue
{
    background-position: -106px -430px;
    width: 13px;
    height: 13px;
}
.dxWeb_isDotPressed_Office2003Blue
{
    background-position: -120px -430px;
    width: 13px;
    height: 13px;
}
.dxWeb_isDotSelected_Office2003Blue
{
    background-position: -64px -430px;
    width: 13px;
    height: 13px;
}
.dxWeb_isNextBtnHor_Office2003Blue
{
    background-position: -127px -166px;
    width: 18px;
    height: 31px;
}
.dxWeb_isNextBtnHorDisabled_Office2003Blue
{
    background-position: -111px -132px;
    width: 18px;
    height: 31px;
}
.dxWeb_isNextBtnVert_Office2003Blue
{
    background-position: 0px -270px;
    width: 29px;
    height: 19px;
}
.dxWeb_isNextBtnVertDisabled_Office2003Blue
{
    background-position: -30px -270px;
    width: 29px;
    height: 19px;
}
.dxWeb_isNextPageBtnHor_Office2003Blue
{
    background-position: -84px -290px;
    width: 14px;
    height: 21px;
}
.dxWeb_isNextPageBtnHorDisabled_Office2003Blue
{
    background-position: -114px -290px;
    width: 14px;
    height: 21px;
}
.dxWeb_isNextPageBtnHorOutside_Office2003Blue
{
    background-position: 0px -198px;
    width: 12px;
    height: 28px;
}
.dxWeb_isNextPageBtnHorOutsideDisabled_Office2003Blue
{
    background-position: -13px -198px;
    width: 12px;
    height: 28px;
}
.dxWeb_isNextPageBtnVert_Office2003Blue
{
    background-position: -22px -381px;
    width: 21px;
    height: 14px;
}
.dxWeb_isNextPageBtnVertDisabled_Office2003Blue
{
    background-position: 0px -381px;
    width: 21px;
    height: 14px;
}
.dxWeb_isNextPageBtnVertOutside_Office2003Blue
{
    background-position: -29px -333px;
    width: 28px;
    height: 12px;
}
.dxWeb_isNextPageBtnVertOutsideDisabled_Office2003Blue
{
    background-position: -58px -333px;
    width: 28px;
    height: 12px;
}
.dxWeb_isPauseBtn_Office2003Blue
{
    background-position: -129px -290px;
    width: 12px;
    height: 17px;
}
.dxWeb_isPlayBtn_Office2003Blue
{
    background-position: -49px -346px;
    width: 12px;
    height: 17px;
}
.dxWeb_isPrevBtnHor_Office2003Blue
{
    background-position: -92px -132px;
    width: 18px;
    height: 31px;
}
.dxWeb_isPrevBtnHorDisabled_Office2003Blue
{
    background-position: -108px -166px;
    width: 18px;
    height: 31px;
}
.dxWeb_isPrevBtnVert_Office2003Blue
{
    background-position: -92px -227px;
    width: 29px;
    height: 19px;
}
.dxWeb_isPrevBtnVertDisabled_Office2003Blue
{
    background-position: -62px -227px;
    width: 29px;
    height: 19px;
}
.dxWeb_isPrevPageBtnHor_Office2003Blue
{
    background-position: -99px -290px;
    width: 14px;
    height: 21px;
}
.dxWeb_isPrevPageBtnHorDisabled_Office2003Blue
{
    background-position: -69px -290px;
    width: 14px;
    height: 21px;
}
.dxWeb_isPrevPageBtnHorOutside_Office2003Blue
{
    background-position: -130px -132px;
    width: 12px;
    height: 28px;
}
.dxWeb_isPrevPageBtnHorOutsideDisabled_Office2003Blue
{
    background-position: -95px -169px;
    width: 12px;
    height: 28px;
}
.dxWeb_isPrevPageBtnVert_Office2003Blue
{
    background-position: -44px -381px;
    width: 21px;
    height: 14px;
}
.dxWeb_isPrevPageBtnVertDisabled_Office2003Blue
{
    background-position: -66px -381px;
    width: 21px;
    height: 14px;
}
.dxWeb_isPrevPageBtnVertOutside_Office2003Blue
{
    background-position: -87px -333px;
    width: 28px;
    height: 12px;
}
.dxWeb_isPrevPageBtnVertOutsideDisabled_Office2003Blue
{
    background-position: 0px -333px;
    width: 28px;
    height: 12px;
}
.dxWeb_izEWCloseButton_Office2003Blue
{
    background-position: -26px -198px;
    width: 25px;
    height: 25px;
}
.dxWeb_izHint_Office2003Blue
{
    background-position: -102px -313px;
    width: 17px;
    height: 17px;
}
.dxWeb_mAdaptiveMenu_Office2003Blue
{
    background-position: -130px -161px;
    width: 10px;
    height: 4px;
}
.dxWeb_mHorizontalPopOut_Office2003Blue
{
    background-position: -98px -164px;
    width: 5px;
    height: 4px;
}
.dxWeb_mScrollDown_Office2003Blue
{
    background-position: -134px -222px;
    width: 5px;
    height: 4px;
}
.dxWeb_mScrollUp_Office2003Blue
{
    background-position: -92px -164px;
    width: 5px;
    height: 4px;
}
.dxWeb_mSubMenuItem_Office2003Blue
{
    background-position: -102px -413px;
    width: 16px;
    height: 16px;
}
.dxWeb_mSubMenuItemChecked_Office2003Blue
{
    background-position: -17px -396px;
    width: 16px;
    height: 16px;
}
.dxWeb_mVerticalPopOut_Office2003Blue
{
    background-position: -141px -261px;
    width: 4px;
    height: 8px;
}
.dxWeb_mVerticalPopOutRtl_Office2003Blue
{
    background-position: -138px -313px;
    width: 4px;
    height: 8px;
}
.dxWeb_nbCollapse_Office2003Blue
{
    background-position: -102px -381px;
    width: 13px;
    height: 14px;
}
.dxWeb_nbExpand_Office2003Blue
{
    background-position: -116px -381px;
    width: 13px;
    height: 14px;
}
.dxWeb_pAll_Office2003Blue
{
    background-position: 0px -227px;
    width: 30px;
    height: 19px;
}
.dxWeb_pAllDisabled_Office2003Blue
{
    background-position: -31px -227px;
    width: 30px;
    height: 19px;
}
.dxWeb_pcCloseButton_Office2003Blue
{
    background-position: -98px -446px;
    width: 13px;
    height: 12px;
}
.dxWeb_pcCollapseButton_Office2003Blue
{
    background-position: -56px -446px;
    width: 13px;
    height: 12px;
}
.dxWeb_pcMaximizeButton_Office2003Blue
{
    background-position: -130px -333px;
    width: 13px;
    height: 12px;
}
.dxWeb_pcPinButton_Office2003Blue
{
    background-position: -112px -446px;
    width: 13px;
    height: 12px;
}
.dxWeb_pcRefreshButton_Office2003Blue
{
    background-position: -126px -446px;
    width: 13px;
    height: 12px;
}
.dxWeb_pcSizeGrip_Office2003Blue
{
    background-position: -68px -396px;
    width: 16px;
    height: 16px;
}
.dxWeb_pcSizeGripRtl_Office2003Blue
{
    background-position: -85px -413px;
    width: 16px;
    height: 16px;
}
.dxWeb_pFirst_Office2003Blue
{
    background-position: -83px -270px;
    width: 22px;
    height: 19px;
}
.dxWeb_pFirstDisabled_Office2003Blue
{
    background-position: -106px -270px;
    width: 22px;
    height: 19px;
}
.dxWeb_pLast_Office2003Blue
{
    background-position: -122px -227px;
    width: 22px;
    height: 19px;
}
.dxWeb_pLastDisabled_Office2003Blue
{
    background-position: -60px -270px;
    width: 22px;
    height: 19px;
}
.dxWeb_pNext_Office2003Blue
{
    background-position: -21px -313px;
    width: 20px;
    height: 19px;
}
.dxWeb_pNextDisabled_Office2003Blue
{
    background-position: -42px -313px;
    width: 20px;
    height: 19px;
}
.dxWeb_pnlExpand_Office2003Blue
{
    background-position: -115px -247px;
    width: 22px;
    height: 22px;
}
.dxWeb_pnlExpandArrowBottom_Office2003Blue
{
    background-position: -23px -290px;
    width: 22px;
    height: 22px;
}
.dxWeb_pnlExpandArrowLeft_Office2003Blue
{
    background-position: -92px -247px;
    width: 22px;
    height: 22px;
}
.dxWeb_pnlExpandArrowRight_Office2003Blue
{
    background-position: -23px -247px;
    width: 22px;
    height: 22px;
}
.dxWeb_pnlExpandArrowTop_Office2003Blue
{
    background-position: 0px -290px;
    width: 22px;
    height: 22px;
}
.dxWeb_pPopOut_Office2003Blue
{
    background-position: -98px -223px;
    width: 5px;
    height: 3px;
}
.dxWeb_pPopOutDisabled_Office2003Blue
{
    background-position: -110px -223px;
    width: 5px;
    height: 3px;
}
.dxWeb_pPrev_Office2003Blue
{
    background-position: 0px -313px;
    width: 20px;
    height: 19px;
}
.dxWeb_pPrevDisabled_Office2003Blue
{
    background-position: -63px -313px;
    width: 20px;
    height: 19px;
}
.dxWeb_rDialogBoxLauncher_Office2003Blue
{
    background-position: -28px -446px;
    width: 13px;
    height: 13px;
}
.dxWeb_rDialogBoxLauncherDisabled_Office2003Blue
{
    background-position: -14px -446px;
    width: 13px;
    height: 13px;
}
.dxWeb_rDialogBoxLauncherHover_Office2003Blue
{
    background-position: -78px -430px;
    width: 13px;
    height: 13px;
}
.dxWeb_rDialogBoxLauncherPressed_Office2003Blue
{
    background-position: -42px -446px;
    width: 13px;
    height: 13px;
}
.dxWeb_rGlrDown_Office2003Blue
{
    background-position: -122px -223px;
    width: 5px;
    height: 3px;
}
.dxWeb_rGlrDownDisabled_Office2003Blue
{
    background-position: -116px -223px;
    width: 5px;
    height: 3px;
}
.dxWeb_rGlrPopOut_Office2003Blue
{
    background-position: -126px -460px;
    width: 5px;
    height: 5px;
}
.dxWeb_rGlrPopOutDisabled_Office2003Blue
{
    background-position: -138px -76px;
    width: 5px;
    height: 5px;
}
.dxWeb_rGlrUp_Office2003Blue
{
    background-position: -128px -223px;
    width: 5px;
    height: 3px;
}
.dxWeb_rGlrUpDisabled_Office2003Blue
{
    background-position: -104px -223px;
    width: 5px;
    height: 3px;
}
.dxWeb_rMinBtn_Office2003Blue
{
    background-position: -136px -364px;
    width: 9px;
    height: 8px;
}
.dxWeb_rMinBtn_Office2003Blue.dxWeb_rMinBtnHover_Office2003Blue
{
    background-position: -134px -430px;
    width: 9px;
    height: 8px;
}
.dxWeb_rMinBtn_Office2003Blue.dxWeb_rMinBtnPressed_Office2003Blue
{
    background-position: -82px -460px;
    width: 9px;
    height: 8px;
}
.dxWeb_rMinBtnChecked_Office2003Blue.dxWeb_rMinBtn_Office2003Blue
{
    background-position: -62px -460px;
    width: 9px;
    height: 8px;
}
.dxWeb_rMinBtnChecked_Office2003Blue.dxWeb_rMinBtnDisabled_Office2003Blue
{
    background-position: -72px -460px;
    width: 9px;
    height: 8px;
}
.dxWeb_rMinBtnChecked_Office2003Blue.dxWeb_rMinBtnHover_Office2003Blue
{
    background-position: -136px -396px;
    width: 9px;
    height: 8px;
}
.dxWeb_rMinBtnChecked_Office2003Blue.dxWeb_rMinBtnPressed_Office2003Blue
{
    background-position: -92px -460px;
    width: 9px;
    height: 8px;
}
.dxWeb_rMinBtnDisabled_Office2003Blue
{
    background-position: -52px -460px;
    width: 9px;
    height: 8px;
}
.dxWeb_rpCollapseButton_Office2003Blue
{
    background-position: -88px -381px;
    width: 13px;
    height: 14px;
}
.dxWeb_rPopOut_Office2003Blue
{
    background-position: -140px -222px;
    width: 5px;
    height: 4px;
}
.dxWeb_smBullet_Office2003Blue
{
    background-position: -140px -454px;
    width: 5px;
    height: 5px;
}
.dxWeb_splHCollapseBackwardButton_Office2003Blue
{
    background-position: -138px -439px;
    width: 7px;
    height: 6px;
}
.dxWeb_splHCollapseBackwardButtonHover_Office2003Blue
{
    background-position: -110px -460px;
    width: 7px;
    height: 6px;
}
.dxWeb_splHCollapseForwardButton_Office2003Blue
{
    background-position: -102px -460px;
    width: 7px;
    height: 6px;
}
.dxWeb_splHCollapseForwardButtonHover_Office2003Blue
{
    background-position: -118px -460px;
    width: 7px;
    height: 6px;
}
.dxWeb_splHSeparator_Office2003Blue
{
    background-position: -14px -460px;
    width: 18px;
    height: 6px;
}
.dxWeb_splHSeparatorHover_Office2003Blue
{
    background-position: -33px -460px;
    width: 18px;
    height: 6px;
}
.dxWeb_splVCollapseBackwardButton_Office2003Blue
{
    background-position: -139px -325px;
    width: 6px;
    height: 7px;
}
.dxWeb_splVCollapseBackwardButtonHover_Office2003Blue
{
    background-position: -138px -20px;
    width: 6px;
    height: 7px;
}
.dxWeb_splVCollapseForwardButton_Office2003Blue
{
    background-position: -139px -405px;
    width: 6px;
    height: 7px;
}
.dxWeb_splVCollapseForwardButtonHover_Office2003Blue
{
    background-position: -139px -373px;
    width: 6px;
    height: 7px;
}
.dxWeb_splVSeparator_Office2003Blue
{
    background-position: -139px -47px;
    width: 6px;
    height: 18px;
}
.dxWeb_splVSeparatorHover_Office2003Blue
{
    background-position: -138px 0px;
    width: 6px;
    height: 18px;
}
.dxWeb_tcScrollLeft_Office2003Blue
{
    background-position: -138px -102px;
    width: 6px;
    height: 9px;
}
.dxWeb_tcScrollLeftDisabled_Office2003Blue
{
    background-position: -138px -112px;
    width: 6px;
    height: 9px;
}
.dxWeb_tcScrollLeftHover_Office2003Blue
{
    background-position: -138px -28px;
    width: 6px;
    height: 9px;
}
.dxWeb_tcScrollLeftPressed_Office2003Blue
{
    background-position: -138px -247px;
    width: 6px;
    height: 9px;
}
.dxWeb_tcScrollRight_Office2003Blue
{
    background-position: -138px -66px;
    width: 6px;
    height: 9px;
}
.dxWeb_tcScrollRightDisabled_Office2003Blue
{
    background-position: -138px -92px;
    width: 6px;
    height: 9px;
}
.dxWeb_tcScrollRightHover_Office2003Blue
{
    background-position: -138px -82px;
    width: 6px;
    height: 9px;
}
.dxWeb_tcScrollRightPressed_Office2003Blue
{
    background-position: -139px -122px;
    width: 6px;
    height: 9px;
}
.dxWeb_tiBackToTop_Office2003Blue
{
    background-position: -138px -38px;
    width: 7px;
    height: 8px;
}
.dxWeb_tvColBtn_Office2003Blue
{
    background-position: 0px -346px;
    width: 17px;
    height: 17px;
}
.dxWeb_tvColBtnRtl_Office2003Blue
{
    background-position: -18px -346px;
    width: 17px;
    height: 17px;
}
.dxWeb_tvExpBtn_Office2003Blue
{
    background-position: -84px -313px;
    width: 17px;
    height: 17px;
}
.dxWeb_tvExpBtnRtl_Office2003Blue
{
    background-position: -120px -313px;
    width: 17px;
    height: 17px;
}
.dxWeb_ucClearButton_Office2003Blue
{
    background-position: -96px -346px;
    width: 16px;
    height: 16px;
}
.dxWeb_ucClearButtonDisabled_Office2003Blue
{
    background-position: -119px -364px;
    width: 16px;
    height: 16px;
}
.dxWeb_rpHeaderTopLeftCorner_Office2003Blue,
.dxWeb_rpHeaderTopRightCorner_Office2003Blue,
.dxWeb_rpHeaderBottomLeftCorner_Office2003Blue,
.dxWeb_rpHeaderBottomRightCorner_Office2003Blue,
.dxWeb_rpBottomLeftCorner_Office2003Blue,
.dxWeb_rpBottomRightCorner_Office2003Blue,
.dxWeb_rpTopLeftCorner_Office2003Blue,
.dxWeb_rpTopRightCorner_Office2003Blue,
.dxWeb_rpGroupBoxBottomLeftCorner_Office2003Blue,
.dxWeb_rpGroupBoxBottomRightCorner_Office2003Blue,
.dxWeb_rpGroupBoxTopLeftCorner_Office2003Blue,
.dxWeb_rpGroupBoxTopRightCorner_Office2003Blue,
.dxWeb_mHorizontalPopOut_Office2003Blue,
.dxWeb_mVerticalPopOut_Office2003Blue,
.dxWeb_mVerticalPopOutRtl_Office2003Blue,
.dxWeb_mSubMenuItem_Office2003Blue,
.dxWeb_mSubMenuItemChecked_Office2003Blue,
.dxWeb_mScrollUp_Office2003Blue,
.dxWeb_mScrollDown_Office2003Blue,
.dxWeb_tcScrollLeft_Office2003Blue,
.dxWeb_tcScrollRight_Office2003Blue,
.dxWeb_tcScrollLeftHover_Office2003Blue,
.dxWeb_tcScrollRightHover_Office2003Blue,
.dxWeb_tcScrollLeftPressed_Office2003Blue,
.dxWeb_tcScrollRightPressed_Office2003Blue,
.dxWeb_tcScrollLeftDisabled_Office2003Blue,
.dxWeb_tcScrollRightDisabled_Office2003Blue,
.dxWeb_nbCollapse_Office2003Blue,
.dxWeb_nbExpand_Office2003Blue,
.dxWeb_splVSeparator_Office2003Blue,
.dxWeb_splVSeparatorHover_Office2003Blue,
.dxWeb_splHSeparator_Office2003Blue,
.dxWeb_splHSeparatorHover_Office2003Blue,
.dxWeb_splVCollapseBackwardButton_Office2003Blue,
.dxWeb_splVCollapseBackwardButtonHover_Office2003Blue,
.dxWeb_splHCollapseBackwardButton_Office2003Blue,
.dxWeb_splHCollapseBackwardButtonHover_Office2003Blue,
.dxWeb_splVCollapseForwardButton_Office2003Blue,
.dxWeb_splVCollapseForwardButtonHover_Office2003Blue,
.dxWeb_splHCollapseForwardButton_Office2003Blue,
.dxWeb_splHCollapseForwardButtonHover_Office2003Blue,
.dxWeb_pcCloseButton_Office2003Blue,
.dxWeb_pcPinButton_Office2003Blue,
.dxWeb_pcRefreshButton_Office2003Blue,
.dxWeb_pcCollapseButton_Office2003Blue,
.dxWeb_pcMaximizeButton_Office2003Blue,
.dxWeb_pcSizeGrip_Office2003Blue,
.dxWeb_pcSizeGripRtl_Office2003Blue,
.dxWeb_pPopOut_Office2003Blue,
.dxWeb_pPopOutDisabled_Office2003Blue,
.dxWeb_pAll_Office2003Blue,
.dxWeb_pAllDisabled_Office2003Blue,
.dxWeb_pPrev_Office2003Blue,
.dxWeb_pPrevDisabled_Office2003Blue,
.dxWeb_pNext_Office2003Blue,
.dxWeb_pNextDisabled_Office2003Blue,
.dxWeb_pLast_Office2003Blue,
.dxWeb_pLastDisabled_Office2003Blue,
.dxWeb_pFirst_Office2003Blue,
.dxWeb_pFirstDisabled_Office2003Blue,
.dxWeb_hlTail_Office2003Blue,
.dxWeb_tiBackToTop_Office2003Blue,
.dxWeb_smBullet_Office2003Blue,
.dxWeb_tvColBtn_Office2003Blue,
.dxWeb_tvColBtnRtl_Office2003Blue,
.dxWeb_tvExpBtn_Office2003Blue,
.dxWeb_tvExpBtnRtl_Office2003Blue,
.dxWeb_fmFolder_Office2003Blue,
.dxWeb_fmFolderLocked_Office2003Blue,
.dxWeb_fmCreateButton_Office2003Blue,
.dxWeb_fmMoveButton_Office2003Blue,
.dxWeb_fmRenameButton_Office2003Blue,
.dxWeb_fmDeleteButton_Office2003Blue,
.dxWeb_fmRefreshButton_Office2003Blue,
.dxWeb_fmDwnlButton_Office2003Blue,
.dxWeb_fmCreateButtonDisabled_Office2003Blue,
.dxWeb_fmMoveButtonDisabled_Office2003Blue,
.dxWeb_fmRenameButtonDisabled_Office2003Blue,
.dxWeb_fmDeleteButtonDisabled_Office2003Blue,
.dxWeb_fmRefreshButtonDisabled_Office2003Blue,
.dxWeb_fmDwnlButtonDisabled_Office2003Blue,
.dxWeb_fmThumbnailCheck_Office2003Blue,
.dxWeb_ucClearButton_Office2003Blue,
.dxWeb_ucClearButtonDisabled_Office2003Blue,
.dxWeb_isPrevBtnHor_Office2003Blue,
.dxWeb_isNextBtnHor_Office2003Blue,
.dxWeb_isPrevBtnVert_Office2003Blue,
.dxWeb_isNextBtnVert_Office2003Blue,
.dxWeb_isPrevPageBtnHor_Office2003Blue,
.dxWeb_isPrevPageBtnHorOutside_Office2003Blue,
.dxWeb_isNextPageBtnHor_Office2003Blue,
.dxWeb_isNextPageBtnHorOutside_Office2003Blue,
.dxWeb_isPrevPageBtnVert_Office2003Blue,
.dxWeb_isPrevPageBtnVertOutside_Office2003Blue,
.dxWeb_isNextPageBtnVert_Office2003Blue,
.dxWeb_isNextPageBtnVertOutside_Office2003Blue,
.dxWeb_isPrevBtnHorDisabled_Office2003Blue,
.dxWeb_isNextBtnHorDisabled_Office2003Blue,
.dxWeb_isPrevBtnVertDisabled_Office2003Blue,
.dxWeb_isNextBtnVertDisabled_Office2003Blue,
.dxWeb_isPrevPageBtnHorDisabled_Office2003Blue,
.dxWeb_isPrevPageBtnHorOutsideDisabled_Office2003Blue,
.dxWeb_isNextPageBtnHorDisabled_Office2003Blue,
.dxWeb_isNextPageBtnHorOutsideDisabled_Office2003Blue,
.dxWeb_isPrevPageBtnVertDisabled_Office2003Blue,
.dxWeb_isPrevPageBtnVertOutsideDisabled_Office2003Blue,
.dxWeb_isNextPageBtnVertDisabled_Office2003Blue,
.dxWeb_isNextPageBtnVertOutsideDisabled_Office2003Blue,
.dxWeb_isDot_Office2003Blue,
.dxWeb_isDotDisabled_Office2003Blue,
.dxWeb_isDotSelected_Office2003Blue,
.dxWeb_isPlayBtn_Office2003Blue,
.dxWeb_isPauseBtn_Office2003Blue,
.dxWeb_igCloseButton_Office2003Blue,
.dxWeb_igNextButton_Office2003Blue,
.dxWeb_igPrevButton_Office2003Blue,
.dxWeb_igPlayButton_Office2003Blue,
.dxWeb_igPauseButton_Office2003Blue,
.dxWeb_igNavigationBarMarker_Office2003Blue
{
    display:block;
}
.dxWeb_mScrollUp_Office2003Blue, .dxWeb_mScrollDown_Office2003Blue
{
	margin: auto;
}
.dxWeb_hlTail_Office2003Blue,
.dxWeb_smBullet_Office2003Blue,
.dxWeb_tiBackToTop_Office2003Blue
{
	display:inline;
}

