.dxRichEdit_CenterTabDragHandle_DevEx,
.dxRichEdit_DecimalTabDragHandle_DevEx,
.dxRichEdit_FirstLineIdentDragHandle_DevEx,
.dxRichEdit_LeftIdentDragHandle_DevEx,
.dxRichEdit_LeftTabDragHandle_DevEx,
.dxRichEdit_RightIdentDragHandle_DevEx,
.dxRichEdit_RightTabDragHandle_DevEx
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxRichEdit_CenterTabDragHandle_DevEx
{
    background-position: 0px -34px;
    width: 8px;
    height: 6px;
}
.dxRichEdit_DecimalTabDragHandle_DevEx
{
    background-position: 0px -27px;
    width: 8px;
    height: 6px;
}
.dxRichEdit_FirstLineIdentDragHandle_DevEx
{
    background-position: 0px -9px;
    width: 9px;
    height: 8px;
}
.dxRichEdit_LeftIdentDragHandle_DevEx
{
    background-position: 0px -18px;
    width: 9px;
    height: 8px;
}
.dxRichEdit_LeftTabDragHandle_DevEx
{
    background-position: 0px -48px;
    width: 6px;
    height: 6px;
}
.dxRichEdit_RightIdentDragHandle_DevEx
{
    background-position: 0px 0px;
    width: 9px;
    height: 8px;
}
.dxRichEdit_RightTabDragHandle_DevEx
{
    background-position: 0px -41px;
    width: 6px;
    height: 6px;
}

