.dxScheduler_Appointment_DayClock_Office2003Silver,
.dxScheduler_Appointment_EndArrow_Office2003Silver,
.dxScheduler_Appointment_NightClock_Office2003Silver,
.dxScheduler_Appointment_NoRecurrence_Office2003Silver,
.dxScheduler_Appointment_Recurrence_Office2003Silver,
.dxScheduler_Appointment_Reminder_Office2003Silver,
.dxScheduler_Appointment_StartArrow_Office2003Silver,
.dxScheduler_AppointmentClockArrows_day_hour_00_Office2003Silver,
.dxScheduler_AppointmentClockArrows_day_hour_05_Office2003Silver,
.dxScheduler_AppointmentClockArrows_day_hour_10_Office2003Silver,
.dxScheduler_AppointmentClockArrows_day_hour_15_Office2003Silver,
.dxScheduler_AppointmentClockArrows_day_hour_20_Office2003Silver,
.dxScheduler_AppointmentClockArrows_day_hour_25_Office2003Silver,
.dxScheduler_AppointmentClockArrows_day_hour_30_Office2003Silver,
.dxScheduler_AppointmentClockArrows_day_hour_35_Office2003Silver,
.dxScheduler_AppointmentClockArrows_day_hour_40_Office2003Silver,
.dxScheduler_AppointmentClockArrows_day_hour_45_Office2003Silver,
.dxScheduler_AppointmentClockArrows_day_hour_50_Office2003Silver,
.dxScheduler_AppointmentClockArrows_day_hour_55_Office2003Silver,
.dxScheduler_AppointmentClockArrows_day_minute_00_Office2003Silver,
.dxScheduler_AppointmentClockArrows_day_minute_05_Office2003Silver,
.dxScheduler_AppointmentClockArrows_day_minute_10_Office2003Silver,
.dxScheduler_AppointmentClockArrows_day_minute_15_Office2003Silver,
.dxScheduler_AppointmentClockArrows_day_minute_20_Office2003Silver,
.dxScheduler_AppointmentClockArrows_day_minute_25_Office2003Silver,
.dxScheduler_AppointmentClockArrows_day_minute_30_Office2003Silver,
.dxScheduler_AppointmentClockArrows_day_minute_35_Office2003Silver,
.dxScheduler_AppointmentClockArrows_day_minute_40_Office2003Silver,
.dxScheduler_AppointmentClockArrows_day_minute_45_Office2003Silver,
.dxScheduler_AppointmentClockArrows_day_minute_50_Office2003Silver,
.dxScheduler_AppointmentClockArrows_day_minute_55_Office2003Silver,
.dxScheduler_AppointmentClockArrows_night_hour_00_Office2003Silver,
.dxScheduler_AppointmentClockArrows_night_hour_05_Office2003Silver,
.dxScheduler_AppointmentClockArrows_night_hour_10_Office2003Silver,
.dxScheduler_AppointmentClockArrows_night_hour_15_Office2003Silver,
.dxScheduler_AppointmentClockArrows_night_hour_20_Office2003Silver,
.dxScheduler_AppointmentClockArrows_night_hour_25_Office2003Silver,
.dxScheduler_AppointmentClockArrows_night_hour_30_Office2003Silver,
.dxScheduler_AppointmentClockArrows_night_hour_35_Office2003Silver,
.dxScheduler_AppointmentClockArrows_night_hour_40_Office2003Silver,
.dxScheduler_AppointmentClockArrows_night_hour_45_Office2003Silver,
.dxScheduler_AppointmentClockArrows_night_hour_50_Office2003Silver,
.dxScheduler_AppointmentClockArrows_night_hour_55_Office2003Silver,
.dxScheduler_AppointmentClockArrows_night_minute_00_Office2003Silver,
.dxScheduler_AppointmentClockArrows_night_minute_05_Office2003Silver,
.dxScheduler_AppointmentClockArrows_night_minute_10_Office2003Silver,
.dxScheduler_AppointmentClockArrows_night_minute_15_Office2003Silver,
.dxScheduler_AppointmentClockArrows_night_minute_20_Office2003Silver,
.dxScheduler_AppointmentClockArrows_night_minute_25_Office2003Silver,
.dxScheduler_AppointmentClockArrows_night_minute_30_Office2003Silver,
.dxScheduler_AppointmentClockArrows_night_minute_35_Office2003Silver,
.dxScheduler_AppointmentClockArrows_night_minute_40_Office2003Silver,
.dxScheduler_AppointmentClockArrows_night_minute_45_Office2003Silver,
.dxScheduler_AppointmentClockArrows_night_minute_50_Office2003Silver,
.dxScheduler_AppointmentClockArrows_night_minute_55_Office2003Silver,
.dxScheduler_InplaceEditor_Cancel_Office2003Silver,
.dxScheduler_InplaceEditor_EditForm_Office2003Silver,
.dxScheduler_InplaceEditor_Save_Office2003Silver,
.dxScheduler_Menu_Delete_Office2003Silver,
.dxScheduler_Menu_GoToDate_Office2003Silver,
.dxScheduler_Menu_NewAppointment_Office2003Silver,
.dxScheduler_Menu_RecurringAppointment_Office2003Silver,
.dxScheduler_MoreButton_Bottom_Office2003Silver,
.dxScheduler_MoreButton_BottomHover_Office2003Silver,
.dxScheduler_MoreButton_Top_Office2003Silver,
.dxScheduler_MoreButton_TopHover_Office2003Silver,
.dxScheduler_NavigationButton_Backward_Office2003Silver,
.dxScheduler_NavigationButton_BackwardDisabled_Office2003Silver,
.dxScheduler_NavigationButton_BackwardHover_Office2003Silver,
.dxScheduler_NavigationButton_Forward_Office2003Silver,
.dxScheduler_NavigationButton_ForwardDisabled_Office2003Silver,
.dxScheduler_NavigationButton_ForwardHover_Office2003Silver,
.dxScheduler_ResourceNavigator_Decrease_Office2003Silver,
.dxScheduler_ResourceNavigator_DecreaseDisabled_Office2003Silver,
.dxScheduler_ResourceNavigator_DecreaseHover_Office2003Silver,
.dxScheduler_ResourceNavigator_First_Office2003Silver,
.dxScheduler_ResourceNavigator_FirstDisabled_Office2003Silver,
.dxScheduler_ResourceNavigator_FirstHover_Office2003Silver,
.dxScheduler_ResourceNavigator_Increase_Office2003Silver,
.dxScheduler_ResourceNavigator_IncreaseDisabled_Office2003Silver,
.dxScheduler_ResourceNavigator_IncreaseHover_Office2003Silver,
.dxScheduler_ResourceNavigator_Last_Office2003Silver,
.dxScheduler_ResourceNavigator_LastDisabled_Office2003Silver,
.dxScheduler_ResourceNavigator_LastHover_Office2003Silver,
.dxScheduler_ResourceNavigator_Next_Office2003Silver,
.dxScheduler_ResourceNavigator_NextDisabled_Office2003Silver,
.dxScheduler_ResourceNavigator_NextHover_Office2003Silver,
.dxScheduler_ResourceNavigator_NextPage_Office2003Silver,
.dxScheduler_ResourceNavigator_NextPageDisabled_Office2003Silver,
.dxScheduler_ResourceNavigator_NextPageHover_Office2003Silver,
.dxScheduler_ResourceNavigator_Prev_Office2003Silver,
.dxScheduler_ResourceNavigator_PrevDisabled_Office2003Silver,
.dxScheduler_ResourceNavigator_PrevHover_Office2003Silver,
.dxScheduler_ResourceNavigator_PrevPage_Office2003Silver,
.dxScheduler_ResourceNavigator_PrevPageDisabled_Office2003Silver,
.dxScheduler_ResourceNavigator_PrevPageHover_Office2003Silver,
.dxScheduler_SmartTag_Office2003Silver,
.dxScheduler_StatusInfo_Error_Office2003Silver,
.dxScheduler_StatusInfo_Info_Office2003Silver,
.dxScheduler_StatusInfo_Warning_Office2003Silver,
.dxScheduler_TimeMarker_Office2003Silver,
.dxScheduler_Tooltip_BottomLeft_Office2003Silver,
.dxScheduler_Tooltip_BottomRight_Office2003Silver,
.dxScheduler_Tooltip_BottomStem_Office2003Silver,
.dxScheduler_Tooltip_Empty_Office2003Silver,
.dxScheduler_Tooltip_TopLeft_Office2003Silver,
.dxScheduler_Tooltip_TopRight_Office2003Silver,
.dxScheduler_ViewNavigator_Backward_Office2003Silver,
.dxScheduler_ViewNavigator_Down_Office2003Silver,
.dxScheduler_ViewNavigator_Forward_Office2003Silver
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxScheduler_Appointment_DayClock_Office2003Silver
{
    background-position: -64px -282px;
    width: 15px;
    height: 15px;
}
.dxScheduler_Appointment_EndArrow_Office2003Silver
{
    background-position: 0px -346px;
    width: 15px;
    height: 15px;
}
.dxScheduler_Appointment_NightClock_Office2003Silver
{
    background-position: -48px -330px;
    width: 15px;
    height: 15px;
}
.dxScheduler_Appointment_NoRecurrence_Office2003Silver
{
    background-position: 0px -266px;
    width: 15px;
    height: 15px;
}
.dxScheduler_Appointment_Recurrence_Office2003Silver
{
    background-position: -32px -314px;
    width: 15px;
    height: 15px;
}
.dxScheduler_Appointment_Reminder_Office2003Silver
{
    background-position: -32px -266px;
    width: 15px;
    height: 15px;
}
.dxScheduler_Appointment_StartArrow_Office2003Silver
{
    background-position: -80px -314px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_hour_00_Office2003Silver
{
    background-position: -49px -249px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_hour_05_Office2003Silver
{
    background-position: -80px -266px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_hour_10_Office2003Silver
{
    background-position: -112px -314px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_hour_15_Office2003Silver
{
    background-position: 0px -282px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_hour_20_Office2003Silver
{
    background-position: -48px -314px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_hour_25_Office2003Silver
{
    background-position: 0px -314px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_hour_30_Office2003Silver
{
    background-position: -16px -282px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_hour_35_Office2003Silver
{
    background-position: -80px -330px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_hour_40_Office2003Silver
{
    background-position: -96px -282px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_hour_45_Office2003Silver
{
    background-position: -32px -330px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_hour_50_Office2003Silver
{
    background-position: -97px -249px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_hour_55_Office2003Silver
{
    background-position: -32px -298px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_minute_00_Office2003Silver
{
    background-position: -80px -346px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_minute_05_Office2003Silver
{
    background-position: -64px -266px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_minute_10_Office2003Silver
{
    background-position: -80px -282px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_minute_15_Office2003Silver
{
    background-position: -16px -298px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_minute_20_Office2003Silver
{
    background-position: -96px -314px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_minute_25_Office2003Silver
{
    background-position: -81px -249px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_minute_30_Office2003Silver
{
    background-position: -16px -346px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_minute_35_Office2003Silver
{
    background-position: -96px -266px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_minute_40_Office2003Silver
{
    background-position: -32px -346px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_minute_45_Office2003Silver
{
    background-position: -113px -249px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_minute_50_Office2003Silver
{
    background-position: -112px -330px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_minute_55_Office2003Silver
{
    background-position: -64px -298px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_hour_00_Office2003Silver
{
    background-position: -112px -298px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_hour_05_Office2003Silver
{
    background-position: -64px -314px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_hour_10_Office2003Silver
{
    background-position: -16px -330px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_hour_15_Office2003Silver
{
    background-position: -80px -298px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_hour_20_Office2003Silver
{
    background-position: 0px -330px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_hour_25_Office2003Silver
{
    background-position: -96px -346px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_hour_30_Office2003Silver
{
    background-position: -48px -346px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_hour_35_Office2003Silver
{
    background-position: -115px -103px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_hour_40_Office2003Silver
{
    background-position: -48px -266px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_hour_45_Office2003Silver
{
    background-position: -96px -298px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_hour_50_Office2003Silver
{
    background-position: -33px -249px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_hour_55_Office2003Silver
{
    background-position: -17px -249px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_minute_00_Office2003Silver
{
    background-position: -96px -330px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_minute_05_Office2003Silver
{
    background-position: -112px -266px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_minute_10_Office2003Silver
{
    background-position: -16px -314px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_minute_15_Office2003Silver
{
    background-position: -32px -282px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_minute_20_Office2003Silver
{
    background-position: 0px -298px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_minute_25_Office2003Silver
{
    background-position: -48px -282px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_minute_30_Office2003Silver
{
    background-position: -65px -249px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_minute_35_Office2003Silver
{
    background-position: -16px -266px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_minute_40_Office2003Silver
{
    background-position: -48px -298px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_minute_45_Office2003Silver
{
    background-position: -64px -346px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_minute_50_Office2003Silver
{
    background-position: -64px -330px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_minute_55_Office2003Silver
{
    background-position: -112px -282px;
    width: 15px;
    height: 15px;
}
.dxScheduler_InplaceEditor_Cancel_Office2003Silver
{
    background-position: -111px -186px;
    width: 19px;
    height: 19px;
}
.dxScheduler_InplaceEditor_EditForm_Office2003Silver
{
    background-position: -111px -124px;
    width: 19px;
    height: 19px;
}
.dxScheduler_InplaceEditor_Save_Office2003Silver
{
    background-position: -91px -124px;
    width: 19px;
    height: 19px;
}
.dxScheduler_Menu_Delete_Office2003Silver
{
    background-position: -112px 0px;
    width: 16px;
    height: 16px;
}
.dxScheduler_Menu_GoToDate_Office2003Silver
{
    background-position: 0px -249px;
    width: 16px;
    height: 16px;
}
.dxScheduler_Menu_NewAppointment_Office2003Silver
{
    background-position: -114px -37px;
    width: 16px;
    height: 16px;
}
.dxScheduler_Menu_RecurringAppointment_Office2003Silver
{
    background-position: -112px -20px;
    width: 16px;
    height: 16px;
}
.dxScheduler_MoreButton_Bottom_Office2003Silver
{
    background-position: -108px -228px;
    width: 21px;
    height: 18px;
}
.dxScheduler_MoreButton_BottomHover_Office2003Silver
{
    background-position: -86px -228px;
    width: 21px;
    height: 18px;
}
.dxScheduler_MoreButton_Top_Office2003Silver
{
    background-position: -64px -228px;
    width: 21px;
    height: 18px;
}
.dxScheduler_MoreButton_TopHover_Office2003Silver
{
    background-position: -42px -228px;
    width: 21px;
    height: 18px;
}
.dxScheduler_NavigationButton_Backward_Office2003Silver
{
    background-position: -66px -103px;
    width: 21px;
    height: 40px;
}
.dxScheduler_NavigationButton_BackwardDisabled_Office2003Silver
{
    background-position: -44px -103px;
    width: 21px;
    height: 40px;
}
.dxScheduler_NavigationButton_BackwardHover_Office2003Silver
{
    background-position: 0px -103px;
    width: 21px;
    height: 40px;
}
.dxScheduler_NavigationButton_Forward_Office2003Silver
{
    background-position: -98px -54px;
    width: 21px;
    height: 40px;
}
.dxScheduler_NavigationButton_ForwardDisabled_Office2003Silver
{
    background-position: -90px 0px;
    width: 21px;
    height: 40px;
}
.dxScheduler_NavigationButton_ForwardHover_Office2003Silver
{
    background-position: -22px -103px;
    width: 21px;
    height: 40px;
}
.dxScheduler_ResourceNavigator_Decrease_Office2003Silver
{
    background-position: -90px -186px;
    width: 20px;
    height: 20px;
}
.dxScheduler_ResourceNavigator_DecreaseDisabled_Office2003Silver
{
    background-position: -21px -228px;
    width: 20px;
    height: 20px;
}
.dxScheduler_ResourceNavigator_DecreaseHover_Office2003Silver
{
    background-position: -105px -207px;
    width: 20px;
    height: 20px;
}
.dxScheduler_ResourceNavigator_First_Office2003Silver
{
    background-position: 0px -165px;
    width: 26px;
    height: 20px;
}
.dxScheduler_ResourceNavigator_FirstDisabled_Office2003Silver
{
    background-position: -88px -103px;
    width: 26px;
    height: 20px;
}
.dxScheduler_ResourceNavigator_FirstHover_Office2003Silver
{
    background-position: -27px -144px;
    width: 26px;
    height: 20px;
}
.dxScheduler_ResourceNavigator_Increase_Office2003Silver
{
    background-position: -42px -207px;
    width: 20px;
    height: 20px;
}
.dxScheduler_ResourceNavigator_IncreaseDisabled_Office2003Silver
{
    background-position: -63px -207px;
    width: 20px;
    height: 20px;
}
.dxScheduler_ResourceNavigator_IncreaseHover_Office2003Silver
{
    background-position: -108px -144px;
    width: 20px;
    height: 20px;
}
.dxScheduler_ResourceNavigator_Last_Office2003Silver
{
    background-position: 0px -144px;
    width: 26px;
    height: 20px;
}
.dxScheduler_ResourceNavigator_LastDisabled_Office2003Silver
{
    background-position: -81px -144px;
    width: 26px;
    height: 20px;
}
.dxScheduler_ResourceNavigator_LastHover_Office2003Silver
{
    background-position: -54px -144px;
    width: 26px;
    height: 20px;
}
.dxScheduler_ResourceNavigator_Next_Office2003Silver
{
    background-position: -21px -207px;
    width: 20px;
    height: 20px;
}
.dxScheduler_ResourceNavigator_NextDisabled_Office2003Silver
{
    background-position: -48px -186px;
    width: 20px;
    height: 20px;
}
.dxScheduler_ResourceNavigator_NextHover_Office2003Silver
{
    background-position: 0px -228px;
    width: 20px;
    height: 20px;
}
.dxScheduler_ResourceNavigator_NextPage_Office2003Silver
{
    background-position: 0px -186px;
    width: 23px;
    height: 20px;
}
.dxScheduler_ResourceNavigator_NextPageDisabled_Office2003Silver
{
    background-position: -51px -165px;
    width: 23px;
    height: 20px;
}
.dxScheduler_ResourceNavigator_NextPageHover_Office2003Silver
{
    background-position: -27px -165px;
    width: 23px;
    height: 20px;
}
.dxScheduler_ResourceNavigator_Prev_Office2003Silver
{
    background-position: -69px -186px;
    width: 20px;
    height: 20px;
}
.dxScheduler_ResourceNavigator_PrevDisabled_Office2003Silver
{
    background-position: -84px -207px;
    width: 20px;
    height: 20px;
}
.dxScheduler_ResourceNavigator_PrevHover_Office2003Silver
{
    background-position: 0px -207px;
    width: 20px;
    height: 20px;
}
.dxScheduler_ResourceNavigator_PrevPage_Office2003Silver
{
    background-position: -24px -186px;
    width: 23px;
    height: 20px;
}
.dxScheduler_ResourceNavigator_PrevPageDisabled_Office2003Silver
{
    background-position: -99px -165px;
    width: 23px;
    height: 20px;
}
.dxScheduler_ResourceNavigator_PrevPageHover_Office2003Silver
{
    background-position: -75px -165px;
    width: 23px;
    height: 20px;
}
.dxScheduler_SmartTag_Office2003Silver
{
    background-position: -96px -43px;
    width: 17px;
    height: 10px;
}
.dxScheduler_StatusInfo_Error_Office2003Silver
{
    background-position: -49px -54px;
    width: 48px;
    height: 48px;
}
.dxScheduler_StatusInfo_Info_Office2003Silver
{
    background-position: 0px -54px;
    width: 48px;
    height: 48px;
}
.dxScheduler_StatusInfo_Warning_Office2003Silver
{
    background-position: -41px 0px;
    width: 48px;
    height: 48px;
}
.dxScheduler_TimeMarker_Office2003Silver
{
    background-position: -120px -54px;
    width: 8px;
    height: 15px;
}
.dxScheduler_Tooltip_BottomLeft_Office2003Silver
{
    background-position: -107px -95px;
    width: 7px;
    height: 7px;
}
.dxScheduler_Tooltip_BottomRight_Office2003Silver
{
    background-position: -99px -95px;
    width: 7px;
    height: 7px;
}
.dxScheduler_Tooltip_BottomStem_Office2003Silver
{
    background-position: 0px 0px;
    width: 40px;
    height: 53px;
}
.dxScheduler_Tooltip_Empty_Office2003Silver
{
    background-position: -129px 0px;
    width: 1px;
    height: 1px;
}
.dxScheduler_Tooltip_TopLeft_Office2003Silver
{
    background-position: -115px -95px;
    width: 7px;
    height: 7px;
}
.dxScheduler_Tooltip_TopRight_Office2003Silver
{
    background-position: -123px -95px;
    width: 7px;
    height: 7px;
}
.dxScheduler_ViewNavigator_Backward_Office2003Silver
{
    background-position: -90px -46px;
    width: 5px;
    height: 7px;
}
.dxScheduler_ViewNavigator_Down_Office2003Silver
{
    background-position: -120px -81px;
    width: 7px;
    height: 5px;
}
.dxScheduler_ViewNavigator_Forward_Office2003Silver
{
    background-position: -120px -87px;
    width: 5px;
    height: 7px;
}

