.dxcvControl_Office2003Blue,
.dxcvDisabled_Office2003Blue
{
    border: 1px solid #4f93e3;
    font: 12px Tahoma, Geneva, sans-serif;
    background-color: White;
    color: Black;
    cursor: default;
}

.dxcvDisabled_Office2003Blue
{
    color: Gray;
}
.dxcvControl_Office2003Blue a
{
    color: black;
}
.dxcvDisabled_Office2003Blue a
{
    color: Gray;
}

.dxcvLoadingPanelStatusBar_Office2003Blue .dxlp-loadingImage 
{
    background-image: url('cvLoadingOnStatusBar.gif');
    height: 18px;
    width: 18px;
}

.dxcvLoadingPanel_Office2003Blue
{
    font: 12px Tahoma, Geneva, sans-serif;
    color: #4B77B8;
    border: 1px solid #4F93E3;
    background-color: White;
}
.dxcvLoadingPanel_Office2003Blue td.dx
{
    white-space: nowrap;
    text-align: center;
    padding: 12px;
}
.dxcvLoadingPanel_Office2003Blue .dxlp-loadingImage
{
    background-image: url('../Web/Loading.gif');
    height: 18px;
    width: 18px;
}

.dxcvFilterPopupWindow_Office2003Blue
{
    color: Black;
    border: 1px solid #3a609b;
}
.dxcvFilterPopupItemsArea_Office2003Blue
{
    color: Black;
    background-color: White;
}
.dxcvFilterPopupButtonPanel_Office2003Blue
{
    background-color: #cce2fc;
    border: 1px solid #dcdcdc;
    border-left: 0px solid #dcdcdc;
    color: Black;
}

.dxcvFilterPopupItem_Office2003Blue td.dxcv,
.dxcvFilterPopupActiveItem_Office2003Blue td.dxcv,
.dxcvFilterPopupSelectedItem_Office2003Blue td.dxcv
{
    padding: 3px 2px 4px 3px;
    border-left: 1px solid White;
    border-bottom: 1px solid White;
    border-right: 1px solid White;
    cursor: default;
    white-space: nowrap;
}
.dxcvFilterPopupActiveItem_Office2003Blue
{
    background: #cce2fc none;
    color: Black;
}
.dxcvFilterPopupSelectedItem_Office2003Blue
{
    background: #ffc076 none;
    color: Black;
}

.dxcvTable_Office2003Blue
{
    background-color: White;
    border-width: 0;
    border-collapse: separate!important;
    overflow: hidden;
    padding: 20px;
}

.dxcvHeader_Office2003Blue
{
    cursor: pointer;
    white-space: nowrap;
    padding: 4px 6px 5px;
    border: 1px solid #4f93e3;
    background: #94b6e8 url('cvGradient.gif') repeat-x center top;    
    overflow: hidden;
    font-weight: normal;
    text-align: left;
}
.dxcvHeader_Office2003Blue,
.dxcvHeader_Office2003Blue table
{
    color: Black;
}
.dxcvHeader_Office2003Blue td
{
    white-space: nowrap;
}
.dxcvHeader_Office2003Blue a.dxcvCommandItem_Office2003Blue
{
    margin: 0 3px 0 0;
}
.dxcvHeader_Office2003Blue .dxbButton_Office2003Blue[class~="dxcvCommandItem_Office2003Blue"]
{
    margin: 0px 2px -1px 2px;
}
.dxcvCustomization_Office2003Blue,
.dxcvPopupEditForm_Office2003Blue
{
    padding: 0;
    margin: 0;
}
.dxcvPagerTopPanel_Office2003Blue
{
    border-bottom: 1px solid #4F93E3;
}
.dxcvPagerBottomPanel_Office2003Blue
{
    border-top: 1px solid #4F93E3;
}

.dxcvTitlePanel_Office2003Blue,
.dxcvTable_Office2003Blue caption
{
    color: White;
    font-weight: bold;
    padding: 3px;
    text-align: center;
    border-bottom: 1px solid #4f93e3;
    background: #0f439d url('cvTitleBack.gif') repeat-x center top;
}
.dxcvLoadingDiv_Office2003Blue
{
    background-color: Gray;
    opacity: 0.01;
    filter: progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=1);
}
.dxcvStatusBar_Office2003Blue
{
    border-top: 1px solid #4f93e3;
}
.dxcvStatusBar_Office2003Blue tr.dxcv
{
    height: 20px;
}
.dxcvStatusBar_Office2003Blue tr.dxcv > td
{
    padding: 4px;
}
.dxcvStatusBar_Office2003Blue tr.dxcv span .dxbButtonSys:first-child
{
	margin-left: 2px;
}

.dxbButton_Office2003Blue[class~="dxcvCommandItem_Office2003Blue"]
{
    margin: 1px 2px -2px 2px;
}
.dxbButton_Office2003Blue[class~="dxcvCommandItem_Office2003Blue"] .dxb
{
    padding-top: 0;
    padding-bottom: 0;
}

.dxcvFilterBar_Office2003Blue
{
    border-top: 1px solid #4f93e3;
    background-color: #A8C5F5;
}
.dxcvFilterBar_Office2003Blue a
{
    color: black;
    text-decoration: underline;
}
.dxcvFilterBarCheckBoxCell_Office2003Blue
{
    padding: 0 7px 0 3px;
}
.dxcvFilterBarImageCell_Office2003Blue
{
    padding: 0 1px 0 3px;
    cursor: pointer;
}
.dxcvFilterBarExpressionCell_Office2003Blue
{
    padding: 5px 5px 8px 0;
    white-space: nowrap;
}
.dxcvFilterBarClearButtonCell_Office2003Blue
{
    padding: 5px 6px 8px;
}
.dxcvFilterBuilderMainArea_Office2003Blue
{
    background: white none;
    padding: 6px 2px;
} 
.dxcvFilterBuilderButtonArea_Office2003Blue
{
    background-color: #CFE1F9;
    border-top: 1px solid #7BA4E0;
    padding: 6px;
    white-space: nowrap;
}

.dxcvControl_Office2003Blue .dxcvHFSAC
{
    padding: 10px 0 0 4px;
}
.dxcvControl_Office2003Blue .dxcvHFSC
{
    padding: 10px 0 7px;
}
.dxcvControl_Office2003Blue .dxcvHFSC div
{
    height: 1px;
    background: #002D96;
}
.dxcvControl_Office2003Blue div[id$='DXEPLPC']
{
    height: 43px;
}

.dxcvControl_Office2003Blue .dxcvHFSD
{
    height: 1px;
    margin: 2px 0;
}
.dxcvControl_Office2003Blue .dxcvHFDRC
{
    margin: 15px 15px 25px;
}
.dxcvControl_Office2003Blue .dxcvHFDRP
{
    margin-left: 15px;
    margin-right: 15px;
    padding: 9px 0 6px;
}
.dxcvControl_Office2003Blue .dxcvHFDRP[id*="HFFDE"]
{
    margin-top: 15px;
    margin-bottom: 5px;
}
.dxcvControl_Office2003Blue .dxcvHFDRP[id*="HFTDE"]
{
    margin-bottom: 25px;
}

/* Removes flicking in iOS Safari*/
.dxcvTable_Office2003Blue
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.dxcvSearchPanel_Office2003Blue
{
    background: #a4c6f8;
    padding: 7px 4px 7px 6px;
    border-bottom: 1px solid #4f93e3;
}
.dxcvSearchPanel_Office2003Blue > table 
{
    width: 70%;
    max-width: 450px;
}
.dxcvControl_Office2003Blue .dxcvSearchPanel_Office2003Blue .dxbButton_Office2003Blue
{
    margin-left: 7px;
    margin-right: 0;
}
*[dir="rtl"].dxcvControl_Office2003Blue .dxcvSearchPanel_Office2003Blue .dxbButton_Office2003Blue {
    margin-left: 0;
    margin-right: 7px;
}
.dxcvControl_Office2003Blue .dxcvHL
{
    background: #ffd83a;
    color: #333333;
    font-weight: bold;
    font-style: normal;
}

/* TODO remove (replace to command button style) */
.dxcvControl_Office2003Blue .dxcvSearchPanel_Office2003Blue .dxbButton_Office2003Blue
{
    font-size: 0.9em;
    margin-top: -2px;
    margin-bottom: -2px;
}
.dxcvControl_Office2003Blue .dxcvSearchPanel_Office2003Blue .dxbButton_Office2003Blue .dxb
{
    padding-top: 0;
    padding-bottom: 0;
}


.dxcvCard_Office2003Blue,
.dxcvFlowCard_Office2003Blue,
.dxcvEmptyCard_Office2003Blue,
.dxcvEmptyHiddenCard_Office2003Blue
{
    width: 250px;
    height: 180px;
    vertical-align: top;
}
.dxcvCard_Office2003Blue,
.dxcvFlowCard_Office2003Blue,
.dxcvEmptyCard_Office2003Blue
{
    border: 1px solid #4F93E3;
    background-color: #D5E6FC;
    color: #262626;
    outline: none;
}
.dxcvEmptyCard_Office2003Blue
{
    text-align: center;
    vertical-align: middle;
}
.dxcvEmptyHiddenCard_Office2003Blue
{
    border: 1px solid transparent;
    background-color: transparent;
}
.dxcvFlowCard_Office2003Blue,
div.dxcvEmptyCard_Office2003Blue
{
    display: inline-block;
    margin: 20px 0 0 20px;
    overflow: hidden;
}
.dxcvSelectedCard_Office2003Blue,
.dxcvFocusedCard_Office2003Blue
{
    border-color: #D9A364;
    outline: 3px solid #FFC076;
}
.dxcvFocusedCard_Office2003Blue
{
    background-color: White;
}
.dxcvCardHover_Office2003Blue
{
    border-color: #4F93E3;
    outline: 3px solid #CCE2FC;
}

.dxcvCard_Office2003Blue .dxflCaption_Office2003Blue,
.dxcvFlowCard_Office2003Blue .dxflCaption_Office2003Blue
{
    color: #7F7F7F;
}
.dxcvCard_Office2003Blue .dxflViewFormLayoutSys .dxflCommandItemSys,
.dxcvFlowCard_Office2003Blue .dxflViewFormLayoutSys .dxflCommandItemSys
{
    padding-top: 2px;
    padding-bottom: 2px;
}
.dxcvHeaderPanel_Office2003Blue
{
    background: #a4c6f8;
    border-bottom: 1px solid #4F93E3;
    padding: 2px 20px 8px 20px;
}
div.dxcvHeader_Office2003Blue
{
    display: inline-block;
    margin-right: 10px;
    margin-top: 8px;
}
.dxcvSummaryPanel_Office2003Blue
{
    background: #94B6E8;
    border-top: 1px solid #4F93E3;
    padding: 8px 21px;
}
.dxcvSummaryItem_Office2003Blue
{
    display: inline-block;
    margin: 5px 8px 5px 0;
}
.dxcvControl_Office2003Blue .dxcvSeparator_Office2003Blue,
.dxcvControl_Office2003Blue .dxcvSeparator_Office2003Blue div
{
    width: 20px;
    height: 20px;
}


.dxcvControl_Office2003Blue td.dxcvBatchEditCell_Office2003Blue
{
    padding: 0;
    outline-width: 0!important;
}
.dxcvControl_Office2003Blue .dxcvBatchEditModifiedCell_Office2003Blue
{
    background: #d7f9c7;
    outline-style: solid;
    outline-color: #d7f9c7;
    outline-width: 3px 0 2px 0;
}
.dxcvControl_Office2003Blue .dxcvErrorCell
{
    padding-left: 5px;
    width: 1px;
}
.dxcvControl_Office2003Blue .dxcvErrorCell img
{
    margin: -3px 0;
}
.dxcvStatusBar_Office2003Blue .dxbButton_Office2003Blue
{
    margin-right: 10px;
}
.dxcvControl_Office2003Blue td.dxcvBatchEditCell_Office2003Blue .dxichCellSys 
{
    padding-left: 0;
}
.dxcvControl_Office2003Blue .dxcvEMBC 
{
    background: white;
    text-align: center;
    padding: 20px;
    margin-top: -20px;
}
.dxcvCardError_Office2003Blue
{
    background-color: #FE9552;
    border-top: 1px solid #4F93E3;
    color: #FFFFFF;
    font-weight: bold;
    padding: 6px 13px;
}
