/* ----------------- Main ----------------- */
/* Loading panel */
.dxheLoadingPanel_iOS
{
	font: bold 18px 'Helvetica Neue', Helvetica, Verdana, sans-serif;
	color: Black;
	text-shadow: 0 -1px rgba(255, 255, 255, 0.5);
	border: 1px solid #A6A6A6;
	border: 1px solid rgba(0, 0, 0, 0.35);
	border-radius: 8px;
	border-collapse: separate !important;
	
	box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	-webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	
	background-clip: content-box;
	-webkit-background-clip: content-box;
	-moz-background-clip: content-box;
}
.dxheLoadingPanel_iOS td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 32px 29px;
	background-color: #E2E5EA;
}
.dxheLoadingPanel_iOS td.dx:first-child,
.dxheLoadingPanel_iOS[dir="rtl"] td.dx:last-child,
*[dir="rtl"] .dxheLoadingPanel_iOS td.dx:last-child
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.dxheLoadingPanel_iOS td.dx:last-child,
.dxheLoadingPanel_iOS[dir="rtl"] td.dx:first-child,
*[dir="rtl"] .dxheLoadingPanel_iOS td.dx:first-child
{
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.dxheLoadingPanel_iOS td.dx:first-child:last-child
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
.dxheLoadingPanel_iOS td.dx + td.dx
{
	-webkit-box-shadow: -1px 0px #E2E5EA;
}
*[dir="rtl"] .dxheLoadingPanel_iOS td.dx + td.dx
{
	-webkit-box-shadow: 1px 0px #E2E5EA;
}
.dxheLoadingPanel_iOS .dxlp-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height: 24px;
	width: 24px;
}

.dxheControl_iOS
{
    border: Solid 1px #AFB1B6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.dxtcLeftIndentCell_iOS,
.dxtcRightAlignCell_iOS
{
    display:none;
}

.dxtcActiveRow_iOS 
{
    height: 42px;
}

.dxtcActiveRow_iOS > TBODY >TR > TD > TABLE 
{
    width:100%;
}
/* Area */
.dxheContentArea_iOS
{
}
.dxheErrorFrame_iOS
{
    font: bold 13px 'Helvetica Neue', Helvetica, Verdana, sans-serif;
    color: #D00707;
    background-color: #FBC7C7;
    border-bottom: solid 1px #DEC0C0;
}
.dxheControl_iOS .dxeMemo_iOS .dxheErrorFrame_iOS .dxhe,
.dxheControl_iOS.dxhe-rtl .dxeMemo_iOS .dxheErrorFrame_iOS .dxhe,
.dxheErrorFrame_iOS .dxhe {
    padding: 5px;
}
.dxheControl_iOS .dxeMemo_iOS .dxheErrorFrame_iOS .dxhe td,
.dxheControl_iOS.dxhe-rtl .dxeMemo_iOS .dxheErrorFrame_iOS .dxhe td,
.dxheErrorFrame_iOS .dxhe td {
    padding: 0px;
}
.dxheErrorFrame_iOS .dxheErrorFrameCloseButton_iOS {
    cursor: pointer;
}
.dxheViewArea_iOS,
.dxheHtmlViewArea_iOS
{
    padding: 0px!important;
    border-color:Transparent!important;
    box-shadow: none!important;
}

.dxhePreviewArea_iOS
{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.dxheDesignViewArea_iOS,
.dxhePreviewArea_iOS 
{
    background-color: #FFFFFF;
}
.dxheControl_iOS .dxheHtmlViewArea_iOS,
body.dxheDesignViewArea_iOS,
body.dxhePreviewArea_iOS 
{
    margin: 0px;
    background-color: #FFFFFF;
    background-image: none;
    font-size: smaller;
    font: 12px Arial, Helvetica, sans-serif;
}
.dxheControl_iOS .dxeMemo_iOS.dxheHtmlViewArea_iOS .dxeMemoEditArea_iOS,
body.dxheDesignViewArea_iOS,
body.dxhePreviewArea_iOS
{
    padding: 15px 20px 0 20px !important;
}
.dxheControl_iOS .dxeMemo_iOS.dxheHtmlViewArea_iOS td
{
    padding: 0 40px 0 0;
}
.dxheControl_iOS.dxhe-rtl .dxheContentArea_iOS .dxeMemo_iOS.dxheHtmlViewArea_iOS td
{
	padding: 0 0 0 40px;
}
.dxheControl_iOS .dxeMemo_iOS textarea 
{
	resize:none;
}
.dxheControl_iOS .dxheDesignViewArea_iOS .dxm-main.dxmtb 
{
    border: 1px solid #A6A6A6;
}
.dxheControl_iOS td.dxheDesignViewArea_iOS
{
    position: relative;
}
.dxheControl_iOS .dxheDesignViewArea_iOS .dxm-main.dxtbControl_iOS
{
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 4px;
}
.dxheDesignViewArea_iOS .dxmLite_iOS {
    position: absolute;
    right: 0;
    padding-top: 5px;
    padding-right: 22px;
}
td.dxheDesignViewArea_iOS .dxmLite_iOS.dxm-rtl {
    right: inherit;
    padding-right: 0px;
    padding-left: 5px;
}
.dxheViewArea_iOS .dxheAudio
{
	background-image: url('dxheAudio.png');
}
.dxheViewArea_iOS .dxheFlash
{
	background-image: url('dxheFlash.png');
}
.dxheViewArea_iOS .dxheVideo
{
	background-image: url('dxheVideo.png');
}
.dxheViewArea_iOS .dxheYoutube
{
	background-image: url('dxheYoutube.png');
}
.dxheViewArea_iOS img.dxheNotSupported
{
	background-image: url('dxheNotSupported.png');
}
.dxheViewArea_iOS img.dxheAudio,
.dxheViewArea_iOS img.dxheFlash,
.dxheViewArea_iOS img.dxheVideo,
.dxheViewArea_iOS img.dxheYoutube,
.dxheViewArea_iOS img.dxheNotSupported
{
    background-repeat: no-repeat;
    background-position: center;
    background-color: #cfcfcf;
    border: 1px dotted #FFFFFF;
    opacity: 0.8;
}
.dxheViewArea_iOS .dxhePlaceholder 
{
    cursor: default;
    white-space: nowrap;
}
.dxheViewArea_iOS.dxheDesignViewArea_iOS .dxheSelected
{
    background-color: #0587F4;
    color: white;
}
.dxhe-insertPlaceholder .dxeListBox_iOS.dxeFocused_iOS
{
    border: 1px solid #AFB1B6;
}
div.dxflFormLayout_iOS.dxhe-dialog.dxhe-insertPlaceholder > table.dxhe-dialogLG.dxflGroupSys
{
    padding: 20px 40px 30px 40px;
}
.dxhe-insertPlaceholder .dxflGroup_iOS .dxhe-dialogLI.dxhe-dialogButtonsContainer
{
    padding-top: 13px;
}
.dxhe-insertPlaceholder .dxeListBox_iOS,
.dxhe-insertPlaceholder .dxeListBox_iOS .dxlbd
{
    width: 260px;
    height: 250px;
}
/* CodeMirror */
.dxheHtmlViewArea_iOS .CodeMirror-activeline-background 
{
    background: #E9F6F8;
}
.dxheHtmlViewArea_iOS .CodeMirror-foldgutter-open::after
{
    content: url('heFoldGutterOpen.png');
}
.dxheHtmlViewArea_iOS .CodeMirror-foldgutter-folded::after
{
    content: url('heFoldGutterFolded.png');
}
.dxheHtmlViewArea_iOS .CodeMirror-foldmarker::after
{
    content: url('dxheFoldMarker.png');
}
/* Element appearance in DesignView */
body.dxheDesignViewArea_iOS table.dxEmptyBorderTable,
body.dxheDesignViewArea_iOS table.dxEmptyBorderTable td {
    border:1px dotted gray;
}
@media print 
{
	body.dxheDesignViewArea_iOS table.dxEmptyBorderTable,
	body.dxheDesignViewArea_iOS table.dxEmptyBorderTable td {
		border:0px;
	}
}
body.dxheDesignViewArea_iOS
{
    word-wrap: inherit;
}
body.dxheDesignViewArea_iOS pre
{
    word-wrap: break-word;
    white-space: pre-wrap;
}
/* Status Bar */
.dxheStatusBar_iOS 
{
}
.dxheStatusBarTab_iOS 
{    
}
.dxHtmlEditor_heSizeGrip_iOS
{
    cursor: se-resize;
}
.dxHtmlEditor_heSizeGripRtl_iOS
{
    cursor: ne-resize;
}
.dxheSizeGripContainer_iOS 
{
    width: 100%;
    text-align: right;
    font-size: 0;
    margin-top: -32px;
}
.dxheControl_iOS.dxhe-rtl .dxheSizeGripContainer_iOS
{
	text-align: left;
}
/* ----------------- Toolbar ----------------- */
.dxheControl_iOS.dxhe-rtl .dxtb-comboBoxMenuItem > DIV > TABLE > TBODY > TR:first-child > TD:last-child
{
    display: inline;
}
.dxtbControl_iOS .dxm-main 
{
    padding: 3px;
}
.dxheControl_iOS .dxrControl_iOS .dxtcLite_iOS .dxtc-stripContainer .dxtc-spacer
{
    width: 2px;
}
.dxheControl_iOS .dxrControl_iOS .dxr-tabContent
{
    border-width: 0 0 1px 0;
}
.dxheControl_iOS .dxrControl_iOS .dxr-minBtn
{
    padding-right: 3px;
}
.dxheControl_iOS .dxtbControl_iOS.dxtbr_iOS
{
    border-width: 0;
}

/* ----------------- Dialog Forms ----------------- */
.dxpcLite_iOS .dxheDlgFooter,
.dxpcLite_iOS .dxheCustomDialog_iOS .dxhecd-Buttons
{
	padding: 10px 11px;
	text-align: right;
}
.dxpcLite_iOS.dxRtl .dxheDlgFooter,
.dxpcLite_iOS.dxRtl .dxheCustomDialog_iOS .dxhecd-Buttons
{
    text-align: left;
}
.dxpcLite_iOS .dxheDlgFooterBtn
{
    width: 80px;
    margin-left: 8px;
}
.dxpcLite_iOS.dxRtl .dxheDlgFooterBtn
{
    margin-right: 8px;
    margin-left: 0;
}
.dxpcLite_iOS .dxheDlgCaptionCell
{
    padding-top: 10px!important;
}

.dxpcLite_iOS .dxheDlgInsertTableForm .dxrpControl_iOS,
.dxpcLite_iOS .dxheDlgTableColumnPropertiesForm .dxrpControl_iOS
{ 
    width: 100%!important; 
}

.dxheDlgInsertTableForm .dxeButtonEdit_iOS,
.dxheDlgTableColumnPropertiesForm .dxeButtonEdit_iOS 
{ 
    width: 170px!important; 
}
.dxpcLite_iOS .dxheDlgInsertImageForm .dxheDlgImageSizeEditorsCell .dxeButtonEdit_iOS { width: 130px!important; }

.dxpcLite_iOS .dxheDlgInsertTableForm .dxrp.dxrpcontent,
.dxpcLite_iOS .dxheDlgInsertImageForm .dxrp.dxrpcontent,
.dxpcLite_iOS .dxheDlgTableColumnPropertiesForm .dxrp.dxrpcontent
{
    border-bottom: none;
}

.dxpcLite_iOS .dxheDlgInsertImageForm .dxheDlgImagePreviewCell
{
    color: #737373;
    border: dashed 1px #cac8c8;
}
.dxpcLite_iOS .dxheDlgPasteFromWordForm .dxheDlgPasteContainerCell td
{
	border: Solid 1px #B2B2B2;
}
/*----------------- Toolbars -----------------*/
.dxtbSpacing_iOS
{
	height: 1px;
}
.dxtbControl_iOS 
{
	font: bold 13px 'Helvetica Neue', Helvetica, Verdana, sans-serif;
	color: black;
	background-color: #F0F2F4;
    border-bottom: Solid 1px #E0E0E0;
}
.dxtbControl_iOS td.dxmMenu_iOS
{
	border: 0px;
}
.dxtbControl_iOS .dxmLite_iOS .dxm-horizontal.dxmtb .dxm-content 
{
    padding: 14px 5px 4px;
}
.dxtbControl_iOS .dxmLite_iOS .dxmtb.dxm-horizontal .dxm-image
{
	margin: 0 8px 7px;
}
.dxtbControl_iOS .dxm-horizontal.dxmtb .dxm-dropDownMode .dxtcbColorDiv_iOS
{
    margin-bottom: -1px;
}
.dxheControl_iOS .dxtbControl_iOS,
.dxheControl_iOS .dxm-main 
{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

/* ToolbarColorButton */
.dxtcbControl_iOS 
{ 
    margin: 6px 8px 2px;
}
.dxtcbColorDiv_iOS
{
	width: 16px;
	height: 4px;
	font-size:0px;
	background-color: Red;
}

/*----------------- RoundPanel -----------------*/
.dxheRP.dxrpControl_iOS .dxrpcontent
{
    padding: 9px 8px;
}

/* InsertMediaDialogs */
.dxflFormLayout_iOS .dxhe-dialogSettings 
{
    width: 400px;
    padding-left: 20px;
}
.dxflFormLayout_iOS.dxhe-mediaDialog 
{
    width: 1050px;
}
.dxflFormLayout_iOS.dxhe-mediaDialog .dxic-control, 
.dxflFormLayout_iOS.dxhe-mediaDialog .dxhe-dialogSettings 
{
    height: 800px;
}
div.dxflFormLayout_iOS.dxhe-dialog table.dxhe-dialogLG
{
    padding-left: 40px;
    padding-right: 40px;
}
div.dxflFormLayout_iOS.dxhe-dialog > table.dxhe-dialogLG.dxflGroupSys,
div.dxflFormLayout_iOS.dxhe-dialog .dxhe-dialogButtonsContainer  
{
    padding: 20px;
}
div.dxflFormLayout_iOS.dxhe-mediaDialogStyleSettings > table.dxhe-dialogLG.dxflGroupSys,
div.dxflFormLayout_iOS.dxhe-mediaDialogMainSettings > table.dxhe-dialogLG.dxflGroupSys
{
    padding: 40px;
}
/* tag inspector */
.dxheDesignViewArea_iOS .dxhe-tiSelection 
{
    box-sizing: border-box;
    position: absolute;
    border: 1px solid #2255FF;
    background-color: #0066FF;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    opacity: 0.3;
}

.dxhe-intelliSenseSysWin .dxeListBox_iOS.dxeFocused_iOS
{
    border-color: #AFB1B6;
}
