.dxCardView_gvCellError_DevEx,
.dxCardView_gvFilterRowButton_DevEx,
.dxCardView_gvHeaderFilter_DevEx,
.dxCardView_gvHeaderFilterActive_DevEx,
.dxCardView_gvHeaderSortDown_DevEx,
.dxCardView_gvHeaderSortUp_DevEx
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxCardView_gvCellError_DevEx
{
    background-position: 0px -32px;
    width: 14px;
    height: 14px;
}
.dxCardView_gvFilterRowButton_DevEx
{
    background-position: 0px -47px;
    width: 13px;
    height: 13px;
}
.dxCardView_gvHeaderFilter_DevEx
{
    background-position: 0px 0px;
    width: 15px;
    height: 15px;
}
.dxCardView_gvHeaderFilterActive_DevEx
{
    background-position: 0px -16px;
    width: 15px;
    height: 15px;
}
.dxCardView_gvHeaderSortDown_DevEx
{
    background-position: -8px -61px;
    width: 7px;
    height: 5px;
}
.dxCardView_gvHeaderSortUp_DevEx
{
    background-position: 0px -61px;
    width: 7px;
    height: 5px;
}

